<%inherit file="/template.html" />
<%namespace name="components" file="/components.html" />
<%namespace name="badge_tiles" file="/badge/tiles.html" />
<%def name="title()">${c.form_title}</%def>

<%def name="breadcrumbs()">
    ${h.tag.breadcrumbs(None)|n}
</%def>

<%block name="main_content">

${self.form()}
</%block>

<%def name="form()">
  <% h.need.spectrum %>
  <form name="update_badge" class="inplace" method="POST">

      ${components.flashmessages()}

      <h2>
          %if c.form_type == 'create':
              %if c.badge_type == 'instance':
              ${_('Add instance badge')} 
              %elif c.badge_type == 'user':
              ${_('Add user badge')}
              %elif c.badge_type == 'delegateable':
              ${_('Add delegateable badge')}
              %elif c.badge_type == 'category':
              ${_('Add category badge')}
              %endif
              %elif c.form_type == 'update':
          %if c.badge_type == 'user':
              ${_('Edit user badge')}
              %elif c.badge_type == 'delegateable':
              ${_('Edit delegateable badge')}
              %elif c.badge_type == 'category':
              ${_('Edit category badge')}
              %endif
          %endif
      </h2>

    ${h.field_token()|n}

    <label for="badge_form_title" class="">${_("Badge title")}</label>
    <input name="title" id="badge_form_title" class="" style="width:20em"
           value="" autofocus />

    <label for="description" class="">${_("Badge description")}</label>
    <textarea name="description" id="description" 
              style="width:90%; height: 10em"></textarea>

    <label for="color" 
           class="">${_("The color that is used to show the badge")}</label>
    <input name="color" style="width: 8em" id="color" class=""
           value=""/>
    <span class="hint only-no-js">${_("Like '#a4a4a4'")}</span>
    <span id="badge-preview" class="hidden">
        ${_('Preview:')} &nbsp;&nbsp; ${badge_tiles.badge('dummy')}
    </span>
    <script>
        $(document).ready(function() {
            adhocracy.helpers.initializeBadgeColorPicker('#color', '#badge_form_visible', '#badge_form_title', '${h.site.domain()}.colors.badge')})
    </script>
    
    <input type="checkbox" name="visible" id="badge_form_visible" />
    <label for="badge_form_visible" style="display: inline;" title="${_('Check to hide badge in user interface')}">${_("visible")}</label>

    %if c.badge_type == 'user':
    <label for="group" class="">
        ${_("Group")}
    </label>

    <select name="group"> 
        <option value="">${_("No Group")}</option>
        %for group in c.groups:
        <option value="${group.code}">${group.group_name}</option>
        %endfor
    </select>
    %if h.has_permission('global.admin'):
    <span class="hint">${_("Automatically assign all users with this badge to the selected group for all instances in the adhocracy site.")}</span>
    %else:
    <span class="hint">${_("Automatically assign all users with this badge to the selected group.")}</span>
    %endif

    <label for="display_group"
           class="">${_("Display group in instances")}</label>
    <input type="checkbox"  name="display_group" id="display_group" />
    <span class="hint">${_("Display this badge instead of the normal user group.")}</span>
    %endif

    %if h.has_permission('global.admin'):
    <label for="instance" class="">
        Instance
    </label>
    <select name="instance">
        <option value="">${_('Global')}</option>
        %if c.instance is not None:
        <option value="${c.instance.key}">${c.instance.label}</option>
        %endif
    </select>
    %else:
    <input type="hidden" name="instance" value="${c.instance.key}" />
    %endif

    %if c.badge_type == 'category':
    <label for="parent" class="">${_("Parent Badge")}</label>
    <select name="parent">
        <option value="">${_('No Parent Badge')}</option>
        %if h.has_permission('global.admin'):
        <optgroup label="${_('Global categories')}">
        %for (id, title) in c.global_category_parents:
        <option value="${id}">${title}</option>
        %endfor
        </optgroup>
        %if c.instance:
        <optgroup label="${_('Local instance categories')}">
        %endif
        %endif
        %for (id, title) in c.local_category_parents:
        <option value="${id}">${title}</option>
        %endfor
        %if h.has_permission('global.admin'):
        </optgroup>
        %endif
    </select>  
    
    <label for="select_child_description" class="">${_("Description to select children of this badge (irrelevant if this badge doesn't have any children)")}</label>
    <input name="select_child_description" id="badge_select_child_description" class="" style="width:20em"
           value="" />
    %endif

    <div class="mainbar">
      ${components.savebox(c.base_url, _('Save Badge'))}
    </div>
  </form>

</%def>
