<%def name="badge(badge, force_visible=False)">
<%
if badge == 'dummy':
    description = ''
    badge_id = 'dummy'
    badge_title = 'badge'
else:
    description = badge.description.strip()
    badge_id = badge.id
    badge_title = badge.title
    if not badge.visible and not force_visible:
        return ''
%>
    <span class="abadge badge_${badge_id}">
        <span class="${description and 'ttip' or ''}" 
           title="${description}">${badge_title}</span>
    </span>
</%def>

<%def name="badges(badges)">
    %for badge_ in badges:
        ${badge(badge_)} 
    %endfor
</%def>

<%def name="badge_styles(badges)">
<style type="text/css" media="screen">
    %for badge_ in badges:
    .badge_${badge_.id}.abadge:before { color: ${badge_.color}; }
    %endfor
</style>

</%def>

<%def name="badge_selector(badges, field_name)">
%for b in badges:
    <label>
    <input type="checkbox" name="${field_name}" value="${b.id}"/>
    ${badge(b, force_visible=True)}
    </label>
%endfor
</%def>

