<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${c.tag.name}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance)|n} &raquo; ${_("Tag")} &raquo; ${c.tag.name}
</%def>

<div class="top_actions title">
	%if h.has_permission('proposal.create'):
		<a class="button add ttip" title="${_('Introduce a new idea to debate.')}" href="/proposal/new">${_("new proposal")}</a>
	%endif
	
	${components.watch(c.tag)}
</div>

<h1 class="page_title"><img src="/img/icons/tag_24.png" class="cd" /> ${_("Proposals tagged '%s'") % c.tag.name}</h1>


<div class="sidebar">
	
	%if len(c.cloud_tags):
		<h3 class="section">${_("Similar tags")}</h3>
		${tiles.tag.cloud(c.cloud_tags)}
	%endif
	
	%if c.instance.allow_adopt:
		<h3 class="section">${_("Filter by state")}</h3>
		<ul>
			<li><a href="${c.proposals_pager.serialize(proposals_state='draft')}">${_("Draft")}</a></li>
			<li><a href="${c.proposals_pager.serialize(proposals_state='polling')}">${_("Polling")}</a></li>
			<li><a href="${c.proposals_pager.serialize(proposals_state='adopted')}">${_("Adopted")}</a></li>
		</ul>
	%endif
	
	<h3 class="help">${_("Help")}</h3>
	<ul>
		<li><a href="/page/tag_faq.html#whatis">Was ist ein Tag?</a></li>
		<li><a href="/page/proposal_faq.html#whatis">Was ist ein Vorschlag?</a></li>
		<li><a href="/page/tag_faq.html">${_("More help...")}</a></li>
	</ul>
</div>

<div class="mainbar">
	<div id="proposals_table" class="table">
		${c.proposals_pager.here()}
	</div>
</div>

