
<%def name="row(tile, tag)">
    <div class="tile">
        <div class="base" style="background-image: url(/img/icons/tag_24.png);">
            <h3><a class="link" href="${h.entity_url(tag)}">${tag.name}</a></h3>
            <div class="meta noclear">
                ${_("created %s") % h.relative_time(tag.create_time)|n} 
                %if c.instance:
                     ·   ${_("used %s times") % len(tag)}
                %endif
            </div>
        </div>
    </div>
</%def>


<%def name="cloud(tags, plain, show_count, link_more)">
    <p>
    %for (tag, count, size) in tags:
        ${h.tag.link(tag, count=0 if not show_count else count, size=size, plain=plain)|n}
    %endfor
    </p>
    %if link_more:
    <div align="right">
        <div class="help">${h.help_link(_("help"), 'tag_faq')|n} ·</div> <a href="/tag">${_("more tags...")}</a>
    </div>
    %endif
</%def>

<%def name="sidebar(delegateable)">
    <h6>${_("Tagged with")}</h6>
    <p>
        %if len(delegateable.tags):
        ${", ".join([h.tag.link(tag, simple=True) for 
                     (tag, count) in delegateable.tags])|n}
        %else:
        ${_('Not tagged yet')}
        %endif
    </p>
    <%doc>
    ## FIXME: Reimplement Tagging
    <div class="showjs"> 
        %if can.tag.create():
        <a href="#" onclick="return adhocracy.addTags();">${_("add tags...")}</a>
        %endif
    </div>
    <div>
        %if can.tag.create():
        <div class="addtags hidejs">
            <form action="/tag" method="POST">
                ${h.field_token()|n}
                <input name="delegateable" type="hidden" value="${delegateable.id}" />
                <input name="tags" type="tags" id="tags" autocomplete="off" />
                <span class="hint">${_("Multiple tags can be separated by commas or spaces.")}
                    ${h.help_link(_("Help."), 'tag_faq')|n}</span>
                <input type="submit" value="${_("Add tags")}" />
                </form>
        </div>
        %endif
    
    </div>
</%doc>
</%def>

<%def name="widget(delegateable)">

## FIXME: Reimplement Tagging
%if can.tag.create():

<form action="/tag" method="POST">
    ${h.field_token()|n}
    <input name="delegateable" type="hidden" value="${delegateable.id}" />
    <select data-placeholder="${_('Add tags')}"
            class="chzn-select">
    </select>
    <input name="tags" type="tags" id="tags" autocomplete="off" />
    <span class="hint">${_("Multiple tags can be separated by commas or spaces.")}
    ${h.help_link(_("Help."), 'tag_faq')|n}</span>
    <input type="submit" value="${_("Add tags")}" />
</form>


%endif
</%def>
