/* @group HTML Element Defs */

body, td, input, button, textarea, select {
    font-family: Arial, Helv, Helvetica, Verdana, sans-serif;
    font-size: 101%;
}

div, body, ul, li, button {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-color: #fff;
    line-height: 1;
    color: black;
}

:focus { outline: 0; }

ul { list-style: none; }

a {
    color: #31505F;
    text-decoration: none;
}

a img { border: 0px; }

a:hover {
    text-decoration: underline;
}

time {
    border-bottom: none;
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 13pt;
}

h3, h3.ui-accordion-header {
    font-size: 12pt;
}

h4, h5, h6 {
    font-size: 10pt;
}

h1, h2, h3 {
    padding-bottom: 0.3em;
    margin-bottom: 0.7em;
    width: inherit;
}

/*h3 {
    margin-left: 20px;
}*/

h1 a:hover,
h2 a:hover,
h3 a:hover {
    text-decoration: none;
}

h1.page_title {
    border-bottom: 0px;
    background: #fff;
    width: 960px;
    padding: 15px 20px 20px;
    margin-top: -10px;
    /*display: block;*/
}

h1.page_title.with_vote {
    padding: 20px 50px 20px;
}

h1 img.cd,
h2 img.cd,
h3 img.cd,
h4 img.cd,
.page_title img.cd {
    float: left;
    padding-right: 5px;
}

h3.section {
    margin-top: 0px;
}

pre {
    margin: 0px;
}

.help h3, h3.section {
    border-bottom: 0px;
    margin-left: 0;
}

.page_title img {
    margin-top: -4px;
}

.smallarea {
    min-height: 4em;
}

/* @end */

/* @group Form Elements */

button {
    color: #336699;
    text-align: left;
    cursor: pointer;
    background-color: inherit;
}

button img {
    margin-top: 5px;
}

textarea {
    width: 98%;
    min-height: 10em;
}

label {
    display: block;
    padding-top: 7px;
    font-weight: bold;
}

input,
textarea {
    border:  1px solid #ccc;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 9pt;
    background-image: url(/img/comment_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

input[type='hidden'] {
    display: none;
}

input:focus,
input:hover,
#page_title input:focus,
#page_title input:hover,
textarea:focus,
textarea:hover {
    border:  1px solid #999;
    background-color: #ffe;
}

input[type=submit],
input[type=button],
.savebox button {
    display: block;
    margin-top: 5px;
    padding:  5px;
    background-color: #1553a4;
    color:  #fff;
    font-weight: bold;
    border: 0px;
    min-width: 6em;
    background-image: url(/img/menu_bg.png);
    background-position: top;
    background-repeat: repeat-x;
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
}

input.delete {
    background-color: #9d0000;
}

input.long {
    width: 98%;
}

input:hover[type=submit],
input:hover[type=button],
.savebox button:hover {
    background-color: #0e3870;
    background-image: url(/img/menu_bg.png);
    background-position: top;
    background-repeat: repeat-x;
}

input.delete:hover {
    background-color: #6b0001;
}

#page_title input {
    background-image: url(/img/comment_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.live_search {
    width: 94.5%;
    padding: 0.3em;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0.5em;
    background-image: url(/img/icons/search.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 24px;
}

input[type=file] {
    border: 0px;
}

.openid_url {
    background-image:url(/img/icons/openid.gif);
    background-position:2px 3px;
    background-repeat:no-repeat;
    padding-left: 19px;
}

input.title {
    font-size: 16pt;
    display: block;
    width: 92%;
    padding: 7px 5px;
    margin: 0;
    border: 1px solid #666;
}

.hint,
.formatting {
    font-size: 11px;
    color: #666;
    display: block;
    padding: 0px;
    padding-left: 0px;
}

.formatting {
    float: right;
}


.savebox {
    padding-top: 20px;
    padding-bottom: 20px;
}

.savebox button,
.savebox a {
    font-weight: bold;
}

.savebox button {
    padding: 0.2em;
    padding-bottom: 0.4em;
    min-width: 6em;
    text-align: center;
    display: inline-block;
}

input.watch {
    margin-top: 10px;
}

#register_input_css {
    margin-left: 3000px;
    position: absolute;
}

/* @end */

/* @group Page Layout */

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
}

#frame {
    margin-bottom: -145px;
    padding-bottom: 0px;
    overflow: visible;
    padding-top: 15px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#page {
    width: 1000px;
    margin: 0em auto 0em auto;
    padding-top: 0em;
    clear: both;
    padding-bottom: 20px;
    text-align: left;
}

#breadcrumbs {
    background: #fff;
    font-weight: normal;
    font-size: 0.8em;
    width: inherit;
    padding: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 0 0 0;
    width: 960px;
    /*border-bottom: 1px solid #e0e0e0;*/
    /*letter-spacing: 0.1em;*/
}

#breadcrumbs,
#breadcrumbs a {
    color: #777;
}

.user_link {
    white-space: nowrap;
}

.user_icon, .dgb_icon {
    margin-bottom: -4px;
}

.user_icon {
    width: 16px;
    height: 16px;
}

.tag_link {
    font-weight: bold;
}

.tag_link a {
    display: inline-block;
    /*margin-top: -4px;
       margin-bottom: -4px;*/
    margin-bottom: 2px;
    padding: 2px;
    background-color: #e1eefd;
    /*color: #b36441;*/
    border: 1px solid #dfdfdf;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    font-weight: normal !important;
    font-size: 12px !important;
    white-space: nowrap;
}

.tag_link a:hover {
    text-decoration: none;
    color: #e1eefd;
    background-color: #336699;
}

.tag_link.plain a {
    background-color: transparent;
    line-height: 1.2em;
    border: 0px solid white;
    padding: 0px;
    margin: 0px;
}

.tag_link.plain a:hover {
    text-decoration: underline;
    color: #336699;
}

.clearboth {
    clear: both;
}

.lefthalf h3 {
    width: 100%;
}

.lefthalf, .righthalf {
    overflow: hidden;
    display: block;
    width: 460px;
}

.lefthalf {
    float: left;
    margin: 0 auto 0 0;
    padding: 1em;
    background: #fff;
}

.righthalf {
    margin: 0 0 0 auto;
    background: #fff;
    padding: 1em;
}

#sidebar, .sidebar {
    float: right;
    margin: 0 20px;
    padding: 1em;
    width: 300px;
    max-width: 300px;
    overflow: hidden;
}

.mainbar {
    width: 600px;
    margin: 0 20px 0 0;
    padding: 1em;
    background: #fff;
}

/* @end */

/* @group Header */

#globalheader {
    width: inherit;
    min-height: 1.35em;
    padding-top: 0.5em;
    background: url(/img/service_hintergrund.gif) repeat-x;
    font-family: Georgia, Times New Roman, Times, serif;
    /*font-size: 1.1em;*/
    /*
       background-image: url(/img/hdr_bg.png);
       background-repeat: repeat-x;
       background-position: bottom;
       */
}

#globalheader img {
    margin-top: -2px;
    margin-bottom: -4px;
}

#globalheader #navigation {
    text-align: left;
}

#globalheader #account {
    float: right;
    text-align: right;
}

#globalheader #navigation a, #globalheader #account a {
    color: #fff;
}

#globalheader #navigation a {
    margin-right: 1em;
}

#globalheader #account a {
    margin-left: 1em;
}

#globalheader #navigation a:hover {
    text-decoration: none;
}

#globalheader #navigation a.ttip:hover, #globalheader #navigation .help a:hover {
    text-decoration: underline;
}

#banner {
    width: 960px;
    text-align: right;
    margin: 10px 0 0 -20px;
    background: white url(/img/header_logo.png) no-repeat left center;
    height: 64px;
    padding: 20px 20px;
}

#banner img {
    margin: 0;
}

#instanceheader {
    margin-top: 15px;
    background: #e7ebec;
    font-family: Georgia, Times New Roman, Times, serif;
}

#instanceheader .headerbox,
#globalheader .headerbox {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75em;
}

#instanceheader .headerbox,
#instanceheader .headerbox.error {
    position: relative;
    min-height: 39px;
    background: none;
    border: none;
}

#instanceheader .headerbox a.area_shown,
#instanceheader .headerbox a.active,
#instanceheader .headerbox.instance a.instance,
#instanceheader .headerbox.proposal a.proposal,
#instanceheader .headerbox.selection a.proposal,
#instanceheader .headerbox.static a.instance,
#instanceheader .headerbox.page a.page,
#instanceheader .headerbox.page a.page,
#instanceheader .headerbox.user a.user{
    color: #000;
    font-weight: bold;
    font-size: 0.95em;
    text-decoration: none;
    background: #fff bottom left no-repeat !important;
}

#instanceheader #menu {
    float: left;
    margin: 12px 0 0 -23px;
}

#instanceheader #menu-links {
    display: inline-block;
}

#instanceheader #logo {
    display: none;
}

#instanceheader #menu ul {
    display: inline-block;
}


#instanceheader #searchform {
    float: right;
    margin: 22px 0 0;
}

#instanceheader #menu ul li a,
#instanceheader #search {
    background: #fff bottom left no-repeat;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    min-width: 15em;
    padding:11px 2em;
    margin: -1em 0em 0em -0.5em;
}

#instanceheader #search {
    font-weight: normal;
    text-shadow: none;
    background: #fff url(/img/schnellsuche_submit.gif) center right no-repeat !important;
    padding-left: 24px;
    font-size: 11px;
    border: none;
    min-width: 10em;
    padding: 1px 2.5em 1px 1em;
    font-family: Georgia, Times New Roman, Times, serif;
}

#instanceheader #menu-links ul li a:hover {
    background: #fff bottom left no-repeat;
    text-decoration: none;
    /*border: 1px solid #1553a4;*/
    text-shadow: none;
}

#instanceheader #menu-links ul li:first a {
    background: #fff bottom left no-repeat !important;
}

#instanceheader #menu-links ul li:first a:hover {
    background: #fff bottom left no-repeat !important;
}

#instanceheader #menu ul {
    margin-top: 0px;
    margin-right: 20px;
    list-style: none;
    display: inline;
}

#instanceheader #menu ul li {
    display: inline-block;
}

/* @end */

/* @group Footer */

#footer {
    clear: both;
    margin-top: 123px;
    font-size: 0.75em;
    padding: 1em 0em;
    color: #E7EBEC;
    overflow: hidden;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: #445052 url(/img/footer_hintergrund.gif) top repeat-x;
    font-family: Georgia, Times New Roman, Times, serif;
}

#footer a {
    color: #E7EBEC;
}

#footer strong {
    padding-bottom: 3px;
}

#footer a.nolink {
    text-decoration: none;
}

#footer #links {
    text-align: left;
    width: 960px;
    margin: 20px auto 0;
    /*margin-left: 2em;
       margin-right: 2em;*/
    line-height: 1.5em;
    text-transform: lowercase;
}

#footer ul {
    float: left;
    width: 200px;
}

#footer #links #button {
    float:  left;
    padding-right: 10px;
    margin-top: -2px;
}

#footer #license {
    float:  right;
    text-align: right;
}

#footer #license img {
    padding-top: 10px;
}

/* @end */

/* @group Error Messages */

.error-message {
    background: url(/img/icons/cancel.png) top left no-repeat;
    padding-left: 20px;
    display: block;
    padding-top: 2px;
    margin-bottom: -3px;
    color: #de5614;
}

.error, .error:hover, .error:focus {
    border: 2px solid #de5614;
    background-color: #fcea9a;
}

.warning_box,
.flash_messages {
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(/img/icons/info_16.png);
    background-color: #9D0000;
    padding: 0.8em;
    padding-left: 48px;
    display: block;
    font-size: 1.0em;
    color: white;
}


.infobox {
    padding: 10px;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    background-color: #fdfbc0;
    border: 1px solid #e7e5a3;
    line-height: 1.3em;
    color: #333;
    margin: 0.2em;
    margin-top: 5px;
}

.flash_messages {
    /*border: 1px solid #de5614;*/
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.flash_messages.success {
    background-color: #e6efc2;
    border-color: #c6d880;
    color: #264409;
    background-image: url(/img/icons/flash_success_16.png);
}

.flash_success_messages.notice {
    background-color: #d5edf8;
    border-color: #92cae4;
    color: #205791;
    background-image: url(/img/icons/flash_notice_16.png);
}

.flash_messages.warning {
    background-color: #fff6bf;
    border-color: #ffd324;
    color: #514721;
    background-image: url(/img/icons/flash_warning_16.png);
}

.flash_messages.error {
    background-color: #ffdfdf;
    border-color: #fbc2c4;
    color: #8a1f11;
    background-image: url(/img/icons/flash_error_16.png);
}

.help {
    display: inline;
}

/* @end */

/* @group Typography */

.content {
    overflow-x: hidden;
    font-size: 10pt;
    /*padding: inherit;
       padding-left: 10px;
       padding-right: 10px;*/
}

#content {
    background: url(/img/sidebar_background.png) repeat top right;
}
.content p {
    line-height: 1.3em;
}

.content ul {
    list-style-type: square;
    list-style-position: inside;
}

.content ul li,
.content ol li {
    margin: 5px;
    margin-right: 7px;
    line-height: 1.2em;
    list-style-position: outside;
    margin-left: 20px;
}

code.varname, b.varname {
    font-family: Georgia, Times New Roman, Times, serif;
}

b.status_quo {
    color: #C68E17;
    font-weight: bold;
}

.line_based tr,
.line_based td {
    padding: 0em;
    margin: 0em;
}

.line_based tr td {
    font-family: Arial, Helv, Helvetica, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    overflow: hidden;
}

.list_diff .line_based tr td {
    font-size: 0.9em;
}

.line_based tr td.line_number {
    color: #aaa !important;
    text-align: right;
    padding-right: 0.5em !important;
}

.normedit {
    width: inherit;
    font-family: Arial, Helv, Helvetica, Verdana, sans-serif;
    font-size: 0.9em;
    line-height: 1.3em;
}

ins, ins * {
    color: green;
    background-color: #e9fde8;
    font-weight: bold;
    text-decoration: none;
}

del, del * {
    background-color: #ffe9e9;
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.line_based pre span,
.line_based pre span * {
    background-color: #fdf6e7;
    color: #d96d18;
    font-weight: bold;
    text-decoration: none;
}

p img[align=left] {
    margin-right: 7px;
}

.doc h1, .doc h2, .doc h3, .doc h4 {
    border-bottom: 0px;
}

.page_link.new {
    color: #9d0000;
}

.diffcontent p {
    margin-top: 0em;
}

/* @end */

/* @group Autocompleter */

.ac_results {
    padding: 0px;
    border: 1px solid #737275;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
    min-width: 120px;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 3px 9px;
    cursor: default;
    display: block;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    text-align: left;
}

.ac_over {
    background-color: #737275;
    color: white;
}

/* @end */

.tile {
    background-image: url(/img/tile_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 0.3em;
    padding-top: 0.1em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.3em;
}

.tile.smallrow {
    padding-top: 0.4em;
    padding-bottom: 0.5em;
}

.tile.title {
    border: 1px solid #ddd;
    padding-left: 6px;
}

.tile.fresh {
    background-color: #fdfbc0;
}

.tile.proposal.title {
    border-top: 0px;
}

.tile .logo {
    float: right;
    height: inherit;
    margin-right: 1em;
    padding-top: 0.4em;
    overflow: visible;
}
.tile .logo .copyright {
    font-size: 80%;
    color: #777;
}

.tile .base {
    width: inherit;
}

.tile .base h3 {
    margin-left: 0px;
}

.tile p {
    margin-top: 0;
}


.tile .text {
    padding: 0.1em 0em 0.1em 1em;
    margin: 0;
    overflow: hidden;
    line-height: 1.4em;
}

.tile .text ul li {
    list-style-type: square;
}

.tile .text ol li {
    list-style-type: decimal;
}

.tile .meta {
    /*float: right;*/
    clear: both;
    overflow: hidden;
    display: block;
    width: auto;
    color: #666;
    font-size: 0.9em;
    text-align: left;
    padding: 0.7em 0em 0.1em 0em;
    line-height: 1.5em;
}

.tile .meta.noclear {
    clear: none;
}

.tile .meta.rightmeta {
    clear: right;
    float: right;
}

.tile .meta.leftmeta {
    float: left;
    padding-left: 0em;
    margin-bottom: 0.6em;
}

.tile .meta img {
    margin-bottom: -3px;
}

.tile .meta a {
    font-weight: bold;
}

.tile h2,
.tile h3 {
    margin-bottom: 0.0em;
    margin-top: 0.2em;
}

.table {
    overflow: hidden;
}

.table .tile h3 {
    border-bottom: 0px;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 0.2em;
}

.table .tile.event h3 {
    font-size: 1em;
}

.table .tile {
    clear: left;
    padding-left: 20px;
    padding-right: 10px;
    width: inherit;
    margin-bottom: 0em;
    /*background-color: #fff;*/
    border-bottom: 1px solid #ddd;
    /*border-left: 1px solid #ddd;
       border-right: 1px solid #ddd;*/
}

.table .tile .text {
    padding: 0.1em 0em 0.1em 0em;
    /*font-size: 0.9em;*/
    color: #333;
    margin: 0;
}

.table .base {
    overflow: visible;
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 40px;
}

.table .tile .meta {
    padding-top: 0em;
}

.table .table_listing {
    border-top: 1px solid #ddd;
    clear: both;
}

.tile.decision .affirm {
    font-weight: bold;
    color: #009800;
}

.tile.decision .dissent {
    font-weight: bold;
    color: #9d0000;
}

.tile.decision .abstain {
    font-weight: bold;
    color: #666;
}

.tile.decision .undecided {
    font-weight: bold;
    color: #ffe700;
}


/* @group Voting Booth */

.voting_booth {
    overflow: hidden;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    border-radius: 5px;
}

.voting_booth table {
    border-collapse: collapse;
}


.voting_booth th {
    font-size: small;
    color: #666;
    font-variant: small-caps;
    text-transform: lowercase;
}

.voting_booth th,
.voting_booth td {
    vertical-align: top;
    border-bottom: 1px solid ;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 0.2em;
    border-color: #eaeaea;
}

.voting_booth .summary td {
    border-bottom: 0px;
    vertical-align: bottom;
}

.voting_booth td .icon {
    display: block;
    width: 16px;
    height: 16px;
    float: right;
    background-image: url(/img/icons/vote_icons.png);
}

.voting_booth tr.affirm .icon {
    background-position: 16px 0px;
}

.voting_booth tr.dissent .icon {
    background-position: 16px 32px;
}

.voting_booth tr.abstain .icon {
    background-position: 16px 16px;
}

.voting_booth tr.affirm .option {
    font-weight: bold;
    color: #009800;
}

.voting_booth tr.dissent .option {
    font-weight: bold;
    color: #9d0000;
}

.voting_booth tr.abstain .option {
    font-weight: bold;
    color: #666;
}

.voting_booth .decision td {
    background-color: #fdfbc0;
    border: 1px solid #fdf59a;
}

.voting_booth ul,
.voting_booth li {
    padding: 0 !important;
    margin: 0 !important;
}

.voting_booth li {
    list-style-type: none !important;
}

.voting_booth input {
    margin-top: 0px;
}

/* @end */

.nobullet {
    list-style-type: none !important;
}

table.delegations {
    width: 100%;
    border-collapse:collapse;
}

table.delegations .tile {

}

table.delegations td,
table.delegations th {
    width: 30%;
    vertical-align: top;
    padding: 0.5em 0 0.5em 0.5em;
    line-height: 1.3em;
    border-bottom: 1px solid #ddd;
    background-image: url(/img/tile_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

table.delegations th {
    background-color: #eee;
    color: #666;
}

table.delegations td li {
    margin: 0 !important;
}

table.delegations td .dgb_link {
    font-weight: bold;
}

table.delegations td .hint {
    padding: 0;
}

table.delegations th {
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
}

.description p {
    margin-top: 0em;
}

.sidebar .tile {
    border: 2px solid #ddd;
    border-top: 1px solid #ddd;
    background-image: none;
    background-color: #fff;
    padding: 0 1em 0.5em 1em;
    margin-bottom: 1em;

    background-image: url(/img/tile_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.sidebar .tile h4 {
    margin-top: 0.3em;
    margin: 0 -1em 0.5em -1em;
    background-color: #efefef;
    padding: 0.6em 1em 0.6em 1em;
    border-bottom: 1px solid #ddd;
    font-size: 1.05em;
    text-shadow: #fbfbfb 1px 1px 1px;

    background-image: url(/img/tile_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
}



/* @group Action Buttons */

a.button {
    font-size: 1em;
    font-weight: bold;
    padding: 0.35em 0.6em 0.4em 0.5em;
    min-width: 2em;
    display: inline-block;
    text-align: center;
    text-transform: lowercase;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: #fff;
    margin-right: 4px !important;
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
    webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    /*box-shadow: 2px 2px 4px #ddd;
       webkit-box-shadow: 2px 2px 4px #ddd;
       moz-box-shadow: 2px 2px 4px #ddd;*/
    cursor:pointer;
    cursor:hand;
}

.button img {
    display: none;
    margin-bottom: -3px;
    font-weight: bold !important;
}

.comment a.button {
    font-size: 10px;
    font-weight: normal !important;
}

a.button:hover {
    text-decoration: none;
    background-color: #444 !important;
    color:  white;
    text-shadow: none;
}

a.button.title {
    margin-top: 0.0em;
}

a.button.edit{
    background-color: #a67a45;
}

a.button.add {
    background-color: #009800;
}

a.button.delete {
    background-color: #9d0000;
}

a.button.admin {
    background-color: #de5614;
}

a.button.inactive,
a.button.inactive:hover {
    background-color: #bbb !important; 
    color: #fff;
    cursor: default;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.top_actions {
    margin-top: 0em;
    text-align: right;
}

.top_actions.title {
    margin-top: -0.4em;
    margin-right: 0em;
    padding-right: 20px;
    background: white;
    padding-top: 0.5em;
}

.top_actions.aside {
    float: right;
    margin-top:  0em;
}

.top_actions.comment {
    float: right;
    margin-top: 0.2em;
    margin-right: 0.2em;
}


/* @end */

/* @group Pager */

.pager, .pager_sorts, .pager_items {
    color: #999;
    font-size: 0.8em;
    text-transform: lowercase;
}

.pager {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    /*background-color: #eee;*/
    padding: 5px 5px 0px 5px;
    /*
       border-left: 1px solid #ddd;
       border-right: 1px solid #ddd;
       */
}

.pager a, .pager span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 2px 6px;
    text-decoration: none;
    line-height: 2.2em;
}

.pager .current {
    color: #000;
    font-weight: bold;
    background-color: #ddd;
}

.pager .seperator {
    border-color: transparent
}
.pager .prev_page span {
    margin-right: 4px;
}

.pager .prev_page,
.pager_items,
.pager_sorts.bottom {
    float: left;
    text-align: left;
}

.pager .next_page,
.pager_sorts {
    float: right;
    text-align: right;
}

.pager_items,
.pager_sorts {
    width: auto;
    display: block;
    /*background-color: #eee;*/
    padding: 5px;
    /*
       border: 1px solid #ddd;
       border-bottom: 0px;
       */
}

.pager_sorts.bottom {
    /*border: 1px solid #ddd;*/
    border-top: 0px;
}

.pager_sorts .selected {
    font-weight: bold;
}

.facet .selected, .facet h3 {
    font-weight: bold;
}

.facet .disabled{
    color: #999;
}

.facet .remove {
    font-weight: normal;
}

.facet h3 a.remove {
    font-size: 10pt;
}
/* @end */

/* @group Comments */

.comment .tile {
    position: relative;
    border: 0px;
    background-image: none;
    min-height: 30px;
    padding-top: 7px;
    max-width: 640px;
}

.comment .base {
    overflow: hidden;
}

.comment .anchor .text,
.comment .anchor .sentiment,
.comment .anchor .title,
.comment .anchor .pre {
    background-color: #fdfbc0 !important;
}

.comment .meta {
    padding-top: 0;
    margin-top: -1.1em;
    text-align: left;
    padding-left: 0px;
}

.comment a.inactive {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

.comment .text {
    padding: 0.3em 0.2em 0em 0.2em;
    /*background-image: url(/img/comment_bg.png);
       background-repeat: repeat-x;
       background-position: bottom;
       border-bottom: 2px solid #eee;*/
}

.comment .text:last-child {
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.comment .sub {
    margin-left: 10px;
    padding-left: 15px;
    border-left: 1px dotted #bbbbdd;
}

html.js .comment .sub {
    display: none;
}

.comment .sub .sub .sub .sub .sub .sub {
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px;
}

.comment .title {
    clear: both;
    font-size: 1.0em;
    padding: 0.2em;
    padding-bottom: 1em;
    font-weight: bold;
    color: #666;
}

.comment .pre {
    padding-left: 0.2em;
    font-size: 0.8em;
    padding-bottom: 0.8em;
    color:  #666;
    font-weight: bold;
    line-height: 1.3em;
}

.comment .tile.pro .sentiment {
    background-color: #e6ffed;
}

.option_pro {
    background-color: #e6ffed;
}

.comment .tile.pro .pre {
    border-bottom: 2px solid #b1eeb4;
}

.comment .tile.con .sentiment {
    background-color: #ffe9e6;
}

.option_con {
    background-color: #ffe9e6;
}

.comment .tile.con .pre {
    border-bottom: 2px solid #eebbb1;
}

.option_neutral {
    background-color: #fff;
}

.comment .hide,
.comment .show {
    display: none;
    font-size: 8pt;
    min-width: 0.7em;
}

.comment .button {
    margin-top: 0;
    font-size: 0.9em;
}

.comment_form {
    display: block;
    background: #eee;
    padding: 4px;
    border: 1px solid #bbb;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 0.5em
}


label.inline {
    display: inline-block;
    width: 15%;
}


.comment_form .textinput {
    display: inline-block;
    width: 80%;
    /*min-width: 35%;
       max-width: 90%;*/
}

.comment_form textarea,
.comment_form .textinput {
    border: 1px solid #ddd;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.comment .reply_form,
.comment .edit_form,
.headrev .edit_form {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: inherit;
    display: none;
}

.comment .reply_form.base_reply,
.headrev .reply_form.base_reply {
    display: none;
}

.comment textarea,
.headrev textarea {
    min-height: 8em !important;
    max-width: 600px;
}

.comment .savebox,
.headrev .savebox {
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}

.comment .savebox button,
.headrev .savebox button {
    padding: 0.1em;
}

.comment .savebox button img,
.headrev .savebox button img {
    display: none;
}

.comment .savebox .cancel,
.headrev .savebox .cancel {
    display: none;
}

.comment_tiny {
    display: none;
    /*font-style: italic;*/
    font-size: 0.9em;
    color:  #999;
    margin-bottom: 0.7em;
}

.comment_tiny .rate {
    font-size: 13px;
    width: 16px;
    margin-right: 1.1em;
    float: left;
}

.comment_tiny .link {
}

.comment_tiny.show {
    display: block;
}

.comment_tiny a {
    font-weight: bold;
}

.history .index {
    float: left;
    min-width: 2em;
    font-size: 2.3em;
    color: #999;
    padding: 0;
    margin: 0;
    font-weight: bold;
    padding-top: 0.1em;
}

.headrev {
    padding-left: 2em;
    padding-right: 0em;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.revision .meta {
    float: right;
    clear: none;
}

.headrev .text {
    padding: 0.4em;
    background-color: #ffffd0;
}

/* @end */

/* @group Ratings */

.rate {
    padding-top: 0.0em;
    margin-right: 0.5em;
    text-align: center;
}

.proposal.rate {
    float: left;
    overflow: hidden;
    margin-top: -0.4em;
    font-size: 1.5em;
    font-weight: bold;
    color: #666;
    margin-left: 20px;
}

.selection .rate {
    margin-left: -25px;
}

.rate a {
    display: inline-block;
    width: auto;
}

.rate a.icon {
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom: 0.0em;
    text-decoration: none;
    /*max-width: 16px;*/
}

.rate.proposal a.icon {
    width: 100%;
    height: 16px;
    background-position: center center;
}


.rate .score,
.rate .num_for,
.rate .num_against {
    font-weight: bold;
    color: #666;
    font-size: 0.9em;
}

.rate .num_for {
    color: #009800;
}

.rate .num_against {
    color: #9d0000;
}

.rate a.inactive {
    cursor: pointer;
}

.rate a.down {
    margin-top: 0.2em;
}

.rate a.down.inactive:hover,
.rate a.up.inactive:hover {
    cursor: default;
}


.rate a.up,
.rate a.up.inactive:hover {
    background-image: url(/img/arrows/arrow_up_inactive_16.png);
}

.rate a.down,
.rate a.down.inactive:hover {
    background-image: url(/img/arrows/arrow_down_inactive_16.png);
}

.rate a.up:hover,
.upvoted .rate a.up {
    background-image: url(/img/arrows/arrow_up_active_16.png);
}

.rate a.down:hover,
.downvoted .rate a.down {
    background-image: url(/img/arrows/arrow_down_active_16.png);
}

/*
   .rate.proposal a.up,
   .rate.proposal a.up.inactive:hover {
    background-image: url(/img/arrows/arrows_up_inactive_24.png);
}

.rate.proposal a.down,
.rate.proposal a.down.inactive:hover {
    background-image: url(/img/arrows/arrows_down_inactive_24.png);
}

.rate.proposal a.up:hover,
.upvoted .rate.proposal a.up {
    background-image: url(/img/arrows/arrows_up_active_24.png);
}

.rate.proposal a.down:hover,
.downvoted .rate.proposal a.down {
    background-image: url(/img/arrows/arrows_down_active_24.png);
}
*/

/* @end */

.jsadd {
    width: 98%;
    text-align: right;
}

.jsadd input {
    display: inline;
    margin: 0;
}

.tagarea {
    color: black;
}

/*
   .tagarea ul {

    list-style: inside;
    list-style-type: none;
}

.tagarea ul li {
    margin: 0px;
}
*/

.tagarea a {
    font-weight: bold;
}

.tagarea .addtags {
    margin-top: 1em;
}

.tagarea input {
    display: inline;
}

.tagInput {

}


.tagInputDiv {
    display: none;
    background-color: white;
    position: absolute;
    overflow: auto;
    border: 1px solid lightgray;
    margin-top:-1px;
    font:13px/15px arial,sans-serif;
}

.tagInputLine {
    color: black;
    font-weight: normal;
    padding:4px;
}


.tagInputLineTag {
    min-width: 150px;
    display: inline-block;
}

.tagInputLineFreq {
    min-width: 50px;
    text-align: right;
    display: inline-block;
    float:right;
}

.tagInputSel {
    background-color: gray;
    color:white;
}

.tagInputSuggestedTags {
    font-size: 12px;
    background-color:#e0e0e0;
    padding:2px;
    font:13px/15px arial,sans-serif;
    margin-top:5px;
    width:550px;
    color:#303030;
}

.tagInputSuggestedTags .label{
    font-weight:bolder;
}

.tagInputSuggestedTagList{

}

.tagInputSuggestedTagList .tag{
    padding:2px;
    cursor:pointer;
    display:inline-block;
    margin:1px;
}

.tagInputSuggestedTagList span.tag:hover{
    background-color:#f0f0f0;
}

.tagInputSuggestedTagList .tagUsed{
    background-color:lightgray;
}





.panel .tagarea input[type=text] {
    width: 20em;
}


/* @group Panel */

.panel {
    width: auto;
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    margin-bottom: 2em;
    position: relative;

    box-shadow: 1px 1px 3px #eee;
    webkit-box-shadow: 1px 1px 3px #eee;
    moz-box-shadow: 1px 1px 3px #eee;
}

.panel .menu,
.panel .info {
    display: block;
    background-color: #e9e9e9;
    background-image: url(/img/tile_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.panel .menu {
    list-style: none;
}

.panel .menu li {
    position: relative;
    display: inline;
    padding: 0px;
    margin: 0px;
}

.panel .menu li ul {
    visibility: hidden;
    position: absolute;
    z-index: 1001;
    width: 210%;
    margin-top: -7px;
    padding-top: 7px;
}

.panel .menu li:hover ul {
    visibility: visible;
}

.panel .menu img {
    margin-bottom: -3px;
}

.panel .menu a {
    display: inline-block;
    min-width: 3em;
    text-align: center;
    padding: 0.4em 0.7em 0.4em 0.7em;
    margin: 0.4em 0.2em 0.5em 0.4em;
    font-size: 1em;
    color: #333;
    border: 1px solid rgba(221,221,221,0);
    border-radius: 5px;
    webkit-border-radius: 5px;
    moz-border-radius: 5px;
    text-shadow: #eee 1px 1px 1px;
}

.panel .menu a:hover {
    background-color: #bbb;
    text-decoration: none;
    text-shadow: none;
}

.panel .menu li ul li {
    margin: 0em;
    border: 1px solid #ddd;
    border-top: 0px solid #000;
    background-color: #f2f2f2;
    display: block;
    width: auto;
}

.panel .menu li ul li:hover {
    background-color: #ddd;
}

.panel .menu li ul a {
    margin: 0em 0.3em 0.0em 0.2em;
    padding: 0.4em 0.2em 0.3em 0.2em;
    text-align: left;
    text-shadow: none;
}

.panel .menu li ul a:hover {
    background-color: #ddd;
}

.panel a.area_shown,
.panel .menu a.active,
.panel.activity a.activity,
.panel.issues a.issues,
.panel.votes a.votes,
.panel.delegations a.delegations,
.panel.proposals a.proposals,
.panel.comments a.comments,
.panel.adopted a.adopted,
.panel.goal a.goal,
.panel.votes a.votes,
.panel.history a.history,
.panel.users a.users,
.panel.watchlist a.watchlist,
.panel.discussion a.discussion,
.panel.instances a.instances {
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    background-color: white;
    color: #000;
    font-weight: bold;
    font-size: 0.95em;
    text-decoration: none;
}

.panel .info {
    background-color: #f3f3f3;
    border-top: 1px solid #fff;
    padding: 0.7em 1em 0.7em 1em;
    font-size: 0.8em;
    color: #666;
    overflow: hidden;
    position: relative;
}
.panel .info .meta {
    float: right;
}

.panel .info img,
.panel .tagarea img {
    margin-bottom: -3px !important;
}

.panel .info.adoption {
    font-weight: bold;
    /* color: #9d0000; */
}

.panel .info.adoption.adopted {
    background-color: #009800;
    color: #fff;
}

.panel .info.adoption div {
    display: inline-block;
    margin: -1em;
    margin-right: -2em;
    margin-left: 0em;
    padding: 1em;
    padding-left: 4em;
    min-width: 170px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    moz-border-radius-topright: 13px;
    moz-border-radius-bottomright: 13px;
    webkit-border-top-right-radius: 13px;
    webkit-border-bottom-right-radius:13px;
    border-right: 1px solid #fff;
}

.panel .info.adoption div.first {
    margin-left: -3.5em;
}

.panel .info.adoption div.given {
    background-color: #009800;
    color: #fff;
    border-right: 0px;
}

.panel .description {
    clear: both;
    border-top: 1px solid #fff;
    padding: 0.7em;
    padding-left: 0.9em;
    padding-right: 0.9em;
}

.panel .description .pre {
    display: block;
    float: right;
    padding-left: 2em;
    padding-bottom: 1em;
}

.panel .description:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* @end */

.discuss .discuss_button {
    color: white;
    font-size: 1.0em;
    font-weight: bolder;
    padding: 0.4em;
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    display: hidden;
    background: #009800;

    border-radius: 5px;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;

    webkit-border-top-right-radius: 0px;
    font-weight: normal;
    background-image: url(/img/menu_bg.png);
    background-repeat: repeat-x;
    background-position: top;

    cursor:pointer;
    cursor:hand;
}

.discuss .discuss_button:hover {
    text-decoration: none;
    background-color: #444 !important;
}

.selection .language {
    padding-bottom: 15px;
}

.selection .panel {
    margin-bottom: 1em;
}

.selection ol.variants li {
    clear: left;
}

.selection ol li .area_shown {
    cursor:default !important;
}


.selection ol.variants {
    padding-left: 10px;
    list-style-type: none;
}

.variant_header {
    background-color: #e9e9e9;
    background-image: url(/img/tile_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
}

.selected .variant_header,
#selection_new .variant_header.area_shown {
    background-color: #fdfbc0;
}

.variant_innerheader {
    background-image: url(/img/icons/page_variant_24.png);
    padding-left: 34px;
    background-repeat: no-repeat;
    background-position: left center;
}

.selection .head .variant_innerheader {
    background-image: url(/img/icons/page_norm_24.png);
}


.expand_tab {
    cursor:pointer;
    cursor:hand;
}

.variant_header.expand_tab:hover {
    background-color: #ccc !important;

}

.transparent {
    background:none !important;
}
.grey a {
    color:grey;
}
.green a {
    color:green;
}
.orange a {
    color:orange
}

.hidden,
.prototype,
.showjs,
a.showjs {
    display: none;
}

#timeline {
    webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.badge {
    display: inline-block;
    color: #fff;
    font-size: 80%;
    margin-left: 5px;
    padding: 1px 3px 1px 3px;
    font-family: sans-serif;
    webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);

    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    border-radius: 4px;
    moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

h1 .badge, h3 .badge {
    float:right;
}

.event h3 .badge {
    float: none;
}
h1.with_vote .badge {
    float: right;
    margin-right: 20px;
}

.badge a {
    color: #fff;
}

.badge a:hover {
    color: #fff;
    text-decoration: none;
}

.user_link_badges .badge,
.event .badge {
    margin-top: -2px;
    margin-left: 0px;
    font-size: 70%;
    padding: 0px 2px 0px 2px;
}

/*Tooltips*/
.tooltip {
  display:none;
  /*background:transparent url(../img/tooltip/black_arrow.png);*/
  background: #fdfbc0;
  textAlign: left;
  lineHeight: 1.3em;
  color: #333;
  border: 1px solid #e7e5a3;
  padding: 0.3em;
}
.tooltip.bottom {
  /*background:url(/tools/img/tooltip/black_arrow_bottom.png);*/
}

.tooltip.top {
  /*background:url(/tools/img/tooltip/black_arrow_bottom.png);*/
}
