/* @group HTML Element Defs */

body, td, input, button, textarea, select {
	font-family: "lucida grande", "Verdana", arial, sans-serif; 
	font-size: 10pt;
}

div, body, ul, li, button {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body {
	
}

:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ul { list-style: none; }

a {
	color: #336699;
	text-decoration: none;
}

a img { border: 0px; }

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 14pt;
}

h2 {
	font-size: 13pt;
}

h3 {
	font-size: 12pt;
}

h4, h5, h6 {
	font-size: 10pt;
}

/* @end */

/* @group Form Elements */

button {
	color: #336699;
	text-align: left;
	cursor: pointer;
	background-color: inherit;
}

button img {
	margin-top: 5px;
}

textarea {
	width: 98%;
	min-height: 10em;
}

label {
	display: block;
	padding-top: 7px;
	font-weight: bold;
}

label.armhint {
	display: none;
}

input, 
textarea {
	border:  2px solid #ccc;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 10pt;
	background-image: url(/img/comment_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

input, 
textarea {
	border:  2px solid #ccc;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 10pt;
	background-image: url(/img/comment_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

input:focus, 
input:hover,
#page_title input:focus,
#page_title input:hover,
textarea:focus,
textarea:hover {
	border:  2px solid #999;
	background-color: #ffe;
}

input[type=submit] {
	display: block;
	margin-top: 5px;
	padding:  5px;
	background-color: #1553a4;
	color:  #fff;
	font-weight: bold;
	border: 0px;
	min-width: 6em;
	background-image: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

input:hover[type=submit] {
	background-color: #0e3870;
}

#page_title input {
	background-image: url(/img/comment_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

#issues_q[type=text],
#issues_q[type=password] {
	width: 95%;
}

input[type=file] {
	border: 0px;
}

.openid_url {
	background-image:url(/img/icons/openid.gif);
	background-position:2px 3px;
	background-repeat:no-repeat;
	padding-left: 19px;
}

.armed {
	color: #666;
}

input.title {
	font-size: 16pt;
	display: block;
	width: 97%;
	/*margin: -7px;*/
	padding: 7px;
}

.hint,
.formatting {
	font-size: 11px;
	color: #666;
	display: block;
	padding: 5px;
	padding-left: 0px;
}

.formatting {
	float: right;
}

#registerform,#loginform {
	overflow: hidden;
}

#loginform {
	float: left;
	padding-right: 2em;
	width: 50%;
}

.savebox {
	padding-top: 20px;
}

.savebox button, 
.savebox a {
	font-weight: bold;
}

.savebox button {
	padding: 0.2em;
	padding-bottom: 0.4em;
	min-width: 6em;
	text-align: center;
	border: 1px solid #1553a4;
	color: #fff;
	background-color: #1553a4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

input.watch {
	margin-top: 10px;
}

/* @end */

/* @group Page Layout */

html {
	height: 100%;
}

body {
	background: #fff url(/img/page_bg.png) repeat-x;
	width: 100%;
	height: 100%;
	text-align: center;
}

#frame {
	width: 900px;
	margin: 0em auto -65px;
	text-align: left;
	/*min-height: 100%;*/
	min-height: 100%;
}

#page {
	clear: both;
	padding-bottom: 65px;
	text-align: left;
}

#breadcrumbs {
	font-weight: bold;
	margin-top: 0.5em;
	font-size: 1.0em;
	padding-top: 0.5em;
	margin-bottom: 0.1em;
	width: inherit;
	font-variant: small-caps;
	text-transform: lowercase;
	color: #666;
}

.user_link {
	white-space: nowrap;
}

.user_icon {
	margin-bottom: -4px;
}

/* @end */

/* @group Header */

#header {
	padding-top: 0;
	width: 100%;
	min-height: 62px;	
	clear: both;
	border: 0px;
}

#header td {
	vertical-align: bottom;
}

#header a {
	text-align: left;
	color:  #fff;
}

#header .site_title {
	min-width: 222px;
	min-height: 62px;	
}

#header #menu {
	width: 100%;
}

#header #menu ul {
	list-style: none;
	margin-bottom: 0em;
	margin-left: 2em;
	width: 100%;
	font-weight: bold;
}

#header #menu li {
	display: inline-block;	
	padding: 0.5em 0.6em 0.5em 0.6em;
	margin-right: 0.2em;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	/*-webkit-border-radius: 2px;*/
	background-color: #666;
	background-image: url(/img/header_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
	/*min-width: 5em;*/
}

#header #menu li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
}

#header #menu li ul {
	display: none;
}

#header #menu li:hover {
	background-color: #1553a4;
}

#header #menu li:hover ul {
	display: block;
	position: absolute;
	width: auto;
	margin-left: -0.6em;
	margin-top: 0.5em;
}

#header #menu li:hover ul li {
	display: block;
	font-size: 0.9em;
	padding: 0.5em;
	border-top: 1px solid white;
}

#header #menu li ul li a {
	text-align: left;
}

#account {
	float: right;
	text-align: right;
	display: block;
	line-height: 1.5em;
	color: black;
	background-color: #eaeaea;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 0.7em;
	padding-right: 0.7em;
	padding-bottom: 0.4em;
	padding-top: 0.2em;
}

#account form {
	display: inline;
	padding-left: 15px;
}

#account a {
	text-transform: lowercase;
}

#account a.user_name {
	text-decoration: none;
	font-weight: bold;
}

#account .join {
	text-decoration: none;
	font-weight: bolder;
	padding: 0.4em;
	float: left;
}

#account img {
	padding-right: 0px;
	margin-bottom: -3px;
}

#account input {
	border: 1px solid white;
}

#account button img {
	float: none;
	margin-bottom: -3px;
}

/* @end */

/* @group Footer */

#footer {
	clear: both;
	margin: -65px auto 0;
	padding: 1em 0em 0em 1em;
	border-top: 1px solid #eee;
	color: #222;
	text-align: left;
	height: 50px;
	width: 900px;
	
	background-image: url(/img/footer_bg.png);
	background-repeat: repeat-x;
	background-position: top;
}

#footer a {
	color:  #222;
	text-decoration: underline;
	text-transform: lowercase;
}

#footer a.nolink {
	text-decoration: none;
}

#footer #links {
	font-size: 11px;
	line-height: 16px;
}

#footer #links #button {
	float:  left;
	padding-right: 10px;
	margin-top: -2px;
}

#footer #license {
	float:  right;
}

/* @end */

/* @group Error Messages */

.error-message {
	background: url(/img/icons/cancel.png) top left no-repeat;
	padding-left: 20px;
	display: block;
	padding-top: 2px;
	margin-bottom: -3px;
	color: #de5614;
}

.error, .error:hover, .error:focus {
	border: 2px solid #de5614;
	background-color: #fcea9a;
}

.htwarnbox {
	background-color: #9d0000;
	font-weight: bold;
	font-size: 10pt;
	width: 200px;
	position: absolute;
	padding: 1em;
	text-align: left;
	color:  #fff;
	margin-top: 0.5em;
	text-decoration: none;
}

.infobox,
#flash_messages {
	background-repeat: no-repeat;
	background-position: center left;
	background-image: url(/img/icons/info_16.png);
	background-color: #fdfbc0;
	padding: 0.8em;
	padding-left: 48px;
	margin: 0.2em;
	display: block;
	font-size: 1.0em;
	color: #333;
	line-height: 1.4em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#flash_messages {
	/*border: 1px solid #de5614;*/
	background-color: #de5614;
	color: white;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* @end */

/* @group Typography */

#content {
	width: inherit;
}

#content p {
	line-height: 1.3em;
}

#content ul {
	list-style-type: square;
	list-style-position: inside;
}

#content ul li, 
#content ol li {
	margin: 5px;
	margin-right: 7px;
	line-height: 1.3em;
	list-style-position: outside;
	margin-left: 20px;
}

ins.diff, ins.modified {
	background-color: rgba(57,241,6,0.5);
	color: #000;
}

del.diff, del.modified {
	background-color: rgba(217,25,19,0.5);
	color: #000;
}

p img[align=left] {
	margin-right: 7px;
}

.doc h1, .doc h2, .doc h3, .doc h4 {
	border-bottom: 0px;
}

/* @end */

/* @group Autocompleter */

.ac_results {
	padding: 0px;
	border: 1px solid #737275;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	min-width: 120px;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 3px 9px;
	cursor: default;
	display: block;
	font-size: 12px;
	line-height: 14px;
	overflow: hidden;
	text-align: left;
}

.ac_over {
	background-color: #737275;
	color: white;
}

/* @end */

h1, h2, h3 {
	padding-bottom: 0.3em;
	margin-bottom: 0.7em;
	border-bottom: 1px solid #aaa;
}

h1 a:hover, 
h2 a:hover, 
h3 a:hover {
	text-decoration: none;
}

h1.page_title {
	background-image: url(/img/comment_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	
	border-bottom: 1px solid #eee;
}

h1 img.cd, 
h2 img.cd, 
h3 img.cd,
h4 img.cd,
.page_title img.cd {
	float: left;
	margin-top: -0px;
	padding-right: 5px;
}

.tile {
	background-color: #f3f3f3;
	background-image: url(/img/tile_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 0.3em;
	padding-top: 0.1em;
	/*
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	*/
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-bottom: 0.3em;
	
}


.tile.title {
	border: 1px solid #ddd;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	padding-left: 6px;
}

.tile.proposal.title {
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top: 0px;
}

.tile .logo {
	float: left;
	height: inherit;
	margin-right: 1em;
	padding-top: 0.4em;
} 

.tile .base {
	width: inherit;
}

.tile p {
	margin-top: 0;
}

.tile .text {
	padding: 0.2em;
	padding-bottom: 0.5em;
	margin: 0;
}

.tile .text ul li {
	list-style-type: square;
}

.tile .text ol li {
	list-style-type: decimal;
}

.tile .meta {
	/*float: right;*/
	clear: both;
	overflow: hidden;
	display: block;
	width: auto;
	color: #666;
	font-size: 0.9em;
	text-align: right;
	padding: 0.5em;
	padding-right: 0em;
	padding-top: 0.7em;
	padding-bottom: 0.1em;
	line-height: 1.5em;
}

.tile .meta.noclear {
	clear: none;
}

.tile .meta.rightmeta {
	clear: right;
}

.tile .meta.leftmeta {
	float: left;
	padding-left: 0em;
	margin-bottom: 0.6em;
}

.tile .meta img {
	margin-bottom: -3px;
}

.tile .meta a {
	font-weight: bold;
}

.tile h2,
.tile h3 {
	margin-bottom: 0.0em;
	margin-top: 0.2em;
	/* font-weight: normal; */
}

.table {
	overflow: hidden;
	/*background-color: #f3f3f3;*/
}

.table .tile h3 {
	border-bottom: 0px;
}

.table .tile {
	padding-left: 20px;
	padding-right: 10px;
	margin-bottom: 0.7em;
	width: inherit;
	
	
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 0px;
	border-top: 1px solid #ddd;
	
}

.table .tile .meta {
	padding-top: 0em;
}

.tile.decision .affirm {
	font-weight: bold;
	color: #009800;
}

.tile.decision .dissent {
	font-weight: bold;
	color: #9d0000;
}

.tile.decision .abstain {
	font-weight: bold;
	color: #666;
}

.tile.decision .undecided {
	font-weight: bold;
	color: #ffe700;
}

.voting_booth {
	overflow: hidden;
}

.voting_booth table {
	border-collapse: collapse; 
}


.voting_booth th {
	font-size: small; 
	color: #666; 
	font-variant: small-caps; 
	text-transform: lowercase;
}

.voting_booth th, 
.voting_booth td {
	vertical-align: top;
	border-bottom: 1px solid ;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 0.2em;
	border-color: #eaeaea;
}

.voting_booth .summary td {
    border-bottom: 0px;
    vertical-align: bottom;
}

.voting_booth td .icon {
	display: block;
	width: 16px;
	height: 16px;
	float: right;
	background-image: url(/img/icons/vote_icons.png);	
}

.voting_booth tr.affirm .icon {
	background-position: 16px 0px;	
}

.voting_booth tr.dissent .icon {
	background-position: 16px 32px;	
}

.voting_booth tr.abstain .icon {
	background-position: 16px 16px;	
}

.voting_booth tr.affirm .option {
	font-weight: bold;
	color: #009800;
}

.voting_booth tr.dissent .option {
	font-weight: bold;
	color: #9d0000;
}

.voting_booth tr.abstain .option {
	font-weight: bold;
	color: #666;
}

.voting_booth .decision td {
	background-color: #fdfbc0;
	border: 1px solid #fdf59a;
}

.voting_booth ul, 
.voting_booth li {
	padding: 0 !important;
	margin: 0 !important;
}

.voting_booth li {
	list-style-type: none !important;
}

.voting_booth input {
	margin-top: 0px;
}


h2 {
	width: inherit;
}

.tile .text {
	overflow: hidden;
	line-height: 1.4em;
}


/* TUTU Shit */

.tutu {
	background-image: none !important;
	padding: 1em 3em 1em 3em !important;
	margin-bottom: 2em !important;
	display: none !important;
}

.tutu .stfu {
	float: right;
	margin-top: -0.4em;
	margin-right: -2em;
	font-weight: bold;
	width: 20px;
	height: 20px;
	text-align: center;
	border: 1px solid #336699;
	text-decoration: none;
}

.tutu td {
	font-size: 1.3em;
	padding-bottom: 0.5em;
	vertical-align: middle;
}

.tutu td.num {
	font-size: 2.2em;
	color: #aaa;
	font-weight: bold;
	min-width: 2em;
}

.tutu h2 {
	border-bottom: 0px;
}

.tutu .tagline {
	font-size: 0.9em;
	font-weight: normal;
}

.tutu td.fn {
	font-size: 0.9em !important;
}

.tutu .hint {
	font-size: 0.9em;
}

.nobullet {
	list-style-type: none !important;
}

table.delegations {
	width: 100%;
}

table.delegations td, 
table.delegations th {
	border-bottom: 1px solid #ddd;
	width: 30%;
	vertical-align: top;
	padding: 0.5em 0 0.5em;
	line-height: 1.3em;
}

table.delegations td li {
	margin: 0 !important;
}

table.delegations td .dgb_link {
	font-weight: bold;
}

table.delegations td .hint {
	padding: 0;	
}

table.delegations th { 
	border-bottom: 1px solid #aaa;
	font-size: 1.1em;
}

.list_tile {
	list-style-type: none;
	padding-bottom: 0.3em;
	margin-left: 0em !important;
}

.list_tile.category {
	padding-left: 1.6em;
	background: url(/img/icons/stack_16.png) top left no-repeat;
}

.list_tile .text {
	font-size: 1.1em;
	font-weight: bold;
}

.list_tile .meta {
	font-size: 0.9em;
	color: #666;
}

.list_tile.event {
	line-height: 1.0em !important;
	padding-bottom: 0.1em;
	margin: 0px !important;
	margin-bottom: 0.2em !important;
}

.list_tile.event .text {
	font-size: 1.0em;
	font-weight: normal;
	width: inherit;
}

.list_tile.event .meta {
	float: right;
	margin-top: 0.4em;
	font-size:  0.8em;
	font-variant: small-caps;
	color: #666;
}

.lefthalf {
	float: left;
	width: 49%;
	overflow: hidden;
}

.righthalf {
	float: right;
	width: 49%;
	overflow: hidden;
}

.sidebar {
	float: right;
	margin-left: 20px;
	width: 300px;
	max-width: 300px;
	overflow: hidden;
}

.mainbar {
	width: 580px;
}

.description p {
	margin-top: 0em;
}

.boxed {
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 0.2em;
}

.boxed .inner_boxed {
	padding: 0.5em;
}

.boxed h4 {
	margin-top: 0em;
}

.category_tree li {
	list-style-type: none;
}


a.button {
	font-size: 12px;
	padding: 0.25em;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
	min-width: 3em;
	text-align: center;
	text-transform: lowercase;
	color: #fff;
	margin-right: 4px !important;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-weight: normal !important;
}

.button img {
	margin-bottom: -3px;
}

comment a.button {
	font-size: 10px;
}

a.button:hover {
	text-decoration: none;
	background-color: #999 !important; 
	background-position: bottom;
}


a.button.title {
	margin-top: 0.0em;
}

a.button.edit{
	background-color: grey;
}

a.button.add {
	background-color: #009800;
}

a.button.delete {
	background-color: #9d0000;
}

a.button.admin {
	background-color: #ffa700;
}

a.button.inactive {
	background-color: #f3f3f3;
	cursor: pointer;
	color: #ccc;
}

.pager {
	color: #666;
	font-size: 0.8em;
	text-transform: lowercase;
	margin-top: 0px;
	margin-bottom: 7px;
	text-align: center;
}
	
.pager .prev_page {
	float: left;
	text-align: left;
}

.pager .next_page {
	float: right;
	text-align: right;
}

.pager_sorts {
	color: #666;
	font-size: 0.8em;
	text-transform: lowercase;
	display: block;
	float: right;
	padding-bottom: 7px;
}

.pager_sorts .selected {
	font-weight: bold;
}

.comment .tile {
	border: 0px;
	background-color: #fff;
	background-image: none;
	min-height: 30px;
	margin-top: 7px;
	margin-left: -24px;
	
	max-width: 600px;
}

.comment .tile.canonical .text{
	padding-left: 5px;
	background-color: rgba(215,209,255,0.5);
}

.add_canonical {
	display: none;
	padding: 5px;
	margin-bottom: 5px;
}

.comment .karma {
	padding-top: 0.0em;
	margin-right: 1em;
	text-align: center;
}

.comment .karma a {
	background-repeat: no-repeat;
	display: block;
	width: 12px;
	height: 12px;
	margin-bottom: 0.1em;
	text-decoration: none;
	max-width: 12px;
}

.comment .karma .score {
	font-weight: bold;
	color: #666;
	font-size: 0.9em;
}

.comment .karma a.inactive {
	cursor: pointer;
}

.comment .karma a.down {
	margin-top: 0.2em;
}

.comment .karma a.up,
.comment .karma a.up.inactive:hover {
	background-image: url(/img/arrows/aup.png);
}

.comment .karma a.down,
.comment .karma a.down.inactive:hover {
	background-image: url(/img/arrows/adown.png);
}

.comment .karma a.up:hover,
.comment .upvoted .karma a.up {
	background-image: url(/img/arrows/aup_a.png);
}

.comment .karma a.down:hover,
.comment .downvoted .karma a.down {
	background-image: url(/img/arrows/adown_a.png);
}


.comment .base {
	overflow: hidden;
}

.comment .anchor .text {
	background-color: #fdfbc0;
}

.comment .meta {
	padding-top: 0;
	margin-top: -1.1em;
	text-align: left;
	padding-left: 0px;
}

.comment a.inactive {
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
}

.comment .text {
	padding: 0.3em;
	padding-left: 0em;
	padding-bottom: 0.3em;
	
	background-image: url(/img/comment_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	
	border-bottom: 1px solid #eee;
}

.comment .sub {
	margin-left: 25px;
}

.comment .pre {
	font-size: 0.8em;
	margin-bottom: 0.6em;
	color:  #666;
}


.comment .hide, 
.comment .show {
	display: none;
	font-size: 8pt;
	min-width: 0.7em;
}

.comment .button {
	margin-top: 0;
	font-weight: bold;
	font-size: 0.9em;
}

.comment .reply_form, 
.comment .edit_form,
.headrev .edit_form {
	padding-bottom: 0.7em;
	width: inherit;
	display: none;
}

.comment .reply_form.base_reply,
.headrev .reply_form.base_reply {
	display: none;
}

.comment textarea,
.headrev textarea {
	min-height: 8em !important;
	max-width: 600px;
}

.comment .savebox,
.headrev .savebox {
	padding-top: 5px;
	display: inline-block;
}

.comment .savebox button,
.headrev .savebox button {
	padding: 0.1em;
}

.comment .savebox button img,
.headrev .savebox button img {
	display: none;
}

.comment .savebox .cancel,
.headrev .savebox .cancel {
	display: none;
}

.link_discussion {
	display: none;
}

.rev_index {
	float: left; 
	min-width: 2em; 
	font-size: 2.3em; 
	color: #999; 
	padding: 0; 
	margin: 0; 
	font-weight: bold; 
	padding-top: 0.1em;
}

.headrev {
	padding-left: 2em; 
	padding-right: 1em;
	padding-bottom: 1em;
}

.headrev .text {
	padding: 0.4em;
	background-color: #ffffd0;
}

.welcome h1, .welcome h2, .welcome h3 {
	border-bottom: 0px;
}

.canonical {
	list-style-type: none;
}

.prototype {
	display: none;
}

.smallarea {
	min-height: 4em;
}

.jsadd {
	width: 98%;
	text-align: right;
}

.jsadd input {
	display: inline;
	margin: 0;
}

.checklist li {
	list-style-image: url(/img/icons/condition_met.png);
}

.checklist li.unmet {
	list-style-image: url(/img/icons/condition_unmet.png);
}

.tile.title {
	margin-bottom: 1em;
}

.tile.title h1 {
	font-size: 1.3em;
	margin-bottom: 0px;
	border-bottom: 0px;
}

.tile.title table td {
	font-size: 0.9em;
	color: #666;
	padding-bottom: 0.6em;
}

.top_actions {
	float: right;
	margin-top: 1.3em;
}

.top_actions.title {
	margin-top: 0.2em;
} 

.top_actions.comment {
	margin-top: 0.2em;	
}

#issue_details {
	display: none;
	position: absolute;
	width: 560px;
	padding: 1em;
}

#issue_details li {
	list-style-type: none;
	margin-left: 0px;
}