a {
    /* Yay */
    /*font-size: 1em !important;*/
}

#frame {
    width: 95%;
    padding: 0 2em 0 2em;
}

#loginform, #registerform {
    width: inherit;
}

.lefthalf {
    float: none;
}

#loginform {
    float: none;
}
