/* Permissions table */
#permissions {
    td {
        text-align: center;
    }
    th.group {
        vertical-align: bottom;
        padding-bottom: 15px;
        p {
            @include rotate(-75deg);
        }
    }
}

.massmessage_filter > div {
    float: left;

    &:not(:first-child) {
        padding-left: 1em;
        margin-left: 1em;
        border-left: 1px solid $border;
    }
}
.massmessage_preview {
    dt {
        float: left;
        min-width: 5em;
    }
    dl, dt, dd {margin: 0;}
}
.message_preview_body {
    background: $bg2;
    white-space: pre-wrap;
    margin: 0.5em 0;
    padding: 0.5em;
}

.importexport_settings {
    margin-left: 30px;
}
