/* Permissions table */
#permissions th.group {
    vertical-align: bottom;
    padding-bottom: 15px;
    vertical-align: bottom;

    p {
        @include rotate(-75deg);
    }
}

.massmessage_filter > div {
    float: left;

    &:not(:first-of-type) {
        padding-left: 1em;
        margin-left: 1em;
        border-left: 1px solid $border;
    }
}

.massmessage_preview {
    background: inherit;

    dl {
        margin: 0;
    }
    dt {
        float: left;
        min-width: 5em;
    }
    dt, dd {
        margin: 0;
        /* Override bootstrap mis-definitions */
        line-height: inherit;
    }
}

.message_preview_body {
    background: $bg2;
    white-space: pre-wrap;
    margin-bottom: 0.5em;
}

.importexport_settings {
    margin-left: 30px;
}
