.comments_list, .comment_wrapper {
    // without top/bottom padding the child elements' margin
    // would collapse outside the comments list
    padding: 1px 0;
    background-color: $bg1;
    @include background-image(linear-gradient(left, $bg1, lighten($bg1, 2%), $bg1));
}

.comments_list, .comments_list .sub {
    list-style: none;
    margin: 0;

    > li {
        border-bottom: 1px solid #fff;

        &:last-child {
            border-bottom: none;
        }

        // .comment, .sub or comment form
        > * {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }
    }
}
.comments_list > li {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.comments_list .sub {
    margin-left: 2em;
}

.comment.empty {
    padding: 1em 0;
    font-weight: bold;
    font-style: italic;
    color: $fg1;
}

.comment_actions, .paper_actions {
    padding-top: 1em;

    > div {
        display: inline-block;
    }

    .vote_comment, .show_comments, .new_comment {
        margin-right: 10px;
        font-size: 11px;

        display: inline-block;
        vertical-align: middle;
    }
    .utility, .meta {
        float: right;
    }
}

// top level comment form
.comment_wrapper {
    border-top: 1px solid #fff;
    padding: 1px 1.5em;
}

/* comment form */
.comment_form {
    background: none $bg2;
    padding: 6px;

    .comment_settings {
        .input_wrapper {
            margin-bottom: 5px;
        }
        hr {
            margin-bottom: 10px;
        }
    }
}
