.comments_list, .comment_wrapper {
    // without top/bottom padding the child elements' margin
    // would collapse outside the comments list
    padding: 1px 0;
    background-color: $bg1;
    @include background-image(linear-gradient(left, $bg1, lighten($bg1, 2%), $bg1));
}

.comments_list, .comments_list .sub {
    list-style: none;
    margin: 0;

    > li {
        border-bottom: 1px solid #fff;

        &:last-child {
            border-bottom: none;
        }

        // .comment, .sub or comment form
        > * {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }
    }
}
.comments_list > li {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.comments_list .sub {
    margin-left: 2em;
}

.comment.empty {
    padding: 1em 0;
    font-weight: bold;
    font-style: italic;
    color: $fg1;
}

.comment_actions, .paper_actions {
    padding-top: 10px;
}
.comment_actions .vote_comment, .comment_actions .show_comments, .comment_actions .new_comment,
.paper_actions .vote_paper, .paper_actions .show_comments, .paper_actions .new_comment, .paper_actions .participate {
    float: left;
    margin-right: 10px;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.comment_actions .vote_comment {
    padding-left: 0;
    padding-top: 1px;
}
.comment_actions .utility, .paper_actions .meta {
    float: right;
}

// top level comment form
.comment_wrapper {
    margin-top: 1px;
    padding: 1px 1.5em;
}

/* comment form */
.comment_form {
    background: none $bg2;
    padding: 6px;

    .comment_settings {
        .input_wrapper {
            margin-bottom: 5px;
        }
        hr {
            margin-bottom: 10px;
        }
    }
}
