#footer .page_wrapper {
    padding: 40px 23px;
    background: url('/images/shadow_footer.jpg') no-repeat top center;
}
#second_footer_line {
    display: table;
}

.footer_content {
    /* we use `display: table` to give all blocks (and
     * therefore lines) same height */
    display: table-cell;
    float: none;
    padding: 0;
    margin-bottom: 0;
    background: none;

    // lines
    border-right: 1px solid darken($bg2, 10%);
    border-left: 1px solid lighten($bg2, 10%);
    &:last-child {
        border-right: none;
    }
    &:first-child {
        border-left: none;
    }

    h3 {
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
    }
    a {
        text-decoration: underline;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    ul li ul {
        list-style-type: disc;
    }
}

.footer_box {
    padding: 0 5px;
}

#footer, .footer_content h3, .footer_content a {
    color: $fg1;
}
