#footer .page_wrapper {
    padding: 3em 1.8em;
    background: url('/images/shadow_footer.jpg') no-repeat top center;
}

#footer .footer_line {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#footer .footer_line > div {
    /* we use `display: table` to give all blocks (and
     * therefore lines) same height */
    display: table-cell;
    float: none;
    padding: 1em;
    margin-bottom: 0;
    background: none;

    // lines
    border-right: 1px solid darken($bg2, 10%);
    border-left: 1px solid lighten($bg2, 10%);
    &:last-child {
        border-right: none;
    }
    &:first-child {
        border-left: none;
    }

    h3 {
        font-family: Arial, sans-serif;
        font-size: 90%;
        font-weight: bold;
    }
    a {
        text-decoration: underline;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    ul li ul {
        list-style-type: disc;
    }
}

#footer, #footer h3, #footer a {
    color: $fg1;
}
