body.compact #header .page_wrapper {
}
#logo {
    height: 4.7em;
    overflow: hidden;
    display: inline-block;
    float: left;

    img {
        height: 4.7em
    }
}
body.compact #logo {
    height: 2.7em;

    h1 {
        text-indent: -900em;
    }
    img {
        height: 2.7em
    }
}

/* top navigation */
#header #topnav {
    right: 2em;
    top: 0;
}
#topnav {
    font-size: $small;
    color: #969ba2;

    a {
        color: #969ba2;
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}
.language_switch {
    padding: 0 0.7em;
}

/* navigation */
#nav {
    clear: none;
    font-size: $large;
    text-align: right;
    padding-top: 1.5em;
    font-weight: bold;
    color: #fff;

    body.compact & {
        padding-top: 0.2em;
        font-weight: normal;

        .hlist > ul > li {
            height: 2em;
            padding-top: 0.2em;
            > a {
                height: 2em;
            }
        }
    }

    .hlist > ul {
        display: block;
        margin: 0;
    }

    .hlist > ul > li {
        height: 3.5em;
        padding-top: 1em;
        margin: 0 0 0 1px;
        position: relative;

        a {
            color: #fff;
            text-decoration: none;
            display: block;
        }

        > a {
            padding: 0 0.9em 0 0.7em;
            height: 3.5em;
        }

        &.current {
            background-color: $header-color2;
            @include background-image(linear-gradient(to bottom, darken($header-color2, 1%), lighten($header-color2, 4%)));

            > a {
                color: #c1c4c9;
            }
        }
        // FIXME not accessible
        &:hover {
            background-color: lighten($header-color2, 4%);
            @include background-image(linear-gradient(to bottom, lighten($header-color2, 5%), $header-color2));
        }
    }
}

#nav_dummy {
    display: none;
}
#user_menu {
    display: inline-block;
    border-left: 1px solid $header-color2;
}

// FIXME not accessible
#nav li:hover ul.children {
    display: block;
}
#nav ul.children {
    display: none;
    position: absolute;
    font-size: $large;
    background-color: $header-color2;
    margin: 0;
    min-width: 13em;
    text-align: left;
    padding: 1.3em;
    right: 0;
    /* raised, so map is below */ 
    z-index: 1008;
    font-size: 14px;

    li {
        padding: 0.2em 0.1em 0.1em;
        font-size: $large;
        line-height: 1.7;
        display: block;

        border-bottom: 1px solid darken($header-color2, 10%);
        border-top: 1px solid lighten($header-color2, 10%);

        &:first-child {
            border-top: none;
            padding-top: 0.1em;
        }
        &:last-child {
            border-bottom: none;
        }
        a {
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            height: auto;
            padding: 0;
        }
        a:hover, a:focus, &.current a {
            color: #c1c4c9;
        }
    }

    ul.children {
        position: initial;
        padding: 0 0 0 1.3em;
    }
}

a.show_me {
    background-position: right -350px;
    padding-right: 1.5em;

    #topnav & {
        background-position: right -352px;
    }
    #user_menu & {
        background-position: right -348px;
        padding: 0 1.5em 0 1.2em !important;
        line-height: 1.5;
    }
}
