#header .page_wrapper {
    position: relative;
    padding: 0 23px;
    height: 90px;
    overflow: visible; /*allow long popup menu */
}
body.logged_in #header .page_wrapper {
    height: 40px;
}
#logo {
    height: 70px;
    overflow: hidden;
    display: inline-block;
    float: left;
}
body.logged_in #logo {
    height: 40px;
    h1 {
        text-indent: -900em;
    }
}

/* top navigation */
#header #topnav {
    right: 30px;
    top: 0px;
}
#topnav {
    font-size: 11px;
    color: #969ba2;

    a {
        color: #969ba2;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.language_switch {
    padding: 0 10px;
}

/* navigation */
#nav {
    clear: none;
    text-align: right;
    height: 67px;
    padding-top: 23px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;

    body.logged_in & {
        height: 36px;
        padding-top: 4px;
        font-weight: normal;

        .hlist > ul > li {
            height: 32px;
            padding-top: 4px;
            > a {
                height: 32px;
            }
        }
    }

    .hlist > ul > li {
        height: 52px;
        padding-top: 15px;
        margin: 0 0 0 1px;
        position: relative;

        a {
            color: #fff;
            text-decoration: none;
            display: block;
        }

        > a {
            padding: 0 13px 0 10px;
            height: 52px;
        }

        &.current {
            background-color: $header-color2;
            @include background-image(linear-gradient(to bottom, darken($header-color2, 1%), lighten($header-color2, 4%)));

            > a {
                color: #c1c4c9;
            }
        }
        &:hover {
            background-color: lighten($header-color2, 4%);
            @include background-image(linear-gradient(to bottom, lighten($header-color2, 5%), $header-color2));
        }
    }
}

#user_menu {
    display: inline-block;
    border-left: 1px solid $header-color2;
}

#nav li:hover ul.children {
    display: block;
}
#nav ul.children {
    display: none;
    position: absolute;
    background-color: $header-color2;
    margin: 0px;
    min-width: 200px;
    text-align: left;
    padding: 20px;
    right: 0px;
    z-index: 100;
    font-size: 14px;

    li {
        padding: 4px 2px 2px;
        font-size: 14px;
        line-height: 25px;
        display: block;

        border-bottom: 1px solid darken($header-color2, 10%);
        border-top: 1px solid lighten($header-color2, 10%);

        &:first-child {
            border-top: none;
            padding-top: 2px;
        }
        &:last-child {
            border-bottom: none;
        }
        a {
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            height: auto;
            padding: 0;
        }
        a:hover, &.current a {
            color: #c1c4c9;
        }
    }

    ul.children {
        position: initial;
        padding: 0 0 0 20px;
    }
}

a.show_me {
    background-position: right -350px;
    padding-right: 23px;

    #topnav & {
        background-position: right -352px;
    }
    #user_menu & {
        background-position: right -348px;
        padding: 0 23px 0 18px !important;
        line-height: 1.5em;
    }
}
