/* papers */
ul.papers_list {
    margin: 0;
    margin-bottom: 1.5em;
    list-style: none;
}
.paper_head h4 { float: left; }
.paper_head a { float: right; }
.paper p {
    display: inline;
}

.proposals_pager {
    .main_row {
        display: table;
        width: 100%;

        > * {
            display: table-cell;
            vertical-align: top;
        }
        .row_button {
            width: 4em;
            padding-top: 0.6em;
            text-align: center;

            .button_small {
                padding: 0;
                width: 1.6em;
                line-height: 1.6;
            }
        }
        .row_title {
            margin-top: 0;
        }
        .thumbnailbadges {
            text-align: right;
        }
    }
    .proposal {
        margin-top: 0.5em;
        padding: 1.5em;

        .vote_wrapper {
            float: right;
        }
        hr {
            margin-bottom: 1em;
        }
    }
}
