.languagelist label {
    margin: 0;
    padding: 0;
}

.password-reset-link {
    // FIXME: this should be replaced by `float: right` or similar
    display: inline-block;
    width: 16em;
    padding-left: 1em;
    text-align: right;
    padding-right: 0;
}
