/* papers */
ul.papers_list {
    margin: 0;
    margin-bottom: 1.5em;
    list-style: none;
}
.paper_head h4 { float: left; }
.paper_head a { float: right; }
.paper p {
    display: inline;
}

.proposals_pager {
    .content_box {
        @include clearfix;

        > div {
            float: left;
            margin-bottom: 0.5em;
        }
    }
    .showhide_button {
        float: right;
        margin-right: 1em;

        &:after {
            margin: 0;
        }
    }
    .proposal {
        padding: 1.5em;
        clear: both;

        .vote_wrapper {
            float: right;
        }
        hr {
            margin-bottom: 1em;
        }
    }
}
