#col3_content {
    background: $bg1;
    padding: 1.5em;
}

#col3 h3 {
    font-size: 25px;
    border-bottom: 1px dotted $border;
    margin: 0.3em 0;
    padding-bottom: 0.1em;
}

/* Sidebar content summary */
#col3 summary ol {
    list-style-type: none;
    margin-left: 0;
}
