#subnav {
    clear: none;
    height: 36px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin: 0px;
    padding-top: 19px;
    float: left;
    li {
        line-height: 36px;

        a {
            @include button($button-color);
        }
        &.current {
            a {
                color: $black;
                background-color: #fff;
                @include background-image(linear-gradient(to bottom, darken(#fff, 12%), #fff));
                &:hover, &:focus {
                    background-color: darken(#fff, 7%);
                    @include background-image(linear-gradient(to bottom, darken(#fff, 16%), #fff));
                }
            }
        }
    }
}

#subheader.logo #subnav {
    padding-top: 29px;
}
