#subheader {
    background-color: $bg1;
    @include background-image(linear-gradient(to bottom, white, $bg2));
    @include box-shadow(0 -1em 0.5em -1em rgba(0,0,0,0.1) inset);
    display: block;
    overflow: hidden;
    padding-top: 27px;
    margin-bottom: 40px;
    overflow: hidden;
}

#logo_row {
    position: relative;
    width: 100%;
}

#organisation_logo {
    overflow: hidden;
    float: left;

    img {
        vertical-align: bottom;
        margin-right: 10px;
        max-height: 35px;
    }
    h2 {
        color: #000;
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 0;
        display: inline;
    }
    a:hover, a:focus {
        text-decoration: none;
    }
}

#instance_settings {
    position: absolute;
    right: 0;
    top: 0;
}

#nav_row {
    clear: both;
}
