<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${c.form_title}</%def>

<%def name="breadcrumbs()">
	${h.tag.breadcrumbs(None)|n}
</%def>

<div class="mainbar">
  <h1>${c.form_title}</h1>
  <form name="update_batch" class="inplace" method="POST"
        action="${c.action_url}">

    ${h.field_token()|n}

    <label for="title" class="">${_("Badge title")}</label>
    <input name="title" id="title" class="" style="width:20em"
           value="" />
    <span class="hint">${_("The title of the badge.")}</span>

    <label for="color" 
           class="">${_("The color that is used to show the badge")}</label>
    <input name="color" style="width: 8em" id="color" class=""
           value="" />
    <span class="hint">${_("Like '#a4a4a4'")}</span>

    <label for="group" 
           class="">${_("Assign the user exclusively to this group")}</label>

    <select name="group"> 
        <option value="">${_("No Group")}</option>
        %for group in c.groups:
        <option value="${group.code}">${group.group_name}</option>
        %endfor
    </select>

    <span class="hint">${_("If an user is assigned exclusively to a group "
    "with a badge, an instance supervisor will not be able to change the "
    "uses group or add him to another group.")}</span>

    <div class="mainbar">
      ${components.savebox("/badge", c.save_button)}
    </div>
  </form>
</div>