<%inherit file="/template.html" />
<%namespace name="tiles" file="/badge/tiles.html"/>
<%def name="title()">${_("Badges")}</%def>

<%def name="breadcrumbs()">
    ${h.tag.breadcrumbs(None)|n}
</%def>

<%block name="headline">
% if not c.instance: 
  <h1 class="page_title">${_("All Badges")}</h1>
% endif
% if c.instance:
  <h1 class="page_title">${_("Badges of this instance")}</h1>
% endif


</%block>

<%block name="main_content">
  <h1>${_("User Badges")}</h1>
  % if not c.badges_users:
  <p>${_("No badges added yet.")}</p>
  % endif

  <div class="table">
  % if c.badges_users:
    <table class="table_listing">
      <thead>
        <th>${_("Title")}</th>
        <th>${_("Description")}</th>
        <th>${_("Color")}</th>
        <th>${_("Preview")}</th>
        <th>${_("Assigned Group")}</th>
        <th>${_("Display")}</th>
        <th>${_("Actions")}</th>
      </thead>
      %for badge in c.badges_users:
      <tr class="tile">
        <td>${badge.title}</td>
        <td>${badge.description and (badge.description[:20] + u'...') or ''}</td>
        <td>${badge.color}</td>
        <td>${tiles.badge(badge)}</td>
        <td>${badge.group and badge.group.group_name or ""}</td>
        <td>${badge.display_group and _("yes") or _("no")}</td>
        
        <td>
          <a class="button edit ttip"
             href="${c.base_url}badge/edit/${badge.id}">${_('Edit')}</a></td>
      </tr>
      %endfor
    </table>
  % endif
  </div>
  <h1>${_("Proposal Badges")}</h1>
  % if not c.badges_delegateables:
  <p>${_("No badges added yet.")}</p>
  % endif
  <div class="table">
  % if c.badges_delegateables:
    <table class="table_listing">
      <thead>
        <th>${_("Title")}</th>
        <th>${_("Description")}</th>
        <th>${_("Color")}</th>
        <th>${_("Preview")}</th>
        <th>${_("Actions")}</th>
      </thead>
      %for badge in c.badges_delegateables:
      <tr class="tile">
        <td>${badge.title}</td>
        <td>${badge.description and (badge.description[:20] + u'...') or ''}</td>
        <td>${badge.color}</td>
        <td>${tiles.badge(badge)}</td>
        
        <td>
          <a class="button edit ttip"
             href="${c.base_url}badge/edit/${badge.id}">${_('Edit')}</a></td>
      </tr>
      %endfor
    </table>
  % endif
  </div>    

  <h1>${_("Proposal Category Badges")}</h1>
  % if not c.badges_delegateable_categories:
  <p>${_("No badges added yet.")}</p>
  % endif
  <div class="table">
  % if c.badges_delegateable_categories:
    <table class="table_listing">
      <thead>
        <th>${_("Title")}</th>
        <th>${_("Description")}</th>
        <th>${_("Color")}</th>
        <th>${_("Preview")}</th>
        <th>${_("Actions")}</th>
      </thead>
      %for badge in c.badges_delegateable_categories:
      <tr class="tile">
        <td>${badge.title}</td>
        <td>${badge.description and (badge.description[:20] + u'...') or ''}</td>
        <td>${badge.color}</td>
        <td>${tiles.badge(badge)}</td>
        
        <td>
          <a class="button edit ttip"
             href="${c.base_url}badge/edit/${badge.id}">${_('Edit')}</a></td>
      </tr>
      %endfor
    </table>
  % endif
  </div>    

  <div class="inline_input_wrapper">
      <a class="button add" href="${c.base_url}badge/add">${_("Add new badge...")}</a>
  </div>
</%block>

