<%inherit file="/template.html" />
<%namespace name="tiles" file="/badge/tiles.html"/>
<%def name="title()">${_("Badges")}</%def>

<%def name="breadcrumbs()">
    ${h.tag.breadcrumbs(None)|n}
</%def>

<h1 class="page_title"><img src="/img/icons/tag_24.png" class="cd" /> ${_("All Badges")}</h1>

<div class="sidebar">
  <div class="help">
    <h3>${_("Help")}</h3>
    <ul>
      <li>fixme: add help texts</li>
    </ul>
  </div>
</div>

<div class="mainbar">
  <h1>${_("User Badges")}</h1>
  % if not c.badges_users:
  <p>${_("No badges added yet.")}</p>
  % endif

  <div class="table">
    <table class="table_listing">
      <thead>
        <th>${_("Title")}</th>
        <th>${_("Description")}</th>
        <th>${_("Color")}</th>
        <th>${_("Preview")}</th>
        <th>${_("Assigned Group")}</th>
        <th>${_("Display")}</th>
        <th>${_("Actions")}</th>
      </thead>
      %for badge in c.badges_users:
      <tr class="tile">
        <td>${badge.title}</td>
        <td>${badge.description and (badge.description[:20] + u'...') or ''}</td>
        <td>${badge.color}</td>
        <td>${tiles.badge(badge)}</td>
        <td>${badge.group and badge.group.group_name or ""}</td>
        <td>${badge.display_group and _("yes") or _("no")}</td>
        
        <td>
          <a class="button edit ttip"
             title='${_("Edit Badge \"%s\"") % badge.title}' 
             href="./badge/edit/${badge.id}">${_('Edit')}</a></td>
      </tr>
      %endfor
    </table>
  </div>
  <h1>${_("Proposal Badges")}</h1>
  % if not c.badges_users:
  <p>${_("No badges added yet.")}</p>
  % endif
  <div class="table">
    <table class="table_listing">
      <thead>
        <th>${_("Title")}</th>
        <th>${_("Description")}</th>
        <th>${_("Color")}</th>
        <th>${_("Preview")}</th>
        <th>${_("Actions")}</th>
      </thead>
      %for badge in c.badges_delegateables:
      <tr class="tile">
        <td>${badge.title}</td>
        <td>${badge.description and (badge.description[:20] + u'...') or ''}</td>
        <td>${badge.color}</td>
        <td>${tiles.badge(badge)}</td>
        
        <td>
          <a class="button edit ttip"
             title='${_("Edit Badge \"%s\"") % badge.title}' 
             href="./badge/edit/${badge.id}">${_('Edit')}</a></td>
      </tr>
      %endfor
    </table>
  </div>    
  <p></p>
  <a class="button add" href="/badge/add">${_("Add new badge...")}</a>
</div>
