.svn
.hgsvn

*.pyc
*.pyo
*.swp
*.swo
*.egg
*.egg-info
*.db
*.orig
*.rej
*.DS_Store
*~
.*~
.#*

bundestag.ini
data/*
docs/build/*
site/*
adhocracy/*_theme
var
parts
bin
/src/*
!/src/adhocracy/
lib64
eggs
develop-eggs
htmlcov
include
downloads
installed_eggs
.coverage
.mr.developer.cfg
.installed.cfg
etc/adhocracy.ini
etc/redis.conf
etc/unthemed.ini
etc/vhost.conf
etc/sysv-init
etc/adhocracy-interactive.ini
etc/test.ini
mailsink
adhocracy-test-chroot
RELEASE-VERSION
dist
buildout_current.cfg
