.svn
.hgsvn

*.pyc
*.pyo
*.swp
*.swo
*.egg
*.egg-info
*.db
*.orig
*.rej
*.DS_Store
*~
.*~
.#*
.cache
.doctrees

bundestag.ini
data/*
docs/build/*
site/*
/var
/parts
/bin
/local
/src/*
!/src/adhocracy/
!/src/adhocracy_kotti
/src/adhocracy_kotti/bin
/src/adhocracy_kotti/develop-eggs
/src/adhocracy_kotti/lib
/src/adhocracy_kotti/parts
/src/adhocracy_kotti/src
!/src/adhocracy_kotti_theme
/lib
/lib64
/eggs
/develop-eggs
htmlcov
include
/downloads
/installed_eggs
.coverage
.mr.developer.cfg
.installed.cfg
etc/adhocracy.ini
etc/adhocracy_service.ini
etc/adhocracy_service_testing.ini
etc/redis.conf
etc/unthemed.ini
etc/vhost.conf
etc/sysv-init
etc/adhocracy-interactive.ini
etc/test.ini
etc/compass.rb
etc/compass.min.rb
mailsink
adhocracy-test-chroot
RELEASE-VERSION
dist
buildout_current.cfg
buildout-*.cfg
/python
!/python/bootstrap.py
!/python/buildout.cfg
/.cache
.sass-cache
src/adhocracy/static/stylesheets/adhocracy.css
src/adhocracy/tests/loadtests/data
src/adhocracy/static/stylesheets/min/
