.svn
.hgsvn

*.pyc
*.pyo
*.swp
*.swo
*.egg
*.egg-info
*.db
*.orig
*.rej
*.DS_Store
*~
.*~
.#*

bundestag.ini
test-site/*
data/*
docs/_build/*
test-data/index
site/*
test-site/*
adhocracy/*_theme
test.db-journal
var
parts
bin
lib
src_dependencies
lib64
eggs
develop-eggs
htmlcov
include
downloads
installed_eggs
docs
.coverage
.mr.developer.cfg
.installed.cfg
etc/adhocracy.ini
etc/rabbitmq-env.conf
etc/unthemed.ini
etc/vhost.conf
etc/sysv-init
etc/adhocracy-interactive.ini
mailsink
adhocracy-test-chroot
