##############################################################################  
# Buildout to develop adhocracy (with dummy lamson mailserver)
#
############################################################################## 

[buildout]
extends = 
    buildout_common.cfg
    buildouts/developtools.cfg
    buildouts/codecheck.cfg
    buildouts/mailserver.cfg

##############################################################################  
#Override settings from buildout_common.cfg    
##############################################################################  

[adhocracy]
debug = True
smtp_port = 8825

[ports]
mailserver_port = ${adhocracy:smtp_port}  

[domains]
main = adhocracy.lan
# generate internal urls with port 5001 to be able to work without a
# proxy (e.g. apache with ReverseProxy, see /etc/vhost.ini.in)
# on a port != 80
main.force_port = True
