include *.txt development.ini test.ini
recursive-include docs *
recursive-include scripts *
recursive-include docs *
recursive-include solr *
recursive-include adhocracy/page *
recursive-include adhocracy/static *
