<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Delete: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.proposal.breadcrumb(c.proposal)|n} &raquo; ${_("Delete")}
</%def>

${tiles.proposal.header(c.proposal, c.tile, active='')}

<form name="ask_delete" class="inplace" method="POST" 
	action="${h.entity_url(c.proposal)}">
	${h.field_token()|n}
	<input type="hidden" name="_method" value="DELETE" />
	<div class="sidebar">
		${tiles.proposal.sidebar(c.proposal, c.tile)}
	</div>
	<div class="mainbar">
		<div class="warning_box">
			${_("Are you sure you want to delete this proposal?")|n}
		</div>
		<center>
			<input type="submit" class="delete" value="${_('Confirm')}" />
		</center>
	</div>
</form>
