<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="comment_tiles" file="/comment/tiles.html"/>


<%def name="title()">${_("Implementation: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("Implementation")}
</%def>

${tiles.proposal.header(c.proposal, c.tile, active='implementation')}

<div class="sidebar">
	${tiles.proposal.sidebar(c.proposal, c.tile)}
</div>
<div class="mainbar">
	%if not c.proposal.has_canonicals():
		<span class="infobox">${_("<b>Provisions</b> are the body of a proposal: together they form the language that will be voted upon. You will need to have at least one clause in order to call for a vote.")|n}</span>
	%endif
	
	%for canonical in c.proposal.canonicals:
		${tiles.comment.full(canonical, recurse=False, collapse=False)}
	%endfor
	
	%if c.tile.can_create_canonical:
	<div class="comment">
		${comment_tiles.create_form(None, c.proposal, canonical=1, can_wiki=False, arm=_("Write a new provision..."))}
	</div>
	%endif
</div>
