<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Delegations: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("Delegations")}
</%def>

${tiles.proposal.header(c.proposal, c.tile, active='delegations')}

<div class="sidebar">
	${tiles.proposal.sidebar(c.proposal, c.tile)}
	<br/>
	<h3 class="help">${_("Help")}</h3>
	<ul>
		<li><a href="/page/delegation_faq.html#whatis">Was ist eine Delegation?</a></li>
		<li><a href="/page/delegation_faq.html#revoke">Können Delegationen widerrufen werden?</a></li>
		<li><a href="/page/delegation_faq.html">${_("More help...")}</a></li>
	</ul>
</div>

<div class="mainbar">
	<div class="table">
		${c.delegations_pager.here()}
	</div>
</div>