<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Delegations: %s") % c.proposal.title}</%def>

<%def name="breadcrumbs()">
    ${h.proposal.breadcrumbs(c.proposal)|n} &raquo; ${_("Delegations")}
</%def>

<%block name="sidebar">
<% tile = tiles.proposal.ProposalTile(c.proposal) %>
    ${tiles.delegation.sidebar(c.proposal, tile)}
</%block>

<%block name="main_content">
<h2>
    ${h.delegateable.link(c.proposal, link=True)|n}
</h2>
<div class="hr"><hr /></div>

    <div class="table">
        ${c.delegations_pager.here()}
    </div>
</%block>
