<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Delegations: %s") % c.proposal.title}</%def>

<%def name="breadcrumbs()">
    ${h.proposal.breadcrumbs(c.proposal)|n} &raquo; ${_("Delegations")}
</%def>

<%block name="headline">
${tiles.proposal.header(c.proposal, c.tile, active='delegations')}
</%block>

<%block name="sidebar">
    ${tiles.proposal.sidebar(c.proposal, c.tile)}
    <br/>
    <div class="help">
        <h3>${_("Help")}</h3>
        <ul>
            <li>${h.help_link(_("What is a delegation?"), 'delegation_faq', anchor='whatis')|n}</li>
            <li>${h.help_link(_("Can delegations be revoked?"), 'delegation_faq', anchor='revoke')|n}</li>
            <li>${h.help_link(_("More help..."), 'delegation_faq')|n}</li>
        </ul>
    </div>
</%block>

<%block name="main_content">
    <div class="table">
        ${c.delegations_pager.here()}
    </div>
</%block>
