<%inherit file="/template.html" />
<%namespace name="tiles_html" file="/proposal/tiles.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Edit %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("Edit")}
</%def>

<form name="edit_proposal" class="inplace" method="POST" action="/proposal/edit/${c.proposal.id}">
	${h.field_token()|n}
	<div class="page_title">
		<label for="label" class="armhint">${_("New Proposal")}</label>
		<input tabindex="1" class="title armlabel" name="label" value="${c.proposal.label}"/>
	</div>
	
	<h3>${_("Issue")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("If necessary, move the proposal to a different issue to keep things organized.")}
	 	</div>
	</div>
	<div class="mainbar">
		<table width="100%">
		<tr>
			<td width="20%" valign="top">
				<label for="issue">${_("Issue")}</label>
			</td>
			<td  valign="bottom">
				<select name="issue">
				%for issue in c.issues:
					<option value="${issue.id}" ${"selected='selected'" if issue==c.proposal.issue else ''}>${issue.label}</option>
				%endfor
				</select>
			</td>
		</tr>
		</table>
	</div>
	
	<div style="clear:both;"></div>
	<h3>${_("Relations to other proposals")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("Specify which proposals <b>contradict</b> or <b>enable</b> this proposal." +
			"<br/><br/>" +
			"Contradicting proposals cannot be in power at the same time." + 
			"<br/><br/>" +
			"Requirements must be satisfied before the proposal can activate.")|n}			
		</div>
		<br/>
	</div>
	<div class="mainbar">
		<input type="hidden" name="rel_error" />
		<table width="100%">
			<tr>
				<th width="20%">${_("Relation")}</th>
				<th>${_("Proposal")}</th>
			</tr>
			<%
			options = [m for m in c.proposals if not m in c.relations.keys()]
			if c.proposal in options:
				options.remove(c.proposal)
			%>
			%if len(options):
				${tiles_html.relation(rel_type='n', options=options, prototype=True)}
			%endif
			%for proposal, type in c.relations.items():
				${tiles_html.relation(rel_type=type, rel_proposal=proposal)}
			%endfor
			%if len(options):
				${tiles_html.relation(rel_type='n', options=options)}
			%endif
		</table>
		%if len(options):
		<div class="jsadd">
			<input type="button" value="${_("Add a relation")}" onclick="return appendRelation();" />
		</div>
		%endif
	</div>
	
	<div style="clear:both;"></div>
	<div class="sidebar">
		&nbsp;
	</div>
	<div class="mainbar">
		${components.savebox("/proposal/%s" % c.proposal.id)}
		${components.form_watch(c.proposal)}
	</div>
</form>