<%inherit file="/template.html" />
<%namespace name="tiles_html" file="/proposal/tiles.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Edit %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("Edit")}
</%def>

<form name="edit_proposal" class="inplace" method="POST" action="/proposal/${c.proposal.id}">
	${h.field_token()|n}
	<input type="hidden" name="_method" value="PUT" /> 
	<div class="page_title">
		<label for="label" class="armhint">${_("New Proposal")}</label>
		<input tabindex="1" class="title armlabel" name="label" value="${c.proposal.label}"/>
	</div>
	
	<h3>${_("Proposal goals")}</h3>
	<div class="sidebar">
		<div class="infobox">${_("A brief description of <b>the goals</b> of your proposal.")|n}</div>
	</div>
	<div class="mainbar">
		<label for="text" class="armhint">${_("The proposal would...")}</label>
		<textarea tabindex="2" class="description armlabel" rows="${c.text_rows}" name="text">${c.proposal.description.head.text}</textarea>
		${components.formatting()}
	</div>
	
	<h3>${_("Alternatives")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("Specify which proposals <b>contradict</b> this proposal and should be listed as alternatives.")|n}			
		</div>
		<br/>
	</div>
	<div class="mainbar">
		<table width="100%">
			%for proposal in c.alternatives:
				${tiles_html.alternative(proposal=proposal, checked=True)}
			%endfor
			%if len(c.proposals):
				${tiles_html.alternative(options=c.proposals, prototype=True)}
				${tiles_html.alternative(options=c.proposals)}
			%endif
		</table>
		%if len(c.proposals):
		<div class="jsadd">
			<input type="button" value="${_("Add an alternative")}" onclick="return appendAlternative();" />
		</div>
		%endif
	</div>
	
	<div style="clear:both;"></div>
	
	<div class="sidebar">
		<div class="infobox">
			${h.help_link(_("More help..."), 'proposal_faq')|n}
		</div>
	</div>
	<div class="mainbar">
		${components.savebox("/proposal/%s" % c.proposal.id)}
		${components.form_watch(c.proposal)}
	</div>
</form>