<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Proposals")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance)|n} &raquo; ${_("Proposals")}
</%def>

<div class="top_actions title">
	%if c.tile.can_create_proposal:
		<a class="button add ttip" title="${_('Introduce a new idea to debate.')}" href="/proposal/new">${_("new proposal")}</a>
	%endif
</div>
	
<h1 class="page_title"><img src="/img/icons/proposal_24.png" class="cd" /> ${_("Proposals")}</h1>

<div class="sidebar">
	%if len(c.cloud_tags):
		<h3 class="section">${_("Popular tags")}</h3>
		${tiles.tag.cloud(c.cloud_tags)}
	%endif
</div>

<div class="mainbar">
<form action="?" method="GET" autocomplete="off">
	<label for="proposals_q" class="armhint">${_("Find proposals")}</label>
	<input id="proposals_q" class="live_search armlabel" name="proposals_q" 
			type="text" value="${request.params.get('proposals_q', '')}" 
			tabindex="1" />
</form>
	<div id="proposals_table" class="table">
		${c.proposals_pager.here()}
	</div>
</div>