<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Proposals")}</%def>

<%def name="breadcrumbs()">
    ${h.proposal.breadcrumbs(None)|n}
</%def>


<%block name="headline">
<h1>${_("Proposals")}</h1>

</%block>

<%block name="main_content">
<div class="top_actions title">
    %if can.proposal.create():
        <a class="button add ttip" title="${_('Introduce a new idea to debate.')}" href="/proposal/new">${_("new proposal")}</a>
    %endif
</div>
    
<form action="?" method="GET" autocomplete="off">
    <label for="proposals_q" class="armhint">${_("Find proposals")}</label>
    <input id="proposals_q" class="live_search armlabel" name="proposals_q" 
            type="text" value="${request.params.get('proposals_q', '')}" 
            tabindex="1" />
</form>
    <div id="proposals_table" class="table">
        ${c.proposals_pager.here()}
    </div>
    <br/>
    <div class="top_actions aside">
        %if can.proposal.create():
            <a class="button add ttip" title="${_('Introduce a new idea to debate.')}" href="/proposal/new">${_("new proposal")}</a>
        %endif
    </div>
</%block>

<%block name="sidebar">
    <div id="proposals_facets">
        ${c.proposals_pager.render_facets()}    
    </div>
</%block>
