<%inherit file="/template.html" />
<%namespace name="tiles_html" file="/proposal/tiles.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("New proposal")}</%def>

<%def name="breadcrumbs()">
    ${h.proposal.breadcrumbs(None)|n}
</%def>

<form name="create_proposal" class="inplace" method="POST" action="/proposal">
    ${h.field_token()|n}
    
    <div class="sidebar">
        <div class="help">
            <h3>${_("Help")}</h3>
            <ul>
                <li>${h.help_link(_("What is a proposal?"), 'proposal_faq', anchor='whatis')|n}</li>
                <li>${h.help_link(_("How can I support a proposal?"), 'proposal_faq', anchor='support')|n}</li>
                <li>${h.help_link(_("Guide: Supporting proposals"), 'support_text')|n}</li>
                <li>${h.help_link(_("Guide: Developing proposals"), 'proposal_text')|n}</li>
                <li>${h.help_link(_("More help..."), 'proposal_faq')|n}</li>
            </ul>
        </div>
    </div>
    
    <div class="mainbar">
        <h3>${_("Proposal title")}</h3>
        <div class="page_title">
            <label for="label" class="armhint">${_("New proposal")}</label>
            <input tabindex="1" class="title armlabel" name="label" />
        </div>

        %if c.instance.use_norms:
          <br/><br/>
          <h3>${_("Change norms with this proposal")}</h3>
          <!-- norm nom nom -->
          <script>
            var page_index = ${len(c.pages)+1};
            $(document).ready(function() {
              $("#selectpage").change(function(e) {
                var id = $(e.target).val();
                var url = '/page/' + id + '.json';
                $.get(url, function(data) {
                  var norm = $("#norms .prototype").clone();
                  norm.children(".page-id").attr('name', 
                    'page-' + page_index + '.id');
                  norm.children(".page-id").val(id);
                  norm.children(".page-title").html(data.title);
                  norm.children(".page-text").attr('name', 
                    'page-' + page_index + '.text');
                  norm.children(".page-text").html(data.text.text);
                  norm.insertBefore("#norms .prototype");
                  $("#norm-help").slideUp('fast');
                  norm.slideDown('fast');
                  norm.removeClass('prototype');
                  $(e.target).val("")
                  console.log(id);
                  $(e.target).children("option[value='" + id + "']").remove();
                  // TODO: remove option afterwards
                  page_index = page_index + 1;
                }, 'json');
              });
            }); 
          </script>
          <div id="norms">
            %if not len(c.pages):
              <div id="norm-help" class="infobox">
                ${_("Proposals are implemented by including changes towards new or existing norm. Norms are fixed documents that represent the consensus of this instance and can only be changed through a vote. Amend the proposal to change or create a norm.")} 
              </div>
            %endif
            %for i, (id, title, text) in enumerate(c.pages):
              <div class="proposal-new-norm">
                <label for="page-${i+1}.text" 
                  class="page-title">${title}</label>
                <input type="hidden" class="page-id" 
                  name="page-${i+1}.id" value="${id}" />
                <textarea class="page-text" 
                  name="page-${i+1}.text">${text}</textarea>
              </div>
            %endfor
            <div class="proposal-new-norm prototype">
              <label for="" class="page-title"></label>
              <input type="hidden" class="page-id" />
              <textarea class="page-text"></textarea>
            </div>
            <label for="selectpage">${_("Select a norm to change:")}</label>
            ${tiles.page.select_page(field_name='selectpage',
                                     functions=[model.Page.NORM], 
                                     exclude=c.exclude_pages, 
                                     allow_empty=True)}
          </div>
        %endif


        <h3>${_("Proposal goals")}</h3>
        <div class="infobox">
            ${_("Give a brief description of <b>the goals</b> of your proposal.")|n}
        </div>
    
        <label for="text" class="armhint">${_("The proposal would...")}</label>
        <textarea tabindex="2" class="description armlabel" name="text"></textarea>
        ${components.formatting()}
        

        <br/><br/>
        <h3>${_("Tag and classify")}</h3>
        <label for="tags" class="armhint">${_("Tags to describe the subject")}</label>
        <input name="tags" id="tags" class="armlabel long" />
        <span class="hint">${_("Multiple tags can be separated by commas.")}
            ${h.help_link(_("Help."), 'tag_faq')|n}
      </span>
      <br/>
        <input type="checkbox" checked="" name="wiki" value="1"
        checked="checked" />
        ${_("Allow others to edit this proposal.")}

      %if c.instance.milestones:
        <br/>
        <br/>
        <label for="milestone">${_("Relates to a milestone")}</label>
        ${tiles.milestone.select(None)}
      %endif
    </div>
    
    <div style="clear:both;"></div>
    <div class="sidebar">
        <div class="infobox">
            ${h.help_link(_("More help..."), 'proposal_faq')|n}
        </div>
    </div>
    <div class="mainbar">
        ${components.savebox("/")}
        ${components.form_watch(None, checked=True)}
    </div>
</form> 
