<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="comment_tiles" file="/comment/tiles.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="title()">${c.proposal.title}</%def>

<%def name="breadcrumbs()">${h.proposal.breadcrumbs(c.proposal)|n}</%def>

<%block name="headline">

${tiles.proposal.header(c.proposal, c.tile, active='goal')}

    ${tiles.proposal.sidebar(c.proposal, c.tile)}


</%block>

<%block name="main_content">

    <div class="top_actions aside">
        &nbsp;      
        %if can.proposal.edit(c.proposal):
            <a class="button title edit ttip" title="${_('Edit this proposal.')}"
                href="${h.entity_url(c.proposal, member='edit')}">${_("edit")}</a>
        %endif
    </div>
    <h2>${_("Proposal goal and description")}</h2>
    ${tiles.page.inline(c.proposal.description, 
                        hide_discussion=c.instance.use_norms and len(c.proposal.selections))}
    
    %if c.proposal.instance.use_norms:
        <br/>
        <h2>${_("Implementation")}</h2>
        <div class="help">
        <div class="infobox">
            ${_("Proposals are implemented by including changes towards new or existing norm. Norms are fixed documents that represent the consensus of this instance and can only be changed through a vote. Amend the proposal to change or create a norm.")} 
        </div>
        </div>
        <div class="top_actions aside">
          &nbsp; 
          %if can.selection.create(c.proposal):
              %if c.disable_include:
                  <a class="button title ttip inactive"
                     title="${_('The proposal refers to all norms already.')}">
                      ${_("change existing norm")}
                  </a>
              %else:
                  <a class="button title edit ttip" 
                     title="${_('Propose to change a norm through this proposal.')}" 
                     href="${h.entity_url(c.proposal, member='implementation/include')}">
                      ${_("change existing norm")}
                  </a>
              %endif
            %if can.norm.propose():
            <a class="button title add ttip" title="${_('Propose to create a norm through this proposal.')}" 
              href="${h.entity_url(c.proposal, member='implementation/propose')}">${_("propose new norm")}</a>
            %endif
          %endif        
        </div>
        <br/><br/>
        %for selection in sorting.sortable_text(c.proposal.selections, key=lambda s: s.page.title): 
            ${tiles.selection.row(selection)}
        %endfor
    %endif
</%block>

