<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="sidebar_defs" file="/sidebar.html"/>
<%namespace name="comment_tiles" file="/comment/tiles.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="title()">${c.proposal.title}</%def>

<%def name="breadcrumbs()">${h.proposal.breadcrumbs(c.proposal)|n}</%def>

<%block name="admin_controls">

<%components:admin_controls>

## FIXME: Reenable for adopt poll
##%if can.proposal.adopt(proposal):
##<a class="button title add ttip" title="${_('Call a vote on this proposal by freezing further development.')}" 
##   href="${h.entity_url(proposal, member='ask_adopt')}">${_("call a vote")}</a>
##%endif

%if lib.auth.authorization.has('global.admin'):
<a class="button edit" href="${h.entity_url(c.proposal, member='badges')}">${_("Edit Badges")}</a>
%endif
                                
%if can.proposal.delete(c.proposal):
<a class="button title delete ttip" title="${_('Delete this proposal.')}"   
   href="${h.entity_url(c.proposal, member='ask_delete')}">${_("delete")}</a>
%endif
</%components:admin_controls>

</%block>


<%block name="main_content">
<% 
url = h.base_url('/delegation/new?scope=%s' % str(c.proposal.id))
delegate_url = url if can.delegation.create() else None
%>

    %if not c.proposal.is_adopt_polling() and c.proposal.rate_poll:
    ${tiles.poll.widget(c.proposal.rate_poll, cls='big', delegate_url=delegate_url)}
    %endif

    %if c.proposal.is_adopt_polling():
    ${tiles.poll.widget(c.proposal.adopt_poll, cls='big', delegate_url=delegate_url)}
    %endif

            <section>
              <article>
                <h2>
                    ${h.delegateable.link(c.proposal, link=False)|n}
                </h2>
                <div class="hr"><hr /></div>
                
                <div class="utility">
                    <h4>${_('Topic and Description of the Proposal')}</h4>
                    %if can.proposal.edit(c.proposal):
                    <a href="${h.entity_url(c.proposal, member='edit')}">
                        ${_("edit")}
                    </a>
                    %endif
                </div>
                
                ${tiles.page.inline(c.proposal.description, 
                        hide_discussion=c.instance.use_norms and len(c.proposal.selections))}

                ${components.social_share_buttons(c.proposal)}

                <div class="meta">
                    <a href="#discussions">
                        ${_("%s Discussions") % c.proposal.description.comment_count(reply_filter=None)}
                    </a>
                    %if c.show_selections:
                    · 
                    <a href="#proposals">
                        ${_("%s Proposed Implementations") % len(c.num_selections)}
                    </a>
                    %endif
                    · 
                    <a href="${h.abuse.for_entity(c.proposal)}">
                        ${_("report")}
                    </a>
                    ·
                    <a href="${c.history_url}"
                       rel="#overlay-ajax">${'history'}</a>
                </div>
              </article>
              <br />

              <div id="main_comments">
                  <h3 id="discussions">${_('Discussions')}</h3>
                  ## comments are attached to the description which is a
                  ## :class:`adhocracy.model.Page`
                  ## proposal descriptions have no other variant than head.
                  ${tiles.comment.list(c.proposal.description, 
                                       variant=c.proposal.description.head.variant)}
            </div>
            </section>
            

            %if c.show_selections:
            <section>
              <h3 id="proposals">${_("Proposed Implementations")}</h3>
              <div class="hr"><hr /></div>
              <ul class="papers_list">
                  %for selection in c.sorted_selections: 
                  ${tiles.selection.row(selection)}
                  %endfor
              </ul> 
              <div class="list_button">
              <% auth = check.selection.create(c.proposal) %>
              <div id="propose-variant"></div>
              %if auth:
              <a class="button highlight" 
                 href="${h.entity_url(c.proposal, member='implementation/include')}">
                  ${_("Propose to change a norm")}
              </a>
              %elif auth.propose_login():
              <a class="button highlight" 
                 href="${h.entity_url(c.proposal, member='implementation/include')}" 
                 rel="#overlay-login-button" 
                 title="${_('Login to propose to change a norm')}">
                  ${_("Propose to change a norm")}
              </a>
              %elif auth.propose_join():
              <a class="button highlight" 
                 href="${h.entity_url(c.proposal, member='implementation/include')}" 
                 rel="#overlay-join-button" 
                 title="${_('Join instance to propose to change a norm')}">
                  ${_("Propose to change a norm")}
              </a>
              %endif          
              </div>
              <%doc> FIXME: Enable change existing norm option
              %if norm.can.create
              <a class="button" 
                 title="${_('Propose to create a norm through this proposal.')}" 
                 href="${h.entity_url(c.proposal, member='implementation/propose')}">
                  ${_("propose new norm")}
              </a>
              </div>
              </%doc>

            </section>
             
            %endif

<%components:tutorial>
<ol id="joyRideTipContent">

    <li data-id="col1_content"
        data-tip-location="top left" class="custom">
        <p>${_('tutorial_proposal_show_vote')}</p>
    </li>

    <li data-id="col3_content"
        data-tip-location="top left" class="custom">
        <p>${_('tutorial_proposal_show_follow')}</p>
    </li>

    <li data-id="information"
        data-tip-location="top" class="custom">
        <p>${_('tutorial_proposal_show_information')}</p>
    </li>

    <li data-id="FIXME-only-auth"
        data-tip-location="" class="custom">
        <p>${_('tutorial_proposal_show_tags')}</p>
    </li>

    <li data-id="socialshareprivacy"
        data-tip-location="" class="custom">
        <p>${_('tutorial_proposal_show_share')}</p>
    </li>

    <li data-id="FIXME: no id"
        data-tip-location="" class="custom">
        <p>${_('tutorial_proposal_show_vote_comment')}</p>
    </li>

    <li data-id="FIXME: no id"
        data-tip-location="" class="custom">
        <p>${_('tutorial_proposal_show_answers')}</p>
    </li>

    <li data-id="FIXME: no id"
        data-tip-location="" class="custom">
        <p>${_('tutorial_proposal_show_answer')}</p>
    </li>

    <li data-id="start-discussion-button"
        data-tip-location="bottom" class="custom">
        <p>${_('tutorial_proposal_show_new_discussion')}</p>
    </li>

    <li data-id="propose-variant" data-next="${_('Close')}"
        data-tip-location="bottom" class="custom">
        <p>${_('tutorial_proposal_show_propose_variant')}</p>
    </li>
  
</ol>
</%components:tutorial>

</%block>


<%block name="sidebar">

${components.watch(c.proposal)}

<h3 id="information">${_('Informations')}</h3>
<summary>

    ${sidebar_defs.shortlink(c.proposal)}

    <h6>${_('Last Activity')}</h6>
    <p><time>
        ${h.relative_time(
        c.proposal.find_latest_comment_time())|n}
    </time></p>

    <% tally = c.proposal.rate_poll.tally %>

    ${sidebar_defs.votes(c.proposal.rate_poll)}

    <h6>${_('Milestones')}</h6>
    <% milestone = c.proposal.milestone %>
    <p>
        %if milestone:
        %if milestone.is_deleted():
        ${_("This proposal relates to the deleted milestone %s."
        ) % h.milestone.link(milestone)|n}
        %else:
        ${_("This proposal relates to the milestone %s."
        ) % h.milestone.link(milestone)|n}
        %endif
        %else:
        ${_("This proposal is not related to a milestone")}
        %endif
    </p>
    <h6>${_('Created')}</h6>
    ## FIXME: ensure caching of history count (make it a tile?)
    <p>
<%
created_msg = _("by %s on %s, %s changes since then.") % (
    h.user.link(c.proposal.creator), 
    h.format_date(c.proposal.create_time),
    len(c.proposal.description.variant_history(model.Text.HEAD)))
%>
    ${created_msg|n}
    </p>

    ${tiles.tag.sidebar(c.proposal)}
    
    ## FIXME: Reimplement Tagging
    ## <div class="only-js" id="add-tag">
    ##     <a href="#">Schlagwort hinzufügen</a>
    ## </div>
</summary>


</%block>
