
<%def name="row(tile, proposal, detail=False)">
	<div class="tile">
		<div class="logo">
			%if tile.state.adopted:
				<img src="/img/icons/proposal_adopted_32.png" />
			%elif tile.state.polling:
				<img src="/img/icons/vote_32.png" />
			%else:
				<img src="/img/icons/proposal_32.png" />
			%endif
		</div>
		<div class="base">
			<h3><a class="link" href="${h.instance_url(proposal.instance, path='/proposal/%s' % proposal.id)}">${proposal.label}</a></h3>
			<!-- div class="text">
				${tile.tagline}
			</div -->
			<div class="meta noclear">
				%if detail and proposal.issue:
					${h.delegateable_link(proposal.issue)|n} <br />
				%endif
				
				%if tile.state.polling:
					${_("<b>%s</b> votes,") % len(tile.state.tally)|n}
					${_("<b>%s%%</b> approval") % int(tile.state.tally.rel_for * 100)|n}
					&middot; 
				%endif
				<img src="/img/icons/discuss_16.png" /> 
				${ungettext("%s comment", "%s comments", (len(proposal.comments)-1)) % (len(proposal.comments)-1)},
				${_("latest <b>%s</b>") % h.relative_time(tile.latest_comment)|n}&nbsp;
			</div>
		</div>
	</div>
</%def>

<%def name="list_item(tile, proposal)">
	<li class="list_tile">
		<span class="text"><a href="${h.instance_url(proposal.instance, path='/proposal/%s' % proposal.id)}">${proposal.label}</a></span>
		<span class="meta">  
			${self.state_flag(tile.result.state)} &middot;
			%if not tile.state.polling:
				${_("created %s") % h.relative_time(proposal.create_time)|n}
			%else:
				${_("%s votes cast") % len(tile.poll.decisions)}
			%endif
			&middot; ${ungettext("%s comment", "%s comments", len(proposal.comments)) % len(proposal.comments)}
		</span>
	</li>
</%def>


<%def name="relation(rel_type=None, rel_proposal=None, options=None, prototype=False)">
	<tr class="relation ${'prototype' if prototype else ''}">
		<td>
			<select name="rel_type">
				<option value="a" ${"selected='selected'" if rel_type=='a' else ''}>
					${_("contradicts")}
				</option>
				<option value="d" ${"selected='selected'" if rel_type=='d' else ''}>
					${_("requires")}
				</option>
				<option value="n" ${"selected='selected'" if rel_type=='n' else ''}>
					${_("no relation")}
				</option>
			</select>
		</td>
		<td>
			%if options:
				<select name="rel_proposal">
				%if not rel_proposal:
					<option>${_("(Select a proposal)")}</option>
				%endif
				%for proposal in options:
					<option value="${proposal.id}" ${"selected='selected'" if proposal==rel_proposal else ''}>
						${proposal.label}
					</option>
				%endfor
				</select>
			%elif rel_proposal:
				${h.delegateable_link(rel_proposal)|n}
				<input type="hidden" name="rel_proposal" value="${rel_proposal.id}">
			%endif
		</td>
	</tr>
</%def>
