<%namespace name="components" file="/components.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="row(tile, proposal)">
	<div class="tile">
		<div class="base" style="background-image: url(${h.proposal_icon(proposal, size=32)});">
			<h3><a class="link" href="${h.entity_url(proposal)}">${proposal.label}</a></h3>
			<!--span class="sparkline" title="${h.entity_url(proposal, member='activity', format='sline')}"></span><br/-->
			##%for (tag, count) in proposal.tags[:5]:
			##	${h.tag_link(tag)|n}
			##%endfor
			<div class="meta noclear">				
				%if proposal.is_adopt_polling():
					${_("<b>%s</b> votes,") % len(proposal.adopt_poll.tally)|n}
					${_("<b>%s%%</b> approval") % int(proposal.adopt_poll.tally.rel_for * 100)|n}
					&middot; 
				%elif proposal.rate_poll: 
					${_("<b>%s</b> supporters") % proposal.rate_poll.tally.score|n} &middot;
				%endif
				<img src="/img/icons/page_variant_16.png" /> 
				${ungettext("%s norm", "%s norms", len(proposal.selections)) % len(proposal.selections)}
				&middot;
				<img src="/img/icons/discuss_16.png" /> 
				${ungettext("%s comment", "%s comments", proposal.comment_count()) % proposal.comment_count()},
				${_("latest <b>%s</b>") % h.relative_time(tile.latest_revision_time)|n} 
				
			</div>
		</div>
	</div>
</%def>

<%def name="alternative(proposal=None, options=None, prototype=False, checked=False)">
	<tr class="alternative ${'prototype' if prototype else ''}">
		<td>
		%if options:
			</td>
			<td>
			<select name="alternative">
			%if not proposal:
				<option value="none">${_("(Select a proposal)")}</option>
			%endif
			%for current in options:
				<option value="${current.id}" ${"selected='selected'" if proposal==current else ''}>
					${current.label}
				</option>
			%endfor
			</select>
		%elif proposal:
			<input type="checkbox" name="alternative" value="${proposal.id}" 
			       ${"checked='checked'" if checked else ''} />
			</td>
			<td>
			${h.delegateable_link(proposal)|n}
		%endif
		</td>
	</tr>
</%def>


<%def name="sidebar(tile, proposal)">
	%if proposal.is_adopt_polling(): 
		${tiles.poll.booth(proposal.adopt_poll)}
	%endif
	
	${tiles.tag.sidebar(proposal)}
	${tiles.delegation.sidebar(proposal, tile)}
</%def>


<%def name="header(tile, proposal, active)">
	<div class="top_actions title">
		&nbsp; 
		
		%if can.delegation.create():
			<a class="button title add ttip" title="${_('Delegate your say in this debate to another participant.')}" 
			    href="/delegation/new?scope=${proposal.id}">${_("delegate")}</a>
		%endif
				
		%if can.proposal.adopt(proposal):
			<a class="button title add ttip" title="${_('Call a vote on this proposal by freezing further development.')}" 
				href="${h.entity_url(proposal, member='ask_adopt')}">${_("call a vote")}</a>
		%endif
		
		%if can.selection.create(proposal):
			<a class="button title add ttip" title="${_('Propose to change a norm through this proposal.')}" 
		 	   href="${h.entity_url(proposal, member='implementation/new')}">${_("amend implementation")}</a>
		%endif		
				
		%if can.proposal.edit(proposal):
			<a class="button title edit" 
				href="${h.entity_url(proposal, member='edit')}">${_("edit")}</a>
		%endif
						
		%if can.proposal.delete(proposal):
			<a class="button title delete" 	
				href="${h.entity_url(proposal, member='ask_delete')}">${_("delete")}</a>
		%endif
		
		${components.watch(proposal)}
		${h.rss_button(proposal)|n}
	</div>
	
	<div style="clear: both;"></div>
	%if proposal.rate_poll:
	<span class="${h.poll_position_css(proposal.rate_poll)}"  id="tile_p${proposal.id}">
		<div class="proposal rate">
			%if can.proposal.rate(proposal):
				<a class="up icon otip" title="${_("Support this proposal")}" href="${h.entity_url(proposal.rate_poll, member='rate')}?position=1&${h.url_token()}" 
					onclick="return rate('#tile_p${proposal.id}', ${proposal.rate_poll.id}, 1);">
					&nbsp;
				</a>
				<a href="${h.entity_url(proposal.rate_poll, member='votes')}" 
					class="score">${proposal.rate_poll.tally.score}</a>
				<a class="down icon ttip" title="${_("Oppose this proposal")}" href="${h.entity_url(proposal.rate_poll, member='rate')}?position=-1&${h.url_token()}" 
					onclick="return rate('#tile_p${proposal.id}', ${proposal.rate_poll.id}, -1);">
					&nbsp;
				</a>
			%else:
				<a class="up icon inactive">&nbsp;</a>
				<a href="${h.entity_url(proposal.rate_poll, member='votes')}" 
					class="score">${proposal.rate_poll.tally.score}</a>
				<a class="down icon inactive">&nbsp;</a>
			%endif
		</div>
	</span>
	%endif
	
	<h1 class="page_title">${h.delegateable_link(proposal, icon_size=24, link=False)|n}</h1>
	<br/>
	<div class="panel ${active}">
		<ul class="menu">
			<!--li><a href="${h.entity_url(proposal, member='activity')}" 	
				class="activity">${_("Activity")}</a></li-->
			<li><a href="${h.entity_url(proposal)}" class="goal">${_("Proposal")}</a></li>
			<li><a href="${h.entity_url(proposal, member='implementation')}" 
				class="implementation">${_("Implementation")} (${len(proposal.selections)})</a></li>
			%if c.instance.allow_delegate:
				<li><a href="${h.entity_url(proposal, member='delegations')}"
			   	class="delegations">${_("Delegations")} (${len(proposal.current_delegations())})</a></li>
			%endif
			<li><a href="${h.entity_url(proposal, member='alternatives')}"
			   class="alternatives">${_("Alternatives")} (${len(proposal.current_alternatives())})</a>
				##	<img src="/img/arrows/panel_expand.png" />
				##<ul>
				##%for p in proposal.current_alternatives()[:10]:
				##	<li>${h.delegateable_link(p)|n}</li>
				##%endfor
				##</ul>
			</span>
			</li>
			<li><a href="${h.entity_url(proposal, member='contributors')}" class="contributors">${_("Contributors")} (${len(proposal.contributors())})</a></li>
			<li><a href="${h.entity_url(proposal.description, member='history')}" class="history">${_("History")}</a></li>
		</ul>
		
		%if proposal.adopted:
			<div class="info adoption adopted">
				${_("%s has been adopted %s.") % (h.delegateable_link(proposal, link=False, icon=False),
												  h.relative_time(proposal.adopt_poll.end_time))|n}
			</div>
		%elif proposal.is_adopt_polling():
			<div class="info adoption">
				<div class="given first">
					${_("Adoption requirements:")}
				</div>
				%if proposal.adopt_poll.tally.has_majority() and not \
					proposal.adopt_poll.tally.has_participation():
					<div class="given">
						${_("%s%% approval") % int(c.instance.required_majority*100)}
					</div>
					<div class="">
						${_("%s participators") % c.instance.required_participation}
					</div>
				%else:
					<div class="${'given' if proposal.adopt_poll.tally.has_participation() else ''}">
						${_("%s participators") % c.instance.required_participation}
					</div>
					<div class="${'given' if proposal.adopt_poll.tally.has_majority() else ''}">
						${_("%s%% approval") % int(c.instance.required_majority*100)}
					</div>
				%endif
				<div class="last">
					${_("stable majority for %s days") % c.instance.activation_delay} 
				</div>
			</div>
		%endif
	</div>
</%def>

