<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="comment_tiles" file="/comment/tiles.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="title()">${c.proposal.label}</%def>

<%def name="breadcrumbs()">${h.breadcrumbs(c.proposal)|n}</%def>

${tiles.proposal.header(c.proposal, c.tile, active='goal')} 

<div class="sidebar">
		%if c.tile.poll: 
			${tiles.poll.booth(c.tile.poll)}
		%endif
		${state.checklist(c.tile.state)|n}
		${components.delegation_sidebar(c.proposal)}
	</div>
</div>

<div class="mainbar">
	%if c.proposal.comment:
		${tiles.comment.full(c.proposal.comment, recurse=False, collapse=False)}
	%endif
	
	%if c.tile.comment_tile.can_reply:
		<div class="comment">
			${comment_tiles.create_form(c.proposal.comment, c.proposal)}
		</div>
	%elif not c.proposal.comment_count():
		<div class="infobox">
			${_("No comments were made yet.")}
		</div>
	%endif
	%for (reply, r_tile) in c.tile.comment_tile.replies():
		${tiles.comment.full(reply, recurse=True)}
	%endfor	
</div>
