<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="comment_tiles" file="/comment/tiles.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="title()">${c.proposal.label}</%def>

<%def name="breadcrumbs()">${h.breadcrumbs(c.proposal)|n}</%def>

<div id="top_issue">
<div class="tile issue title" style="margin-bottom: 0px;">
	<div class="sidebar">
		<div class="tile boxed">
			<div class="inner_boxed voting_booth" style="padding-top: 3px; padding-bottom: 3px;">
				${h.user_link(c.proposal.issue.creator, scope=c.proposal)|n} 
				${h.relative_time(c.proposal.issue.create_time)|n}
			</div>
		</div>
	</div>
	<div class="logo">
		<img src="/img/icons/issue_24.png" style="padding-left: 12px; padding-right: 12px;" />
	</div>
	<div class="base">
		<h1 style="border-bottom: 0px;">${h.delegateable_link(c.proposal.issue, icon=False)|n}</h1>
	</div>
	<div style="clear: both;"></div>	
</div>	
%if len(c.proposal.issue.proposals) > 1:
<div id="issue_details" class="tile">
		<ul>
		%for proposal in c.proposal.issue.proposals:
			%if proposal is not c.proposal: 
				<li>${h.delegateable_link(proposal)|n}</li>
			%endif
		%endfor
		</ul>
	<div style="clear: both;"></div>	
</div>
%endif
</div>
<div class="tile proposal title">
	<div class="sidebar">
		<div class="tile boxed">
			<div class="inner_boxed">
				${h.user_link(c.proposal.creator, scope=c.proposal)|n} 
				${h.relative_time(c.proposal.create_time)|n}
			</div> 
		</div>
	</div>
	
	<div class="logo">
		%if c.tile.state.adopted:
			<img src="/img/icons/proposal_adopted_24.png" />
		%else:
			<img src="/img/icons/proposal_48.png" />
		%endif
	</div>
	
	<div class="base">	
		<h1>${c.proposal.label}</h1>
		&nbsp;
	</div>
	
	<div class="meta rightmeta">	
		
		%if c.tile.can_delegate and not c.tile.has_overridden:
			<a class="button title add" href="/delegation/create?scope=${c.proposal.id}">${_("delegate")}</a>
		%endif
		
		%if c.tile.can_begin_poll:
			<a class="button title add" href="/poll/create/${c.proposal.id}">${_("call a vote")}</a>
		%elif c.user and not c.tile.has_canonicals:
			<a class="button title inactive htwarn" title="${_('The proposal cannot be voted upon since it does not have any provisions yet.')}">${_("call a vote")}</a>
		%endif
		
		%if c.tile.can_edit:
			<a class="button title edit" href="/proposal/edit/${c.proposal.id}">${_("edit")}</a>
		%endif
						
		%if c.tile.can_delete:
			<a class="button title delete" href="/proposal/delete/${c.proposal.id}?${h.url_token()}">${_("delete")}</a>
		%endif
		
		${components.watch(c.proposal, '/proposal/%s' % str(c.proposal.id))}
		<a href="/proposal/${c.proposal.id}.rss" class="button edit"><img src='/img/rss.png' /> ${_("subscribe")}</a>
	</div>
	<div style="clear: both;"></div>	
</div>

<div style="clear: both;"></div>

<div class="sidebar">
	<div class="tile">
		%if c.tile.poll:
		<div class="tile boxed">
			<div class="inner_boxed voting_booth">  
				${tiles.poll.booth(c.tile.poll)}
			</div>
		</div>
		%endif
		${state.checklist(c.tile.state)|n}
		${components.delegation_sidebar(c.proposal)}
	</div>
</div>

<div class="mainbar">
	%if c.proposal.comment:
		${tiles.comment.full(c.proposal.comment, recurse=False, collapse=False)}
	%endif
	
	<div class="top_actions">
		%if c.tile.can_create_canonical:
			<a class="button add" onclick="return add_canonical()" href="/comment/create?topic=${c.proposal.id}&canonical=1">${_("new")}</a>
		%endif
	</div>
	
	<h2><img src="/img/icons/proposal_20.png" class="cd" /> ${_("Provisions")}</h2>
	%if not c.tile.has_canonicals:
		<span class="infobox">${_("<b>Provisions</b> are the body of a proposal: together they form the language that will be voted upon. You will need to have at least one clause in order to call for a vote.")|n}</span>
	%endif
	
	<div class="add_canonical comment">
		${comment_tiles.create_form(None, c.proposal, canonical=1)}
	</div>
	
	%for canonical in c.proposal.canonicals:
		${tiles.comment.full(canonical, recurse=False, collapse=False, link_discussion=True)}
	%endfor
</div>

	<div style="clear: both;"></div>
	<h2><img src="/img/icons/discuss_20.png" class="cd" /> ${_("Discussion")}</h2>
	%if c.tile.comment_tile.can_reply:
		<div class="comment">
			${comment_tiles.create_form(c.proposal.comment, c.proposal)}
		</div>
	%elif not c.proposal.comment_count():
		<div class="infobox">
			${_("No comments were made yet.")}
		</div>
	%endif
	%for (reply, r_tile) in c.tile.comment_tile.replies():
		${tiles.comment.full(reply, recurse=True)}
	%endfor
