<%inherit file="/template.html" />
<%namespace name="tiles_html" file="/proposal/tiles.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Edit %s") % c.proposal.title}</%def>

<%def name="breadcrumbs()">
    ${h.proposal.breadcrumbs(c.proposal)|n} &raquo; ${_("Edit")}
</%def>

<%block name="main_content">
<div class="form_wrapper">
    <h2>${_(u'Edit &ldquo;%s&rdquo;') % c.proposal.title|n}</h2>
    <div class="hr">
        <hr />
    </div>

  <form name="edit_proposal" class="inplace" method="POST" action="${h.entity_url(c.proposal)}">
    ${h.field_token()|n}
    <input type="hidden" name="_method" value="PUT" />
      
    <fieldset>
      <legend>${_('Title and Goals')}</legend>
      <div class="input_wrapper">
        <input type="text" tabindex="1" class="title" name="label" value="${c.proposal.title}" placeholder="${_('Proposal title')}" />
      </div>

      <div class="input_wrapper">
        <p class="info">
            ${_("A brief description of <b>the goals</b> of your proposal.")|n} 
            ${_("The proposal would...")}
        </p>
        <textarea tabindex="2" class="description" rows="${c.text_rows}" name="text" placeholder="${_('Proposal goals')}">${c.proposal.description.head.text}</textarea>
        ${components.formatting()}
      </div>

      %if c.instance.milestones:
      <div class="input_wrapper">
        <label for="milestone">${_("Relates to a milestone")}</label>
        ${tiles.milestone.select(c.proposal.milestone)}
      </div>        
      %endif
    </fieldset>

    %if c.categories:
    ${components.category_select('category_select', c.toplevel_question, c.categories)}
    %endif

    <fieldset>
      <legend>${_('Collaboration and Notification')}</legend>
      %if c.can_edit_wiki:
      <div class="input_wrapper">
        <label for="wiki">
        <input type="checkbox" ${'checked="checked"' if c.proposal.description.head.wiki == 1 else ''} name="wiki" id="wiki" value="1" />
        ${_("Allow others to edit this proposal.")}</label>
      </div>
      %endif

      <div class="input_wrapper">
        ${components.form_watch(c.proposal)}
      </div>    
    </fieldset>
    <div class="input_wrapper submit">
      ${components.savebox(h.base_url('/proposal/%s' % c.proposal.id))}
    </div>
  </form>
</div>
</%block>

    
