<%inherit file="/template.html" />
<%def name="title()">${c.title if c.title is not None else _("Complete registration")}</%def>

<%block name="headline">
<h1>${_("Complete registration")}</h1>

    <div class="infobox">
      ${_('Please complete the Shibboleth based user registration')}
    </div>

    <div class="mainbar">
        <form name="complete_registration" class="login_form" action="" method="POST">
            ${h.field_token()|n}
            <div class="input_wrapper">
                <label>${_('Username:')}
                    <input type="text" name="username" autofocus="autofocus" required="required"/>
                </label>
            </div>
            <div class="input_wrapper">
                <label>${_('Email:')}
                    <input type="email" name="email" />
                </label>
            </div>
            <div class="input_wrapper submit">        
                <input type="submit" value="${_('Continue')}"/>
            </div>
        </form>
 
        %if c.body is not None:
        ${c.body|n}
        %endif
    </div>
</%block>
