<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Critical Motions in %s") % c.instance.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance.root)|n} &raquo; ${_("Motions")}
</%def>

<h1 class="page_title"><img src="/img/icons/motion_24.png" class="cd" /> ${_("Critical Motions")}</h1>

<div class="sidebar">
	%if len(c.motions_pager.items):
	<span class="infobox">
		${_("These motions are currently voting and might be nearing a decision. Vote now to make your " 
		    + "voice heard.")}
	</span>
	%endif
	<br /><br />
</div>

<div class="mainbar">
	%if len(c.motions_pager.items):
		<div class="table">
			${c.motions_pager.here()}
		</div>
	%else:
		<div class="infobox">${_("There are currently no polls open. Call a motion into voting state to begin a poll.")}</div>
	%endif
</div>