
<%def name="row(tile, motion, detail=False)">
	<div class="tile">
		<div class="logo">
			%if tile.state.adopted:
				<img src="/img/icons/motion_adopted_32.png" />
			%else:
				<img src="/img/icons/motion_32.png" />
			%endif
		</div>
		<div class="base">
			<h3><a class="link" href="${h.instance_url(motion.instance, path='/motion/%s' % motion.id)}">${motion.label}</a></h3>
			<!-- div class="text">
				${tile.tagline}
			</div -->
			<div class="meta noclear">
				${_("created %s by %s") % (h.relative_time(motion.create_time), h.user_link(motion.creator))|n}
				%if detail and motion.issue:
					&middot; ${h.delegateable_link(motion.issue)|n}
				%endif
				<br />
				
				%if tile.state.polling:
					<img class="user_icon" src="/img/icons/vote_16.png">
					${_("%s votes,") % len(tile.state.tally)}
					${_("<b>%s%%</b> approval") % int(tile.state.tally.rel_for * 100)|n}
					&middot; 
				%endif
				<img src="/img/icons/discuss_16.png" /> 
				${ungettext("%s comment", "%s comments", (len(motion.comments)-1)) % (len(motion.comments)-1)},
				${_("latest <b>%s</b>") % h.relative_time(tile.latest_comment)|n}&nbsp;
			</div>
		</div>
	</div>
</%def>

<%def name="list_item(tile, motion)">
	<li class="list_tile">
		<span class="text"><a href="${h.instance_url(motion.instance, path='/motion/%s' % motion.id)}">${motion.label}</a></span>
		<span class="meta">  
			${self.state_flag(tile.result.state)} &middot;
			%if not tile.state.polling:
				${_("created %s") % h.relative_time(motion.create_time)}
			%else:
				${_("%s votes cast") % len(tile.poll.decisions)}
			%endif
			&middot; ${ungettext("%s comment", "%s comments", len(motion.comments)) % len(motion.comments)}
		</span>
	</li>
</%def>


<%def name="relation(rel_type=None, rel_motion=None, options=None, prototype=False)">
	<tr class="relation ${'prototype' if prototype else ''}">
		<td>
			<select name="rel_type">
				<option value="a" ${"selected='selected'" if rel_type=='a' else ''}>
					${_("contradicts")}
				</option>
				<option value="d" ${"selected='selected'" if rel_type=='d' else ''}>
					${_("requires")}
				</option>
				<option value="n" ${"selected='selected'" if rel_type=='n' else ''}>
					${_("no relation")}
				</option>
			</select>
		</td>
		<td>
			%if options:
				<select name="rel_motion">
				%if not rel_motion:
					<option>${_("(Select a motion)")}</option>
				%endif
				%for motion in options:
					<option value="${motion.id}" ${"selected='selected'" if motion==rel_motion else ''}>
						${motion.label}
					</option>
				%endfor
				</select>
			%elif rel_motion:
				${h.delegateable_link(rel_motion)|n}
				<input type="hidden" name="rel_motion" value="${rel_motion.id}">
			%endif
		</td>
	</tr>
</%def>
