<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="comment_tiles" file="/comment/tiles.html"/>
<%namespace name="state" file="/poll/state.html"/>
<%namespace name="ptiles" file="/poll/tiles.html"/>

<%def name="title()">${c.motion.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.motion, id=c.motion.id)|n}
</%def>

%if c.tile.can_delete:
	<a class="button title delete" href="/motion/delete/${c.motion.id}?${h.url_token()}">${_("delete")}</a>
%elif c.user and c.tile.is_immutable:
	<a class="button title inactive htwarn" title="${h.immutable_motion_message()}">${_("delete")}</a>
%elif c.user and c.tile.lack_delete_karma:
	<a class="button title inactive htwarn" title="${c.tile.lack_delete_karma}">${_("delete")}</a>
%endif

%if c.tile.can_edit:
	<a class="button title edit" href="/motion/edit/${c.motion.id}">${_("edit")}</a>
%elif c.user and c.tile.is_immutable:
	<a class="button title inactive htwarn" title="${h.immutable_motion_message()}">${_("edit")}</a>
%elif c.user and c.tile.lack_edit_karma:
	<a class="button title inactive htwarn" title="${c.tile.lack_edit_karma}">${_("edit")}</a> 
%endif

%if c.tile.can_delegate and not c.tile.has_overridden:
	<a class="button title add" href="/delegation/create?scope=${c.motion.id}">${_("delegate")}</a>
%endif

%if c.tile.can_begin_poll:
	<a class="button title add" href="/poll/create/${c.motion.id}">${_("call a vote")}</a>
%elif c.user and not c.tile.has_canonicals:
	<a class="button title inactive htwarn" title="${_('The motion cannot be voted upon since it does not have any provisions yet.')}">${_("call a vote")}</a>
%elif c.user and c.tile.lack_begin_poll_karma and not c.tile.poll:
	<a class="button title inactive htwarn" title="${c.tile.lack_begin_poll_karma}">${_("call a vote")}</a> 
%endif

${components.watch(c.motion, '/motion/%s' % str(c.motion.id))}

<h1 class="page_title">
	%if c.tile.state.adopted:
		<img src="/img/icons/motion_adopted_24.png" class="cd" />
	%else:
		<img src="/img/icons/motion_24.png" class="cd" />
	%endif
	${c.motion.label}
</h1>

<div class="sidebar">
	<div class="tile">
		<div class="text">
			<p>
			<img src="/img/icons/issue_16.png" /> <a href="/issue/${c.motion.issue.id}">${c.motion.issue.label}</a>:
			${c.issue_tile.tagline}
			</p>
		</div>
		
		%if c.tile.poll:
		<div class="tile boxed">
			<div class="inner_boxed voting_booth">  
				${ptiles.sb_booth(c.motion, c.tile)}
			</div>
		</div>
		%endif
		
				${state.checklist(c.tile.state)|n}
		
		${components.delegation_sidebar(c.motion)}
		<div class="meta">
			${_("created %s") % h.relative_time(c.motion.create_time)}
			&middot; ${h.rss_link("/motion/%s.rss" % c.motion.id)|n}
		</div>
	</div>
</div>

<div class="mainbar">
	%if c.motion.comment:
		${tiles.comment.full(c.motion.comment, recurse=False, collapse=False)}
	%endif
		
	%if c.tile.can_create_canonical:
		<a class="button add" onclick="return add_canonical()" href="/comment/create?topic=${c.motion.id}&canonical=1">${_("new")}</a>
	%elif c.user and c.tile.is_immutable:
		<a class="button inactive htwarn" title="${h.immutable_motion_message()}">${_("new")}</a>
	%elif c.user and c.tile.lack_create_canonical_karma:
		<a class="button inactive htwarn" title="${c.tile.lack_create_canonical_karma}">${_("new")}</a>
	%endif
	
	<h2><img src="/img/icons/motion_24.png" class="cd" /> ${_("Provisions")}<sup><a href="/page/faq.html#Howdoesvotingwork">?</a></sup></h2>
	%if not c.tile.has_canonicals:
		<span class="infobox">${_("<b>Provisions</b> are the body of a motion: together they form the language that will be voted upon. You will need to have at least one clause in order to call for a vote.")|n}</span>
	%endif
	
	<div class="add_canonical comment">
		${comment_tiles.create_form(None, c.motion, canonical=1)}
	</div>
	
	%for canonical in c.tile.canonicals:
		${tiles.comment.full(canonical, recurse=False, collapse=False, link_discussion=True)}
	%endfor
	
	<h2><img src="/img/icons/discuss_20.png" class="cd" /> ${_("Discussion")}</h2>
	%if c.tile.comment_tile.can_reply:
	<div class="comment">
		${comment_tiles.create_form(c.motion.comment, c.motion)}
	</div>
	%endif
	%for reply in c.tile.comment_tile.replies:
		${tiles.comment.full(reply, recurse=True)}
	%endfor
</div>