<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Delete: %s") % c.milestone.title}</%def>

<%def name="breadcrumbs()">
    ${h.milestone.breadcrumbs(c.milestone)|n} &raquo; ${_("Delete")}
</%def>

<%block name="main_content">
${tiles.milestone.header(c.milestone, c.tile)}

    <form name="ask_delete" class="inplace" method="POST" 
        action="${h.entity_url(c.milestone)}">
        ${h.field_token()|n}
        <input type="hidden" name="_method" value="DELETE" />
        <div class="warning_box">
            ${_("Are you sure you want to delete this milestone?")|n}
        </div>
        <center>
            <input type="submit" class="delete" value="${_('Confirm')}" />
        </center>
    </form>

</%block>
