<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${c.milestone.title}</%def>

<%def name="breadcrumbs()">${h.milestone.breadcrumbs(c.milestone)|n}</%def>

${tiles.milestone.header(c.milestone, c.tile)}

<div class="sidebar">
	<div class="help">
		<h3>${_("Help")}</h3>
		<ul>
			<li>${h.help_link(_("What is a proposal?"), 'proposal_faq', anchor='whatis')|n}</li>
			<li>${h.help_link(_("How can I support a proposal?"), 'proposal_faq', anchor='support')|n}</li>
			<li>${h.help_link(_("What is a variant?"), 'selection_faq', anchor='whatisvariant')|n}</li>
			<li>${h.help_link(_("What does 'Status quo' mean?"), 'selection_faq', anchor='whatishead')|n}</li>
			<li>${h.help_link(_("Guide: Supporting proposals"), 'support_text')|n}</li>
			<li>${h.help_link(_("Guide: Developing proposals"), 'proposal_text')|n}</li>
			<li>${h.help_link(_("More help..."), 'proposal_faq')|n}</li>
		</ul>
	</div>
</div>

<div class="mainbar">
    <div class="top_actions aside">
		&nbsp; 		
		%if can.milestone.edit(c.milestone):
			<a class="button title edit ttip" title="${_('Edit this milestone.')}"
				href="${h.entity_url(c.milestone, member='edit')}">${_("edit")}</a>
		%endif
	</div>
    <h2>${_("Milestone description")}</h2>
    ${c.tile.text|n}
  </div>

<div style="clear: both;"></div>

<div class="lefthalf">
	<h3 class="section">${_("Related Proposals")}</h3>
	<div id="proposals_table" class="table">
		${c.proposals_pager.here()}
	</div>
</div>

<div class="righthalf">
  %if c.instance.use_norms:
	  <h3 class="section">${_("Related Norms")}</h3>
	  <div id="pages_table" class="table">
		  ${c.pages_pager.here()}
    </div>
  %endif
</div>

