<%namespace name="components" file="/components.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="row(tile, milestone)">
    <div class="tile">
        <div class="base" style="background-image: url(${h.milestone.icon_url(size=32)});">
			<h3><a class="link" href="${h.entity_url(milestone)}">${milestone.title}</a></h3>
			<div class="meta noclear">				
				${_("ends: <b>%s</b>") % milestone.time.strftime("%d.%m.%Y")|n} 
			</div>
		</div>
	</div>
</%def>

<%def name="header(tile, milestone)">
	<div class="top_actions title">
		&nbsp; 
				
		%if can.milestone.delete(milestone):
			<a class="button title delete ttip" title="${_('Delete this milestone.')}" 	
				href="${h.entity_url(milestone, member='ask_delete')}">${_("delete")}</a>
		%endif
		
		${components.watch(milestone)}
	</div>
	
	<div style="clear: both;"></div>
	<h1 class="page_title">${h.milestone.link(milestone, icon_size=24,
      link=False)|n} (${milestone.time.strftime("%d.%m.%Y")})</h1>
</%def>

