<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${c.page_instance.label}</%def>

<%def name="breadcrumbs()">
    ${h.instance.breadcrumbs(c.page_instance)|n} ${_("Latest Events")}
</%def>

<%block name="headline">

<h1 class="page_title">${_("Activity")}</h1>
    <div class="infobox">
        ${_("This is a record of all recent actions within this instance.")}
        ${_("You can also have notifications sent to you.")}
        <a href="/static/notification_faq.html">${_("Info...")}</a>
    </div>
</%block>

<%block name="main_content">

    %if len(c.events_pager) == 0:
        <div class="infobox">
            ${_("Create a proposal to start debating in %(instance)s.") % dict(instance=c.page_instance.label)}
        </div>
    %else:
        <div id="events_table" class="table">
            ${c.events_pager.here()}
        </div>
    %endif  

</%block>
