<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("New Instance")}</%def>

<%def name="breadcrumbs()">
    ${h.site.name()} &raquo; ${_("New Instance")}
</%def>

<%block name="headline">
    <h3>${_("Create new instance")}</h3>
</%block>

<%block name="main_content">

<form name="create_instance" class="inplace" method="POST" action="/instance">
    ${h.field_token()|n}

    <fieldset>
      <legend>${_("Instance name")}</legend>
      <div class="input_wrapper">
        <input type="text" class="title" name="label" placeholder="${_('New Instance')}" autofocus />
      </div>
    </fieldset>
    
    <fieldset>
      <legend>${_("Instance URL")}</legend>
      <p class="info">
        ${_("The address may only contain alpha-numeric characters. "
        "Please note that this key cannot be changed after the instance "
        "has been created.")|n}
      </p>
      ${c.url_pre}<input class=""${' style="text-align: right;"' if c.url_right_align else '' | n} name="key" />${c.url_post}
    </fieldset>
    
    <fieldset>
      <legend>${_("Description")}</legend>
      <p class="info">
      ${_("Describe what the goals of this instance are and who constitutes "
          "its community.")}
      ${_("(Both Markdown and HTML are allowed here.)") if h.text.getconf_allow_user_html() else ""}
      </p>
      <textarea class="description" name="description"></textarea>
      ${components.formatting()}

    </fieldset>

    <div class="inline_input_wrapper submit">
        ${components.savebox(h.base_url("/instance"))}
    </div>
</form>
</%block>
