<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="forms" file="/forms.html"/>
<%def name="title()">${_("Process presets")}</%def>

<%def name="breadcrumbs()">
    ${h.site.name()} &raquo; ${_("Process presets")}
</%def>

<%block name="headline">
    <h3>${_("Process presets")}</h3>
</%block>

<%block name="main_content">

<form name="presets" class="inplace" method="POST" action="${h.entity_url(c.page_instance, member=u'presets')}">
    ${h.field_token()|n}

    <p>${_(u"Please select one or more of these presets for the initial configuration of your instance. If needed, you can fine-tune the individual settings later on.")}</p>

    ${forms.checkbox(_(u'Agenda Setting'), u'agenda_setting', help=(u"Users can create proposals and dicuss them."), autofocus=True)}
    ${forms.checkbox(_(u'Consultation'), u'consultation', help=(u"Post texts (so called \"norms\") discuss them online. Users can write comments and propose changes."))}

    <div class="submit">
        <input type="submit" value="${_('Configure')}" />
    </div>
</form>
</%block>
