<%inherit file="/instance/settings.html" />
<%namespace name="forms" file="/forms.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Manage: %s") % c.page_instance.label}</%def>


<%block name="settings_content">
<form name="create_instance" class="well" method="POST">

    ${components.flashmessages()}
    <h2>${c.settings_menu.current['label']}</h2>
    <input type="hidden" name="_method" value="PUT" />
    ${h.field_token()|n}

    ${forms.select(_("Language"), 'locale', c.locales, help=_("The language setting will be overridden by the user's personal setting."), autofocus=True)}

    ${forms.checkbox(_("Enable delegated voting"), 'allow_delegate')}
    ${forms.checkbox(_("Enable milestones"), 'milestones', help=_("Milestones link the online discussions with offline events through a calendar function."))}
    ${forms.checkbox(_("Display category pages"), 'display_category_pages')}

    ${components.savebox(h.base_url("/instance/%s" % c.page_instance.key))}
    ${c.category_badge_tables}

    %if can.instance.delete(c.page_instance):
    <a class="button" href="${h.entity_url(c.page_instance, member='ask_delete')}">${_("Delete this instance")}</a>
    %endif

</form>
</%block>
