<%inherit file="/instance/settings.html" />
<%namespace name="forms" file="/forms.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Manage: %s") % c.page_instance.label}</%def>

<%def name="breadcrumbs()">
    ${h.instance.breadcrumbs(c.page_instance)|n} ${_("Manage")}
</%def>

<%block name="settings_content">
<form name="appearance" class="well" method="POST"
      enctype="multipart/form-data">

    ${components.flashmessages()}

    <h2>${c.settings_menu.current['label']}</h2>

    <input type="hidden" name="_method" value="PUT" />
    ${h.field_token()|n}
        
    <% 
    help_text = _("Select a logo file to appear in the header "
                  "area of this Instance.")
    %>
    <%forms:input label="${_('Logo')}" name="logo" tabindex="1" type="file"
                  help="${help_text}">
    %if c.current_logo:
    <div>
        <img src="${c.current_logo}" alt="${_('Current logo')}" />
        <button name="delete_logo" value="1">
            <i class="icon-remove"></i>${_('Delete current logo')}
        </button>
    </div>
    %endif
    </%forms:input>
    
    <%forms:textarea label="${_('Extra CSS')}" name="css" value="" 
    tabindex="2" help="${_('You can add css that will be used to style the instance.')}">
    ${components.formatting()}    
    </%forms:textarea>

    
    ${components.savebox(h.base_url("/instance/%s" % c.page_instance.key))}

</form> 
</%block>
