<%inherit file="/instance/settings.html" />
<%namespace name="forms" file="/forms.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Manage: %s") % c.page_instance.label}</%def>


<%block name="settings_content">
<form name="appearance" class="well" method="POST"
      enctype="multipart/form-data">

    ${components.flashmessages()}
    <h2>${c.settings_menu.current['label']}</h2>
    <input type="hidden" name="_method" value="PUT" />
    ${h.field_token()|n}

    ${forms.input(_("Name of the instance"), 'label', autofocus=True)}

    <%forms:textarea label="${_('Description of the instance')}" name="description" value=""
    help="${_('Describe what the goals of this instance are and who constitutes its community.')} ${_('(Both Markdown and HTML are allowed here.)') if h.text.getconf_allow_user_html(true) else ''}">
    ${components.formatting()}
    </%forms:textarea>

    <fieldset class="logo">
        <%forms:input label="${_('Logo')}" name="logo" type="file"
                      help="${_('Select a logo file to appear in the header area of this Instance.')}">
        </%forms:input>
        %if c.current_logo:
        <div class="current">
            <img src="${c.current_logo}" alt="${_('Current logo')}" />
            <br />
            <input type="button" name="delete_logo" value="${_('Delete current logo')}" class="fake_submit"/>
        </div>
        %endif
    </fieldset>

    ${components.savebox(h.base_url("/instance/%s" % c.page_instance.key))}

</form>
</%block>
