<%inherit file="/instance/settings.html" />
<%namespace name="forms" file="/forms.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Manage: %s") % c.page_instance.label}</%def>


<%block name="settings_content">
<form name="create_instance" class="well" method="POST">

    ${components.flashmessages()}
    <h2>${c.settings_menu.current['label']}</h2>
    <input type="hidden" name="_method" value="PUT" />
    ${h.field_token()|n}

    ${forms.checkbox(_("Enable delegated voting"), 'allow_delegate', autofocus=True)}
    ${forms.checkbox(_("Enable milestones"), 'milestones', help=_("Milestones link the online discussions with offline events through a calendar function."))}

    ${forms.select(_("Language"), 'locale', c.locales, help=_("The language setting will be overridden by the user's personal setting."))}

    ${components.savebox(h.base_url("/instance/%s" % c.page_instance.key))}
    ${c.category_badge_tables}

</form>
</%block>
