<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Settings")}</%def>

<%def name="breadcrumbs()">
    ${h.instance.settings_breadcrumbs(c.page_instance, c.settings_menu.current)|n}
</%def>


<%block name="flashmessages">
</%block>

<%block name="main">
<div id="settings">
    <div id="col1">
        <%block name="settings_content">
        <h2>${c.page_instance.label}</h2>
        </%block>
    </div>

    <aside id="col3">
        <div id="sidebar">
            <div class="well">
            <%block name="settings_menu">
            <ul class="nav nav-list">
                %for item in c.settings_menu.values():
                <li class="${item['class']}">
                    <a href="${item['url']}">${item['label']}</a>
                </li>
                %endfor
            </ul>
            </%block>
            </div>
        </div>
    </aside>
</div>
</%block>
