<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${c.page_user.name}</%def>


<%block name="headline">

${tiles.user.header(c.page_user)}

<form name="ask_delete" class="inplace" method="POST" 
    action="${h.entity_url(c.page_user)}">
    ${h.field_token()|n}
    <input type="hidden" name="_method" value="DELETE" />
    <div class="sidebar">&nbsp;</div>
    <div class="mainbar">
        <div class="warning_box">
            ${_("Are you sure you want to delete your profile? This step cannot be reversed.")|n}
        </div>
        <center>
            <input type="submit" class="delete" value="${_('Confirm')}" />
        </center>
    </div>
</form>

</%block>
