<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Users")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance if c.instance else None)|n} &raquo; ${_("Users")}
</%def>

<h1 class="page_title">
	<img class="cd" src="/img/icons/user_24.png" />
	${_("Users in %s") % c.instance.label if c.instance else _("Users")}
</h1>

<div class="sidebar">
	
</div>

<div class="mainbar">
	<form action="?" method="GET" autocomplete="off">
		<input type="hidden" id="instance_key" value="${c.instance.key}" />
		<label for="users_q" class="armhint">${_("Find users")}</label>
		<input id="users_q" class="armlabel" name="users_q" 
				type="text" value="${request.params.get('users_q', '')}" 
				tabindex="1" />
		<noscript>
			<input type="submit" value="${_("Filter")}">
		</noscript>
	</form>
	
	<div id="users_table" class="table">
		${c.users_pager.here()}
	</div>
</div>