<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Users")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance if c.instance else None)|n} &raquo; ${_("Users")|n}
</%def>

%if c.instance:
	${tiles.instance.header(c.instance, active='users')}
%else:
	<h1 class="page_title">
		<img class="cd" src="/img/icons/user_24.png" />
		${_("Users")}
	</h1>
%endif

<div class="sidebar">
	&nbsp;
</div>

<div class="mainbar">
	<form action="?" method="GET" autocomplete="off">
		<label for="users_q" class="armhint">${_("Find users")}</label>
		<input id="users_q" class="live_search armlabel" name="users_q" 
				type="text" value="${request.params.get('users_q', '')}" 
				tabindex="1" />
	</form>
	
	<div id="users_table" class="table">
		${c.users_pager.here()}
	</div>
</div>