<%inherit file="/template.html" />
<%def name="title()">${_("Who are you, then?")}</%def>

<%block name="attention_getter">
## disable the attention getter if somebody is about to register in.
</%block>


<%block name="main_content">

<div class="lefthalf">
  <div id="register_form">
    <h3>${_("Register")}</h3>
    <span class="hint">${_("Creating an account is easy; all you need is a user name, password and email address.")}</span>
    <%include file="/user/register_form.html"/>
  </div>
</div>

<div class="infobox" style="clear: both; margin-top: 2em;">
${_("If you have an account but you've lost your password, <a href='/reset'>click here</a>.")|n}
</div>  

</%block>
