<%namespace name="components" file="/components.html"/>

<%def name="row(tile, user)">
	<div class="tile">
		<div class="logo">
			<img src="${h.gravatar_url(user, size=32)}" />
		</div>
		<div class="base">
			<h3><a class="link" href="${h.entity_url(user)}">${user.name}</a></h3>
			<div class="meta noclear">
				%if c.instance:
					${_(tile.instance_group.group_name)} &middot;
				%endif
				${_("signed up %s") % h.relative_time(user.create_time)|n} 
			</div>
		</div>
	</div>
</%def>

<%def name="header(tile, user, active)">
	<div class="top_actions title">
		%if tile.can_edit:
			<a class="button edit" href="${h.entity_url(user, member='edit')}">${_("edit")}</a>
		%endif
		
		%if c.instance and tile.can_manage and user.is_member(c.instance):
			%for group_code in c.model.Group.INSTANCE_GROUPS:
				%if group_code != tile.instance_group.code:
					<a class="button admin" href="${h.entity_url(user, member='groupmod')}?to_group=${group_code}&${h.url_token()}">
						${_("make %s") % _(c.model.Group.by_code(group_code).group_name)}</a>
				%endif
			%endfor
			<a class="button delete" 
				href="${h.entity_url(user, member='kick')}?${h.url_token()}">${_("kick")}</a>
		%endif
		
		%if c.user and user != c.user:
			${components.watch(user)}
			${h.rss_button(user)|n}
		%endif
	</div>
	
	<div style="clear: both;"></div>
	<h1 class="page_title">
		<img src="${h.gravatar_url(c.page_user, size=24)|n}" class="cd" alt="">
		${user.name}
	</h1>
	
	<div class="panel ${active}">
		<ul class="menu">
			<li><a href="${h.entity_url(user)}" class="activity">${_("Activity")}</a></li>
			%if c.instance:
				%if c.instance.allow_adopt:
					<li><a href="${h.entity_url(user, member='votes')}" class="votes">${_("Votes")}</a></li>
				%endif
				<li><a href="${h.entity_url(user, member='delegations')}" 
					class="delegations">${_("Delegations")} 
					(${len(user.current_agencies())})</a></li>
				<li><a href="${h.entity_url(user, member='watchlist')}" class="watchlist">${_("Watchlist")}
					(${user.num_watches})</a></li>
				## <li><a href="${h.entity_url(user, member='issues')}" class="issues">${_("Issues")} 
				##	(${tile.num_issues})</a></li>
				<li><a href="${h.entity_url(user, member='proposals')}" class="proposals">${_("Proposals")} 
					(${tile.num_proposals})</a></li>
				##<li><a href="${h.entity_url(user, member='comments')}" class="comments">${_("Comments")} 
				##	(${tile.num_comments})</a></li>
			%endif	
			<li><a href="${h.entity_url(user, member='instances')}" class="instances">${_("Adhocracies")} 	
				(${len(user.instances)})</a></li>
		</ul>
		
		<div class="info">
			<div class="meta">
				${_("signed up %s") % h.relative_time(user.create_time)|n}
			</div>
			<% 
			grp = tile.instance_group
			%>
			%if grp:
				${"%(group)s in %(instance)s" % dict(group=_(grp.group_name), 	
													 instance=c.instance.label)}
			%endif
		</div>
	</div>
</%def>