<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.title}</%def>

<%def name="breadcrumbs()">
    ${h.selection.breadcrumbs(None)|n}
</%def>

<%block name="headline">
${tiles.proposal.header(c.proposal, active='implementation')}
</%block>


<%block name="main_content">
<div class="mainbar">
    <h2>${_("Change an existing norm")}</h2>
    <div class="infobox">
        ${_("Select a norm that you want to relate to. You can later propose a variant of this norm to effect a change.")|n}
    </div>
    <form name="create_selection" class="inplace" method="POST" 
          action="${h.entity_url(c.proposal, member='implementation')}">
        ${h.field_token()|n}

        ${tiles.page.select_page(functions=[model.Page.NORM], 
                                 exclude=[s.page for s in c.proposal.selections], 
                                 allow_empty=False)}
        <br/><br/>
        <input type="submit" value="${_('Include')}" />
    </form>

  %if can.norm.propose():
    <h3>${_("Can't find an appropriate norm?")}</h3>
      <ul>
          <li><a href="${h.proposal.url(c.proposal, member='implementation/propose')}">
              ${_("Create a new norm instead")}</a>
          </li>
      </ul> 
  %endif
</%block>
