<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("Implementation")}
</%def>

${tiles.proposal.header(c.proposal, c.proposal_tile, active='implementation')}

<div class="sidebar">
	${tiles.proposal.sidebar(c.proposal, c.proposal_tile)}
	<br/>
	<h3 class="help">${_("Help")}</h3>
	<ul>
		<li>TODO</li>
	</ul>
</div>

<div class="mainbar">	
	<div id="selections_table" class="table">
		%if not len(c.proposal.selections):
			<div class="infobox">
				${_("Proposals are implemented by including changes towards new or existing position. Amend the proposal to change or create a position.")} 
			</div>
			<br/>
		%endif
		%for selection in c.proposal.selections: 
			${tiles.selection.full(selection, max_variants=3)}
		%endfor
	</div>
	
	%if can.selection.create(c.proposal):
	<div class="top_actions">
		<a class="button edit ttip" title="${_('Propose to change a position through this proposal.')}" 
		   href="${h.entity_url(c.proposal, member='implementation/new')}">${_("amend implementation")}</a>
	</div>
	%endif
</div>