<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("Implementation")}
</%def>

${tiles.proposal.header(c.proposal, c.proposal_tile, active='implementation')}

<div class="sidebar">
	%if c.proposal.is_adopt_polling(): 
		${tiles.poll.booth(c.proposal.adopt_poll)}
	%endif
	
	${tiles.delegation.sidebar(c.proposal, c.proposal_tile)}
	<br/>
	
	<h3 class="help">${_("Help")}</h3>
	<ul>
		<li>${h.help_link(_("What is a topic?"), 'selection_faq', anchor='whatisnorm')|n}</li>
		<li>${h.help_link(_("What is a variant?"), 'selection_faq', anchor='whatisvariant')|n}</li>
		<li>${h.help_link(_("What does 'Status quo' mean?"), 'selection_faq', anchor='whatishead')|n}</li>
		<li>${h.help_link(_("More help..."), 'selection_faq')|n}</li>
	</ul>
</div>

<div class="mainbar">	
	%if not len(c.proposal.selections):
		<div class="infobox">
			${_("Proposals are implemented by including changes towards new or existing topic. Amend the proposal to change or create a topic.")} 
		</div>
		<br/>
	%endif
	%for selection in sorted(c.proposal.selections, key=lambda s: s.page.title.lower()): 
		${tiles.selection.row(selection)}
	%endfor

	%if can.selection.create(c.proposal):
	<div class="top_actions">
		<a class="button add ttip" title="${_('Propose to change a topic through this proposal.')}" 
		   href="${h.entity_url(c.proposal, member='implementation/new')}">${_("amend implementation")}</a>
	</div>
	%endif
</div>