<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.selection.breadcrumbs(None)|n}
</%def>

${tiles.proposal.header(c.proposal, active='implementation')}

<div class="sidebar">
	<div class="help">
		<h3 class="help">${_("Help")}</h3>
		<div class="infobox">
			${_("The implementation of a proposal is amended by relating to a fixed document, a norm. Please select or create the norm that you want to relate to. You can then add a text variant of that norm, specifying the change you want to implement.")}
		</div>
		<br/>
		<ul>
			<li>${h.help_link(_("What is a norm?"), 'selection_faq', anchor='whatisnorm')|n}</li>
			<li>${h.help_link(_("What is a variant?"), 'selection_faq', anchor='whatisvariant')|n}</li>
			<li>${h.help_link(_("What does 'Status quo' mean?"), 'selection_faq', anchor='whatishead')|n}</li>
			<li>${h.help_link(_("More help..."), 'selection_faq')|n}</li>
		</ul>
	</div>
</div>
<div class="mainbar">


	<div id="selection_new">
		
		<div class="variant_header expand_tab" title="change@selection_new">
			<div class="variant_innerheader">
				${_("I want to include a change to an existing norm.")|n}<br/><br/>
			</div>
		</div>
		
		<div id="change" class="tile expand_area">
		<p>
			${_("Select a norm that you want to relate to. You can later write a variant of this norm to propose a change.")|n}
		</p>
		<form name="create_selection" class="inplace" method="POST" 
		      action="${h.entity_url(c.proposal, member='implementation')}">

			${tiles.page.select_page(functions=[c.model.Page.NORM], 
				                       exclude=[s.page for s in c.proposal.selections], 
				                       allow_empty=False)}
			<br/><br/>
			<input type="submit" value="${_("Include")}" />
		</form>
		</div>
	
		<div class="variant_header expand_tab" title="create@selection_new">
			<div class="variant_innerheader">
				${_("I want to propose the creation of a new norm.")|n}<br/><br/>
			</div>
		</div>
		<div id="create" class="tile expand_area area_hidden">
		<form name="create_page" class="inplace" method="POST" action="/page">
			${h.field_token()|n}
			<input type="hidden" value="${c.model.Page.NORM}" name="function" />
			<input type="hidden" value="${c.proposal.id}" name="proposal" />
			<input type="hidden" value="" name="text" />
			<input type="hidden" value="" name="tags" />
			<div class="page_title">
				<label for="title" class="armhint">${_("New norm title")}</label>
				<input tabindex="1" class="title armlabel" name="title" value=""/>
			</div>
				
			<label for="parent">${_("Parent page:")}</label>
			${tiles.page.select_page(field_name="parent", functions=c.model.Page.PARENT_FUNCTIONS)}
			<span class="hint">${_("The new norm will be categorized under the specified parent page.")}
				${h.help_link(_("Help."), 'selection_faq', anchor='parent')|n}
			</span>
			
			${components.savebox(None)}
		</form>
		</div>
	</div>

</div>