<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("New change request")}
</%def>

${tiles.proposal.header(c.proposal, active='implementation')}

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script>
$(document).ready(function() {
  $("#accordion").accordion({ autoHeight: false });
});
</script>

<div id="accordion">
	<h3><a href="#">${_("I want to modify an existing norm.")}</a></h3>
	<form name="create_selection" class="inplace" method="POST" 
	      action="${h.entity_url(c.proposal, member='implementation')}">

		${tiles.page.select_page(functions=[c.model.Page.NORM], 
			                       exclude=[s.page for s in c.proposal.selections], 
			                       allow_empty=False)}
		<input type="submit" value="${_("Include")}" />
	</form>

	<h3><a href="#">${_("I want to create a new norm.")}</a></h3>
	<form name="create_page" class="inplace" method="POST" action="/page">
		${h.field_token()|n}
		<input type="hidden" value="${c.model.Page.NORM}" name="function" />
		<input type="hidden" value="${c.proposal.id}" name="proposal" />
		<div class="page_title">
			<label for="title" class="armhint">${_("New norm title")}</label>
			<input tabindex="1" class="title armlabel" name="title" value=""/>
		</div>

		<textarea tabindex="2" class="description armlabel" rows="20" name="text"></textarea>
		<label for="tags" class="armhint">${_("Tags to describe the subject")}</label>
		<input name="tags" id="tags" class="armlabel long" />
		<span class="hint">${_("Multiple tags can be separated by commas.")}
			<a target="_new" href="/static/tag_faq.html">${_("Help.")}</a></span>
		
		<label for="parent">${_("Parent page:")}</label>
		${tiles.page.select_page(field_name="parent", functions=c.model.Page.PARENT_FUNCTIONS)}

		${components.savebox(None)}
	</form>
</div>
