<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("New change request")}
</%def>

${tiles.proposal.header(c.proposal, active='implementation')}

<div class="lefthalf double">
	<h3>${_("I want to create a new position.")}</h3>

	<form name="create_page" class="inplace" method="POST" action="/page">
		${h.field_token()|n}
		<input type="hidden" value="${c.model.Page.NORM}" name="function" />
		<input type="hidden" value="${c.proposal.id}" name="proposal" />
		<div class="page_title">
			<label for="title" class="armhint">${_("New position title")}</label>
			<input tabindex="1" class="title armlabel" name="title" value=""/>
		</div>

		<textarea tabindex="2" class="description armlabel" rows="20" name="text"></textarea>
		<label for="tags" class="armhint">${_("Tags to describe the subject")}</label>
		<input name="tags" id="tags" class="armlabel long" />
		<span class="hint">${_("Multiple tags can be separated by commas.")}
			<a target="_new" href="/static/tag_faq.html">${_("Help.")}</a></span>
		
		<label for="parent">${_("Parent page:")}</label>
		${tiles.page.select_page(field_name="parent", functions=c.model.Page.FUNCTIONS)}

		${components.savebox(None)}
	</form>
</div>

<div class="righthalf double">
	<h3>${_("I want to modify an existing position.")}</h3>
	<form name="create_selection" class="inplace" method="POST" 
	      action="${h.entity_url(c.proposal, member='implementation')}">

		${tiles.page.select_page(functions=[c.model.Page.NORM], 
			                       exclude=[s.page for s in c.proposal.selections if not s.is_deleted()], 
			                       allow_empty=False)}
		<br/><br/>
		<input type="submit" value="${_("Include")}" />


	</form>
</div>