<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.title}</%def>

<%def name="breadcrumbs()">
	${h.selection.breadcrumbs(c.selection)|n}
</%def>

${tiles.proposal.header(c.proposal, c.proposal_tile, active='implementation')}

<div class="sidebar">
	${tiles.delegation.sidebar(c.selection.page, tiles.page.PageTile(c.selection.page))}
	<br/>
	
	<div class="help">
		<h3>${_("Help")}</h3>
		<div class="infobox">
			${_("Select which text variant of the norm should be included in this proposal.")}
		</div>
		<ul>
			<li>${h.help_link(_("What is a norm?"), 'selection_faq', anchor='whatisnorm')|n}</li>
			<li>${h.help_link(_("What is a variant?"), 'selection_faq', anchor='whatisvariant')|n}</li>
			<li>${h.help_link(_("What does 'Status quo' mean?"), 'selection_faq', anchor='whatishead')|n}</li>
			<li>${h.help_link(_("Guide: Developing proposals"), 'proposal_text')|n}</li>
			<li>${h.help_link(_("More help..."), 'selection_faq')|n}</li>
		</ul>
	</div>
</div>

<div class="mainbar">	
	<div class="top_actions aside">
		%if c.tile.show_new_variant_link: 
			<a class="button add" href="${h.entity_url(c.selection.page, member='%20/edit')}?proposal=${c.proposal.id}">${_("new variant")}</a> 
		%endif
		%if can.selection.delete(c.selection):
			<a class="button delete" href="${h.entity_url(c.selection, member='ask_delete')}">${_("delete")}</a> 
		%endif
	</div>
	<div class="tile selection">
		<h3 class="section">
			${h.page.link(c.selection.page, icon_size=24)|n} 
			%if not c.selection.page.head.has_text:
				${_("(initiative)")}
			%else:
				${_("(change)")}
			%endif
		</h3>
		
		<br/>
		%if c.tile.has_variants:
			<div class="infobox">
				${_("Create a new variant to propose a changed text.")}
			</div>
		%elif c.tile.selected is None:
			<div class="infobox">
				${_("There is a tie between variants, thus none is included at the moment.")}
			</div>
		%elif c.tile.selected_text.is_head:
			<div class="infobox">
				${_("Status quo has the most votes, resulting in no proposed change to this norm.")}
			</div>
		%endif
		
		${tiles.selection.variants(c.selection, c.tile)}
		
	</div>
</div>