
<%def name="row(tile, selection)">
	<div class="tile selection" id="selection_${selection.id}">
		<h3 class="section">
			<!--a href="${h.entity_url(selection)}"-->
			<img class="cd" src="/img/icons/page_variant_16.png">
			${selection.page.title}
			<!--/a-->
			%if tile.selected and tile.selected != 'HEAD':
				- <code>${tile.selected}</code>
			%endif
			<!--
			%if not selection.page.head.has_text:
				${_("(initiative)")}
			%else:
				${_("(change)")}
			%endif
			-->
			<a name="selection_${selection.id}"></a>
		</h3>
		<br/>
		<div class="panel">
			<div class="menu">
				<ul>
					<li><a class="expand_tab" title="text_${selection.id}@selection_${selection.id}">
						${_("Selected variant")}
					</a></li>
					%if tile.selected:
						<li><a class="expand_tab" title="comments_${selection.id}@selection_${selection.id}">
							${_("Discussion (%s)") % tile.selected_num_comments}
						</a></li>
					%endif
					<li><a class="expand_tab" title="variants_${selection.id}@selection_${selection.id}">
						${_("Variant selection (%s)") % max(0, len(selection.page.variants)-1)}
					</a></li>
				</ul>
			</div>
		</div>
		
		<div class="expand_area language selected" id="text_${selection.id}">
			%if tile.selected is None:
				<div class="infobox">
					${_("There is a tie between variants, thus none is included at the moment.")}
				</div>
			
			%else:
			    %if tile.selected_text.is_head:
			        <div class="infobox">
        				${_("Status quo has the most votes, resulting in no proposed change to this norm.")}
        			</div>
			    %else:
				    <div class="variant_header">
					    ${_("Selected variant: <b>%s</b>") % ("<a href='%s'>%s</a>" % (h.entity_url(tile.selected_text), escape(tile.selected)))|n}
					    %if can.page.variant_edit(selection.page, tile.selected):
        					&middot; <a href="${h.entity_url(tile.selected_text, member='edit')}?proposal=${selection.proposal.id}">${_("edit")}</a>
        				%endif
					</div>
				%endif
				<br/>
				${diff.norm_texts_history_compare(tile.selected_text, selection.page.head)|n}
			%endif 
		</div>
		
		%if tile.selected:
		<div class="expand_area area_hidden" id="comments_${selection.id}">
			${tiles.comment.list(selection.page, variant=tile.selected, ret_url=h.entity_url(selection.proposal, member='implementation'))}
			<br/>
		</div>
		%endif
		
		<div class="expand_area area_hidden" id="variants_${selection.id}">
			${self.variants(tile, selection)}
		</div>
		
		
		<div class="top_actions aside">
			%if tile.show_new_variant_link:
				<a class="button add" href="${h.entity_url(selection.page, member='%20/edit')}?proposal=${selection.proposal.id}">${_("new variant")}</a> 
			%else:
				<a class="button edit" href="${h.entity_url(selection.page)}">${_("see norm")}</a>
			%endif
			##<a class="button add otip" title="${_('Select a variant text to become a part of this proposal.')}" 
			##	 href="${h.entity_url(selection)}">${_("select variants")}</a> 
			%if tile.selected_text:
				<a class="button edit otip" title="${_('Compare this variant text to others.')}" 
				   href="${h.entity_url(tile.selected_text)}">${_("comparison view")}</a> 
			%endif
			%if can.selection.delete(selection):
				<a class="button delete" href="${h.entity_url(selection, member='ask_delete')}">${_("delete")}</a> 
			%endif
		</div>
		<br/><br/>
	</div>
	<br/>
</%def>



<%def name="variants(tile, selection)">
	<ol class="variants" id="vs_${selection.id}">
	%for row in tile.variant_rows():
		<%
		if not row.show:
			break
		%>
		<li id="poll_c${row.poll.id}" 
				class="${h.poll_position_css(row.poll)} ${'selected' if row.selected else ''}
				       ${'head' if row.text.is_head else ''}">
			<div class="logo rate">
				%if can.poll.vote(row.poll):
					<a class="up icon otip" title="${_("Support this variant")}" 
						 href="${h.entity_url(row.poll, member='rate')}?position=1&${h.url_token()}" 
						 onclick="return rate('#poll_c${row.poll.id}', ${row.poll.id}, 1);">
						&nbsp;
					</a>
					<a href="${h.entity_url(row.poll, member='votes')}" 
						class="score">${row.poll.tally.score}</a>
					<a class="down icon ttip" title="${_("Oppose this variant")}" 
						 href="${h.entity_url(row.poll, member='rate')}?position=-1&${h.url_token()}" 
						 onclick="return rate('#poll_c${row.poll.id}', ${row.poll.id}, -1);">
						&nbsp;
					</a>
				%else:
					<a class="up icon inactive">&nbsp;</a>
					<a href="${h.entity_url(row.poll, member='votes')}" 
						class="score">${row.poll.tally.score}</a>
					<a class="down icon inactive">&nbsp;</a>
				%endif
			</div>
			<div class="variant_header expand_tab" title="text_${row.text.id}@vs_${selection.id}">
				<div class="variant_innerheader">				
				%if row.text.is_head:
					<b><a href="${h.entity_url(row.text)}">${row.text.variant_name}</a></b>
					${_("(this proposal should not change this norm)")}
				%else:
					<b><a href="${h.entity_url(row.text)}">${row.variant}</a></b>
					%if row.selected and not row.text.is_head and not tile.frozen:
						&middot; ${_("Currently selected for inclusion in this proposal")}
					%endif
				%endif
				<br/>
				${ungettext("%s comment", "%s comments", row.num_comments) % row.num_comments}
				%if row.can_edit:
					&middot; <a href="${h.entity_url(row.text, member='edit')}?proposal=${selection.proposal.id}">${_("edit")}</a>
				%endif
				%if can.page.variant_purge(selection.page, row.text.variant):
					&middot; <a href="${h.entity_url(row.text, member='ask_purge')}">${_("purge variant")}</a>
				%endif
				%if tile.selected_text and row.text.id != tile.selected_text.id:
					&middot; <a href="/page/diff?right=${row.text.id}&left=${tile.selected_text.id}">${_("compare")}</a>
				%endif
			</div></div>
			<div id="text_${row.text.id}"
				class="tile expand_area ${'area_hidden' if not row.selected else ''}">
			
				%if row.text.has_text:
					%if tile.selected_text:
						%if row.selected:
						    ${diff.norm_texts_history_compare(row.text, selection.page.head)|n}
						%else:
						    ${diff.norm_texts_history_compare(row.text, tile.selected_text)|n}
						%endif
					%else:
						${row.text.render()|n}
					%endif
				%else:
					<div class="infobox">
						${_("This variant has no text.")}
					</div>
				%endif
			</div>
		</li>
	%endfor
	</ol>
</%def>


