
<%def name="row(tile, selection)">
	<div class="tile selection">
		<h3 class="section">
			<a href="${h.entity_url(selection)}">
			<img class="cd" src="/img/icons/page_variant_24.png">
			${selection.page.title}
			</a>
			%if not selection.page.head.has_text:
				${_("(new)")}
			%endif
		</h3>
		
		<div class="language">
			%if tile.selected is None:
				<div class="infobox">
					${_("There is a tie between variants, thus none is included at the moment.")}
				</div>
			%elif tile.selected_text.is_head:
				<div class="infobox">
					${_("Status quo has the most votes, resulting in no proposed change to this norm.")}
				</div>
			%else:
				<div class="meta noclear">
					${_("Selected variant: <b>%s</b>") % ("<a href='%s'>%s</a>" % (h.entity_url(tile.selected_text), escape(tile.selected)))|n}
				</div>
				<br/>
				${tile.selected_text.render()|n}
			%endif 
		</div>
		
		<div class="top_actions aside">
			<a class="button add" href="${h.entity_url(selection)}">${_("discuss and select")}</a> 
		</div>
		<div class="meta noclear">
			${_("There are %s variants of the norm %s.") % (tile.num_variants, selection.page.title)}
		</div>
		<br/>
	</div>
	<br/>
</%def>

