
<%def name="row(tile, selection)">
	<div class="tile selection">
		<h3 class="section">
			<!--a href="${h.entity_url(selection)}"-->
			<img class="cd" src="/img/icons/page_variant_24.png">
			${selection.page.title}
			<!--/a-->
			%if not selection.page.head.has_text:
				${_("(new)")}
			%endif
		</h3>
		
		<div class="language selected">
			%if tile.selected is None:
				<div class="infobox">
					${_("There is a tie between variants, thus none is included at the moment.")}
				</div>
			%elif tile.selected_text.is_head:
				<div class="infobox">
					${_("Status quo has the most votes, resulting in no proposed change to this norm.")}
				</div>
			%else:
				<div class="variant_header">
					${_("Selected variant: <b>%s</b>") % ("<a href='%s'>%s</a>" % (h.entity_url(tile.selected_text), escape(tile.selected)))|n}
					(${ungettext("%s comment", "%s comments", tile.selected_num_comments) % tile.selected_num_comments})
				</div>
				<br/>
				${tile.selected_text.render()|n}
			%endif 
		</div>
		
		<div class="top_actions aside">
			%if tile.num_variants == 0:
				%if tile.show_new_variant_link: 
					<a class="button add" href="${h.entity_url(selection.page, member='%20/edit')}?proposal=${c.proposal.id}">${_("new variant")}</a> 
				%else:
					<a class="button edit" href="${h.entity_url(selection.page)}">${_("see norm")}</a>
				%endif
			%else:
				<a class="button add otip" title="${_('Select a variant text to become a part of this proposal.')}" 
					 href="${h.entity_url(selection)}">${_("select variant")}</a> 
				%if tile.selected_text:
					<a class="button edit otip" title="${_('Compare this variant text to others.')}" 
					   href="${h.entity_url(tile.selected_text)}">${_("compare variants")}</a> 
				%else:
					<a class="button edit" href="${h.entity_url(selection.page)}">${_("see norm")}</a>
				%endif
			%endif
		</div>
		<div class="meta noclear">
			${_("There are %s of the norm %s.") % ("<a href='%s'>%s</a>" % (h.entity_url(selection), ungettext("%s variant", "%s variants", tile.num_variants) % tile.num_variants), escape(selection.page.title))|n}
		</div>
		<br/>
	</div>
	<br/>
</%def>

