
<%def name="inbound(tile, delegation)">
			<img class='user_icon' src="/img/icons/delegated_to_16.png" />
			${_("from %s") % h.user_link(delegation.principal)|n}:  
			<a href="${h.entity_url(delegation)}">${_("track record")}</a>
</%def>

<%def name="outbound(tile, delegation)">
			<img class='user_icon' src="/img/icons/delegate_to_16.png" />
			${_("to %s") % h.user_link(delegation.agent)|n}:
			<a href="${h.entity_url(delegation)}">${_("track record")}</a>
			%if delegation.principal == c.user:
				&middot; <a href="${h.entity_url(delegation)}?_method=DELETE&${h.url_token()}">${_("revoke")}</a>
			%endif
</%def>

<%def name="row(tile, delegation)">
	<div class="tile">
		<div class="logo">
			<img src="/img/icons/delegate_32.png" />
		</div>
		<div class="base">
			<h3>${h.user_link(delegation.principal)|n} ${_("to %s") % h.user_link(delegation.agent)|n}</h3>
			<div class="meta">
				${_("created <b>%s</b>") % h.relative_time(delegation.create_time)|n}
				&middot; <a href="${h.entity_url(delegation)}">${_("track record")}</a>
				%if delegation.principal == c.user:
					&middot; <a href="${h.entity_url(delegation)}?_method=DELETE&${h.url_token()}">${_("revoke")}</a>
				%endif
			</div>
		</div>
	</div>
</%def>

<%def name="sidebar(tile, delegateable)">
	%if c.tile.can_vote:
	<div class="not_a_tile">
		<h3 class="section"><img src="/img/icons/delegate_16.png" class="cd" /> ${_("Delegate voting")}</h3>
		<ul>
		<li>
			%if not c.tile.has_delegated:
				%if c.tile.has_overridden:
					${_("You have voted yourself and not delegated voting.")}
				%else:
					${_("You have not delegated voting.")} 
					<a href="/delegation/new?scope=${delegateable.id}">${_("delegate")}</a>
				%endif 
			%else:
				%if c.tile.has_overridden:
					${_("By voting yourself, you have overridden:")}
				%else:
					${_("You have delegated voting to:")}
				%endif
			%endif
		<ul>
			%for delegation in c.tile.delegations:
				<li>
				${h.user_link(delegation.agent)|n}
				&middot; ${_("on")} ${h.delegateable_link(delegation.scope)|n}</a>
				&middot; <a href="${h.entity_url(delegation)}">${_("review")}</a>
				</li>
			%endfor
		</ul>
		</li>
		
		%if c.tile.num_principals:
		<li>
			%if c.tile.num_principals == 1:
				${_("You hold an additional vote.")}
			%else:
				${_("You hold %s additional votes.") % c.tile.num_principals}
			%endif
		</li>
		%endif
		</ul>
	</div>
	%endif
</%def>
