// Dropdown arrow/caret
// --------------------
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
.btn .caret {
    margin-top: 8px;
    margin-left: 0;
}
