.facet {
    ul {
        list-style: none;
        margin-left: 0;
        margin-bottom: 5px;

        ul {
            margin-left: 18px;
            &.noindent {
                margin-left: 0px;
            }
        }
    }

    li {
        > a.expand_arrow {
            width: 11px;
            height: 11px;
            display: inline-block;
            background: url("/images/arrow-right-11.png") no-repeat 0px top;

            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }
        > ul {
            display: none;
        }

        &.expanded {
            > a.expand_arrow {
                background: url("/images/arrow-down-11.png") no-repeat 0px top;
            }
            > ul {
                display: block;
            }
        }
    }

    input {
        margin-top: 2px;
        margin-right: 5px;
    }

    .facet_item_text {
        font-weight: bold;
    }
}
