.form_wrapper {
    background: url("/images/shadow_image_large.jpg") no-repeat scroll center bottom transparent;
    padding-bottom: 18px;

    .overlay & {
        background: none;
        padding-bottom: 0;
    }
}

.form_wrapper form, #searchbox form {
    margin: 0;
}

form {
    background-color: $bg1;
    padding: 2em;
    overflow: hidden;  // clearfix
}

form.list_filter {
    background: none;
}

form.list_filter label {
    font-size: $large;
}

form .savebox {
    padding-top: 0.5em;
}

#openid_form {
    width: auto !important; /*do not know why there was a fixed value here [joka] */
}
form div.prototype {
    display: none;
}


form p.info {
    margin-bottom: 0.8em;
    color: $fg1;
}

.input_wrapper {
    width: 100%;
    margin-bottom: 0.8em;
    clear: both;

    &.submit {
        font-size: $small;
        line-height: 2.2;
    }
}

textarea {
    width: 100%;
    min-height: 10em;
    max-width: 100%;
    @include box-sizing(border-box);
}

input[type=checkbox], input[type=radio] {
    vertical-align: text-top;
    margin-top: 1px;
}

.checkbox_inline label {
    display: block;
    padding-left: 1em;
    text-indent: -1em;
}

.checkbox_inline input {
    width: 1em;
    height: 1em;
    padding: 0;
    margin:0;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

form .error-message {
    color: darkred;
}
form .error {
    border-color: darkred;
}

/* searchform */
.list_filter .searchform {
    margin: 1.5em 0;
}

.searchform {
    // reset
    padding: 0;
    background: none;
    margin-bottom: 0;

    // avoid wrapping button to the next line
    white-space: nowrap;

    button[type="submit"] {
        @include button-background($button-color);

        min-width: 3em;
        max-width: 3em;
        padding-left: 0;
        padding-right: 0;
        margin-left: -3em;
        margin-right: 0;
    }
    input[type="text"] {
        padding-right: 3.5em;
        width: 100%;
    }
    input[type="text"],
    button[type="submit"] {
        // same height
        font-size: $large;
        line-height: 1;  // firefox will ignore this
        height: 1.8em;
        @include box-sizing(border-box);
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        margin-bottom: 0;
    }
}

form#user_welcome {
    margin: 0;
    padding: 0;

    > label {
        margin: 0;
        padding: 0.4em 0;
        text-align: center;
        font-size: $x-large;
        line-height: normal;

        > * {
            vertical-align: top;
            font-size: inherit;
            height: auto;
            line-height: normal;
        }
        > span {
            display: inline-block;
            padding-top: 0.2em;
        }
        > input[type="password"] {
            padding: 0.1em 0.4em;
            margin: 0;
            width: 5em;
        }
        > input[type="submit"] {
            padding: 0.1em 0.4em;
        }
    }
}

.login_form input[type="text"],
.login_form input[type="email"],
.login_form input[type="password"] {
    display: block;
    width: 16em;
}
.login_form input[type="password"] {
    margin-bottom: 0;
}

form.password-reset input[type="submit"] {
  padding: 0.4em 0.8em;
}

form.inline-form {
  background: inherit;
  padding: 0;
  display: inline-block;
}

.login_form.login-alternate input[type="email"],
.login_form.login-alternate input[type="text"] {
  display: inline;
}
.login_form.login-alternate label {
  margin-left: 1.5em;
  margin-top: 0.8em;
}
.login_form.login-alternate label>span {
  vertical-align: text-top;
}
.login_form.login-alternate input[type="password"] {
  display: block; margin-bottom: 0.8em; margin-left: 3em;
}

#tags_form form {
    background: none;
    padding: 0;
}

fieldset.logo {
    @include clearfix();

    .control-group {
        float: left;
    }
    .current {
        float: right;
        text-align: center;
    }
}

.only-no-formdata {
    display: none;
}
.overlay.no-formdata .only-no-formdata {
    display: block;
}
