.ie-message {
    display: block;
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
    color: white;
    text-align: center;
    background: $red;

    &:hover, &:focus {
        color: white;
        background: $red;
    }
}
