@mixin morelink() {
    position: relative;
    padding-left: 2em;
    margin-left: 0.5em;
    // arrow position does not work on multiple lines
    white-space: nowrap;

    &:before {
        content: "⟶";
        text-decoration: none !important;
        font-weight: normal !important;
        position: absolute;
        line-height: 1em;
        left: 0;
        top: 50%;
        margin-top: -0.5em;
    }
}

a, span {
    &.more, &.more_uppercase {
        @include morelink();
        text-transform: uppercase;
        font-weight: bold;
    }
    &.more_link {
        @include morelink();
        text-transform: uppercase;
        font-size: 0.8em;
    }
}

// morelinks next to headers
.morelink_header {
    @include clearfix;

    h1, h2, h3, h4, h5, h6 {
        float: left;
    }
    .more_link {
        float: right;
        position: relative;
        top: 25px;
    }
}
