@mixin morelink() {
    position: relative;
    padding-left: 2em;
    margin-left: 0.5em;
    &:before {
        content: "⟶";
        text-decoration: none !important;
        font-weight: normal !important;
        position: absolute;
        left: 0;
        // HACK
        line-height: 1em;
        top: 50%;
        margin-top: -0.55em;
    }
}

a.more, a.more_uppercase {
    @include morelink();
    text-transform: uppercase;
    font-weight: bold;
}
a.more_link {
    @include morelink();
    text-transform: uppercase;
    font-size: 0.8em;
}
