.pager_wrapper {
    .floatbox {
        padding: 5px 10px;
        background-color: $bg1;
        @include background-image(linear-gradient(left, $bg1, lighten($bg1, 2%), $bg1));
    }
    .filter_box {
        margin: 0;
    }
    .sort_group {
        float: left;
        padding: 0 2em 0 1em;
    }
    hr {
        margin-bottom: 0;
    }
}

/* filter / pager */
.filter h2 {
    float: left;
    width: 50%;
}
.filter_box {
    float: right;
    text-align: right;
    color: $fg1;
    margin: 0 0 15px 0;

    a.selected {
        color: $fg1;
    }
    select {
        width: auto;
    }
    .filter & {
        width: 50%;
        margin: 15px 0 0 0;
    }
}

.pager {
    clear: both;
    text-align: right;
    margin: 0 0 15px 0;
    padding-top: 10px;

    .prev_page, .next_page {
        display: inline;
    }
    .prev_page a, .next_page a, .prev_page span, .next_page span, a, > span {
        display: inline-block;
        padding: 0 8px;
        line-height: 27px;
        min-width: 11px;
        text-align: center;
        background: $bg1;
        margin: 0 2px;
        color: $fg1;
        @include border-radius(15px);
        border: 1px solid $border;
    }
    a:hover, a:focus {
        color: #fff;
        background-color: lighten($button-color, 10%);
        text-decoration: none;
    }
    .current, a:active {
        color: #fff;
        background-color: $button-color;
    }
}
