ul.subpages li a:hover,
ul.subpages li a:focus,
ul.subpages li.current_page_item a,
ul.subpages ul.children li a:hover,
ul.subpages ul.children li a:focus,
ul.subpages ul.children li.current_page_item a {
    color: #9fb5d9;
}
.widget-area .shailan_SubpagesWidget {
    background-color: $primary-color;
    @include background-image(linear-gradient(top left, lighten($primary-color, 14%), $primary-color));
}
ul.subpages li, ul.subpages ul.children li {
    background: url('/images/line_subnavi.gif') repeat-x top center;
}
