.tabnav {
    margin: 0;

    li {
        margin-top: 0.8em;

        a {
            padding: 0.4em 1.2em;
            display: block;
            color: $black;
            border-bottom: 1px solid #fff;

            &.active, &:hover, &:focus {
                background: $bg1;
                text-decoration: none;

                // not sure where this came from
                color: $primary-color;
            }
        }
    }
}
