// the #main is needed to overwrite the joyride css
#main .joyride-next-tip, #main .joyride-prev-tip {
    @include button($button-color);

    // overwrite
    @include text-shadow(none);
    @include border-radius(0);
    &:hover, &:focus {
        border: none !important;
    }
}

#tutorial-intro {
    padding-bottom: 1em;
}

#start-tutorial-button {
    margin-right: 2em;
}

#tutorial-banner a.disable-link {
    padding-left: 1em;
}
