<%namespace name="components" file="/components.html"/>

<%def name="attribution(long=False, inline=True)">
<% cls = 'note_map_inline' if inline else 'note_map' %>
%if long:
  <div class="${cls}">Map data: &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors (<a href="http://www.openstreetmap.org/copyright">${_("License")}</a>)</div>
%else:
  <div class="${cls}">&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a></div>
%endif
</%def>

<%def name="show_single_proposal_map(proposal_id, map_class='small_boxed_map')">
<% h.need.openlayers %>
<% h.need_adhocracy_geo_i18n() %>
<% h.need.adhocracy_geo_js %>
<div id="map" class="map ${map_class}"></div>
${attribution()}
<script type="text/javascript">window.onload=function() {
    adhocracy.geo.loadSingleProposalMap(${h.geo.map_config(instanceKey=c.instance.key, proposalId=proposal_id)|n});
}</script>
</%def>

<%def name="show_page_map(page_id)">
<% h.need.openlayers %>
<% h.need_adhocracy_geo_i18n() %>
<% h.need.adhocracy_geo_js %>
<div id="map" class="map small_boxed_map"></div>
${attribution()}
<script type="text/javascript">window.onload=function() {
    adhocracy.geo.loadPageMap(${h.geo.map_config(instanceKey=c.instance.key, pageId=page_id)|n});
}</script>
</%def>

<%def name="show_page_edit_map(page_id)">
<% h.need.openlayers %>
<% h.need.ole %>
<% h.need_adhocracy_geo_i18n() %>
<% h.need.adhocracy_geo_js %>
<div id="map" class="map midsize_map"></div>
${attribution()}
<div id="edit_map_buttons" />
<form id="edit_geotag" method='post' action='${h.entity_url(c.page, member="update_geotag")}'>
    <input id='geotag_field' name='geotag' type='hidden' />
    <div>
      <div class="input_wrapper submit">
        ${components.savebox("/page/%s" % c.page.id)}
      </div>
    </div>
</form>
<script type="text/javascript">window.onload=function() {
    adhocracy.geo.loadPageMap(${h.geo.map_config(instanceKey=c.instance.key, pageId=page_id, edit=True)|n});
}</script>
</%def>

<%def name="show_single_proposal_edit_map(proposal_id)">
<% h.need.openlayers %>
<% h.need_adhocracy_geo_i18n() %>
<% h.need.adhocracy_geo_js %>
<div id="map" class="map midsize_map"></div>
${attribution()}
<div id="edit_map_buttons" />
<form method='post' action='${h.entity_url(c.proposal, member="update_geotag")}'>
    <input id='geotag_field' name='geotag' type='hidden' />
    <div>
      <div class="input_wrapper submit">
        ${components.savebox("/proposal/%s" % c.proposal.id)}
      </div>
    </div>
</form>
<script type="text/javascript">window.onload=function() {
    adhocracy.geo.loadSingleProposalMap(${h.geo.map_config(instanceKey=c.instance.key, proposalId=proposal_id, edit=True)|n});
}</script>
</%def>

<%def name="show_single_proposal_edit_map_on_creation()">
<% h.need.openlayers %>
<% h.need_adhocracy_geo_i18n() %>
<% h.need.adhocracy_geo_js %>
<div class="input_wrapper">
  <input id='geotag_field' name='geotag' type='hidden' value='' />
  <div id='map_div' class='map'></div>
  <div class="map_buttons">
    <a id='create_geo_button' class="button_small">${_('Add geographic location')}</a>
  <div>
  <div id="edit_map_buttons"></div>
</div>
<script type="text/javascript">window.onload=function() {
    adhocracy.geo.editGeotagInNewProposalWizard(${h.geo.map_config(instanceKey=c.instance.key)|n});
}</script>
</%def>

<%def name="show_region_map(initial_proposals=[], full_region=True, map_class='small_boxed_map')">
<% h.need.openlayers %>
<% h.need_adhocracy_geo_i18n() %>
<% h.need.adhocracy_geo_js %>
<div id="map" class="map ${map_class}">
${attribution(long=False)}</div>
<script type="text/javascript">window.onload=function() {
    adhocracy.geo.loadRegionMap(${h.geo.map_config(instanceKey=c.instance.key, initialProposals=initial_proposals, initialPages=[], largeMap=False, fullRegion=full_region)|n});
}</script>
</%def>

<%def name="show_region_map_large(initial_proposals=[], initial_pages=None, full_region=True)">
<% h.need.openlayers %>
<% h.need_adhocracy_geo_i18n() %>
<% h.need.adhocracy_geo_js %>
<div id="map" class="map large_map"></div>
${attribution(long=True)}
<script type="text/javascript">window.onload=function() {
    adhocracy.geo.loadRegionMap(${h.geo.map_config(instanceKey=c.instance.key, initialProposals=initial_proposals, initialPages=initial_pages, largeMap=True, fullRegion=full_region)|n});
}</script>
</%def>

<%def name="show_overview_map(initial_instances=None)">
<% h.need.openlayers %>
<% h.need_adhocracy_geo_i18n() %>
<% h.need.adhocracy_geo_js %>
<div id="map" class="map small_boxed_map">
${attribution(long=False)}</div>
<script type="text/javascript">window.onload=function() {
    adhocracy.geo.loadOverviewMap(${h.geo.map_config(initialInstances=initial_instances)|n});
}</script>
</%def>

<%def name="show_select_instance()">
<% h.need.openlayers %>
<% h.need.jquery_ui %>
<% h.need_adhocracy_geo_i18n() %>
<% h.need.adhocracy_geo_js %>
${attribution(long=True)}
<script type="text/javascript">window.onload=function() {
    adhocracy.geo.showSelectInstanceMap(${h.geo.map_config()|n});
}</script>
</%def>
