<%namespace name="components" file="/components.html"/>
<%
login_types = h.allowed_login_types()
if c.openid_scenario == 'login':
    signin_text = _('Sign in')
elif c.openid_scenario == 'register':
    signin_text = _('Register')
else:
    signin_text = _('Continue')
%>

<form class="openid_form ${c.openid_scenario}" method="POST" action="/openid/init" data-i18n-signin-text="${signin_text}">
 <div>${_("Single sign-on services allow you to use a single login on many web sites.")}</div>
 <div class="openid_btns">
   %if 'facebook' in login_types:
   <a href="javascript:{}" onclick="document.getElementById('facebook_login_form').submit();">
     <img class="openid_large_btn" src="/velruse/facebook_login.png" alt="${_('Login with Facebook')}" />
   </a>
   %endif
 </div>

  <div class="openid_input_area">
    <%doc> This elements will be replaced by JavaScript </%doc>
    <input name="openid" type="url" value="http://" />
    <input class="openid_submit" type="submit" value="${signin_text}" />
  </div>
</form>

%if 'facebook' in login_types:
<form id="facebook_login_form" action="${h.velruse_url('/login/facebook')}"
      method="post" style="display: none">
</form>
%endif
