
<%def name="row(tile, event)">
    <%
    from adhocracy.lib.event import formatting
    event_html = formatting.as_html(event)
    %>
    <div class="tile event">
        <div class="base">
      <h3><a href="/user/${event.user.user_name}">${event.user.name}</a>
        ${tiles.badge.badges(event.user.badges)} ${event_html|n}</h3>
            %if tile.text:
                <div class="text">
                    ${tile.text|n}
                </div>
            %endif
            <div class="meta noclear">
                ${_("%s") % h.relative_time(event.time)|n}
                &middot;
                <a href="${event.link()}">${_("more")}</a>
            </div>
        </div>
    </div>
</%def>
