
<%def name="checklist(state)">
	<ul class="checklist">
		%if not state.polling:
			<li class="unmet">${_("The motions isn't polling.")}</li>
		%else:
			%if state.participation:
				<li class="met">The required ${state.participation.required} votes have voted.</li>
			%else:
				<li class="umet">${state.participation.required} voters are needed.</li>
			%endif
			
			%if state.majority:
				<li class="met">${state.majority.required * 100}% approve.</li>
			%else:
				<li class="umet">${state.majority.required * 100}% need to approve.</li>
			%endif
			
			%if state.stable:
				<li class="met">Majority has been held for ${h.format_timedelta(state.stable.delay)}.</li>
			%else:
				<li class="unmet">Majority needs to be held for ${h.format_timedelta(state.stable.delay)}.</li>
			%endif
			
			%if state.adopted:
				<li class="met">Adopted.</li>
			%endif
		%endif
	</ul>
</%def>