
<%def name="checklist(state)">
	<div class="tile">
				<h4><img src="/img/icons/issue_adopted_16.png" class="cd"/> ${_("Adoption")}</h4>
	<%
	from datetime import datetime
	%>
	<ul class="checklist">
		%if not state.polling:
			%if c.tile.has_canonicals:
				<li class="met">${_("Provisions to describe the proposal.")}</li>
			%else: 
				<li class="unmet">${_("Provisions to describe the proposal.")}</li>
			%endif
			<li class="unmet">${_("A vote needs to be called.")}</li>
		%elif state.adopted:
			%if not state.stable:
				<li class="met">${_("The proposal is adopted, <b>but volatile</b>.")|n}</li>
				<li class="unmet">${_("Majority needs to be held <b>for %s</b>.") % h.countdown_time(state.volatile.end_time, c.instance.activation_delay)|n}</li>
			%else:
				<li class="met">${_("The proposal is adopted.")}</li>
			%endif
		%else:
			%if state.participation:
				<li class="met">${_("More than <b>%s votes</b> have been cast.") % state.participation.required|n}</li>
			%else:
				<li class="unmet">${_("At least <b>%s votes</b> need to be cast.") % state.participation.required|n}</li>
			%endif
			
			%if state.majority:
				<li class="met">${_("More than <b>%s%% of voters</b> approve.") % int(state.majority.required * 100)|n}</li>
			%else:
				<li class="unmet">${_("<b>%s%% of voters</b> must approve.") % int(state.majority.required * 100)|n}</li>
			%endif
			
			%if state.stable:
				<li class="met">${_("Majority has been held <b>for %s</b>.") % h.format_timedelta(state.stable.delay)|n}</li>
			%else:
				<li class="unmet">${_("Majority needs to be held <b>for %s</b>.") % h.countdown_time(state.volatile.end_time, c.instance.activation_delay)|n}</li>
			%endif
		%endif
				
		%if len(state.alternatives.alternatives):
			<li class="${'met' if state.alternatives else 'unmet'}">
				${_("No <b>alternatives</b> may be adopted:")|n}
			</li>
			%for alternative in state.alternatives.alternatives:
				<li style="list-style-image: none; list-style: none;" >
					${h.delegateable_link(alternative, icon=True)|n} ${_('(blocking)') if state.alternatives.blocking(alternative) else ''}
				</li>
			%endfor
		%endif
			
			
	</ul>
		</div>
</%def>