
<%def name="checklist(state)">
	<div class="boxed">
			<div class="inner_boxed">
				<h4><img src="/img/icons/aktive_16.png" class="cd"/> ${_("Adoption")}</h4>
	<%
	from datetime import datetime
	%>
	<ul class="checklist">
		%if not state.polling:
			%if c.tile.has_canonicals:
				<li class="met">${_("Provisions to describe the motion.")}</li>
			%else: 
				<li class="unmet">${_("Provisions to describe the motion.")}</li>
			%endif
			<li class="unmet">${_("A vote needs to be called.")}</li>
		%elif state.adopted:
			<li class="met">${_("The motion is adopted.")}</li>
		%else:
			%if state.participation:
				<li class="met">${_("More than <b>%s votes</b> have been cast.") % state.participation.required|n}</li>
			%else:
				<li class="unmet">${_("At least <b>%s votes</b> need to be cast.") % state.participation.required|n}</li>
			%endif
			
			%if state.majority:
				<li class="met">${_("More than <b>%s%% of voters</b> approve.") % int(state.majority.required * 100)|n}</li>
			%else:
				<li class="unmet">${_("<b>%s%% of voters</b> must approve.") % int(state.majority.required * 100)|n}</li>
			%endif
			
			%if state.stable:
				<li class="met">${_("Majority has been held <b>for %s</b>.") % h.format_timedelta(state.stable.delay)|n}</li>
			%else:
				<li class="unmet">${_("Majority needs to be held <b>for %s</b>.") % h.format_timedelta(state.stable.end_time - datetime.now() if state.stable.end_time else state.stable.delay)|n}</li>
			%endif
		%endif
		
		%if len(state.dependencies.dependencies):
			<li class="${'met' if state.dependencies else 'unmet'}">
				${_("All <b>requirements</b> must be adopted:")|n}
			</li>
			%for dependency in state.dependencies.dependencies:
				<li style="list-style-image: none; list-style: none;" >
					${h.delegateable_link(dependency, icon=True)|n} ${_('(missing)') if state.dependencies.blocking(dependency) else ''}
				</li>
			%endfor
		%endif
		
		%if len(state.alternatives.alternatives):
			<li class="${'met' if state.alternatives else 'unmet'}">
				${_("No <b>alternatives</b> may be adopted:")|n}
			</li>
			%for alternative in state.alternatives.alternatives:
				<li style="list-style-image: none; list-style: none;" >
					${h.delegateable_link(alternative, icon=True)|n} ${_('(blocking)') if state.alternatives.blocking(alternative) else ''}
				</li>
			%endfor
		%endif
			
			
	</ul>
				</div>
		</div>
</%def>