<form name="openid_login" id="openid_form" method="POST" action="/openid/init">
   <label for="openid">${_('Alternative')}:</label>
   <div id="openid_choice">
      %if c.openid_scenario and c.openid_scenario == "login":
         <span class="hint">${_('Login with your OpenID to skip registration.')}</span>
      %endif
      <div id="openid_btns"></div>
   </div>
   <div id="openid_input_area">
      <input id="openid" name="openid" type="text" value="http://" />
    %if c.openid_scenario and c.openid_scenario == "login":
        <input id="openid_submit" type="submit" value="${_('Sign in')}"/>
    %else:
        <input id="openid_subit" type="submit" value="${_('Continue')}"/>
    %endif
   </div>
   <noscript>
      <p>OpenID is service that allows you to log-on to many different websites using a single indentity.
         Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
   </noscript>
</form>
 <script type="text/javascript"
        src="${h.base_url('/openid-selector/js/openid-jquery.js', None)}"></script>
 <script type="text/javascript"
        src="${h.base_url('/openid-selector/js/openid-%s.js' % c.locale.language, None)}"></script>
<script type="text/javascript">
	var link = $("<link>");
	link.attr({
		type: 'text/css',
		rel: 'stylesheet',
		href: '/openid-selector/css/openid.css' 
	});
	$("head").append( link ); 
	openid.init('openid');
</script>
