<form name="login" method="POST" action="/openid/init">
	<label for="openid">${_('OpenID')}:</label>
	%if c.openid_scenario and c.openid_scenario == "login":
		<span class="hint">${_('Login with your OpenID to skip registration.')}</span>
	%endif
	<input id="openid" class="openid_url" name="openid" type="text" value=""/>
	
	%if c.openid_scenario and c.openid_scenario == "login":
		<input type="submit" value="${_('Sign in')}"/>
	%else:
		<input type="submit" value="${_('Continue')}"/>
	%endif
</form>