<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Delete: %s") % c.page.title}</%def>

<%def name="breadcrumbs()">
    ${h.page.breadcrumbs(c.page)|n} &raquo; ${_("Delete")}
</%def>

<%block name="main_content">

<h2>${c.page.title}</h2>

<form name="ask_delete" class="inplace" method="POST" 
    action="${h.entity_url(c.page)}">
    ${h.field_token()|n}
    <input type="hidden" name="_method" value="DELETE" />
    <div class="sidebar">
        &nbsp;
    </div>
    <div class="mainbar">
        <div class="warning_box">
            ${_("Are you sure you want to delete this page?")|n}
        </div>
        <center>
            <input type="submit" class="delete" value="${_('Confirm')}" />
        </center>
    </div>
</form>
</%block>
