<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Variant: %s") % c.text.title}</%def>

<%def name="breadcrumbs()">${h.text.breadcrumbs(c.text)|n} &raquo; ${_("Edit variant")}</%def>

<%block name="main_content">

<form name="edit_page" class="inplace" method="POST" action="${h.entity_url(c.page)}">

    <h2>${_("Norm: %s") % c.page.title}</h2>
    ${h.field_token()|n}
    <input type="hidden" name="parent_text" value="${c.text.id}" />
    <input type="hidden" name="branch" value="${c.branch}" />

    %if c.text.is_head and not c.branch:
    <input type="hidden" name="variant" value="${c.variant}"/>
    %else:
    <label for="variant">${_("Variant Name")}</label>
    <input type="text" name="variant" value="${c.variant}" ${'readonly=readonly' if not c.branch else ''} />
    %endif

    %if c.text.is_head and h.has_permission('instance.admin'):
    <label for="title">${_("Title")}</label>
    <input type="text" name="title" value="${c.text.title}"/>  
    %else:
    <input type="hidden" name="title" value="${c.text.title}"/>
    %endif

    %if c.proposal:
        <input type="hidden" value="${c.proposal}" name="proposal" />
    %endif

    <input type="hidden" name="_method" value="PUT" /> 
    
    <label for="text">${_("Text")}</label>
    <textarea tabindex="2" rows="${c.text_rows}" 
              cols="${model.Text.LINE_LENGTH}" 
              name="text">${c.text.text}</textarea>


    %if can.page.manage(c.page):
    <fieldset>
      <legend>${_('Formatting')}</legend>
      <div class="input_wrapper">
        <label for="formatting">
          <input name="formatting" type="checkbox" ${'checked="checked"' if c.page.formatting else '' | n} value="1" />
        ${_("Use markdown formatting.")}</label>
      </div>
      ${components.formatting()}
    </fieldset>

    <fieldset>
      <legend>${_("Category")}</legend>
      <div class="input_wrapper">
        <select name="category"> 
          <option value="">${_("No Category")}</option>
          %for category in c.categories:
          <option value="${category.id}" ${'selected="selected"' if category==c.category else '' | n}>${category.title}</option>
          %endfor
        </select>      
      </div>
    </fieldset>

    <label for="parent">${_("Parent page:")}</label>
    ${tiles.page.select_page(field_name="parent_page", select=c.page.parent, functions=model.Page.PARENT_FUNCTIONS)}


    %endif

    %if c.instance.milestones and can.page.manage(c.page):
    <br/>
    <br/>
    <label for="milestone">${_("Relates to a milestone")}</label>
    ${tiles.milestone.select(c.page.milestone)}
    %endif

        ${components.savebox(h.entity_url(c.text))}
        ${components.form_watch(c.page)}
    </div>

</form>
</%block>

