<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="sidebar_defs" file="/sidebar.html"/>
<%namespace name="state" file="/poll/state.html"/>
<% from adhocracy.lib import sorting %>
<%def name="title()">${c.page.title|n}</%def>
<%def name="breadcrumbs()">${h.text.breadcrumbs(c.text)|n}</%def>


<%def name="section(page)">
    <section id="subpage-${page.id}" class="subpage">
        <div class="body">
            ${page.render()|n}

            <aside>
                <ul class="flags">
                    %if page.allow_comment:
                    <li><a href="${h.entity_url(page, member='comments')}" rel="#overlay-url">${_(u'Comments') if h.comment.wording() else _('Discussions')} (${page.comment_count()})</a></li>
                    %endif
                    %if page.allow_selection:
                    <li><a href="${h.entity_url(page, member='amendment')}" rel="#overlay-url-big">${_(u'Amendments')} (${len(page.selections)})</a></li>
                    %endif
                </ul>
                <div class="utility">
                    %if can.norm.edit(page):
                    <a href="${h.entity_url(page, member='edit', query={'section_parent': c.page.id})}" rel="#overlay-form" >${_(u"Edit")}</a>
                    %endif
                    %if can.page.delete(page):
                    <a href="${h.entity_url(page, member='ask_delete', query={'section_parent': c.page.id})}" rel="#overlay-form">${_(u"Delete")}</a>
                    %endif
                </div>
            </aside>
        </div>

        %for subpage in sorting.delegateable_title(page.subpages):
        ${section(subpage)}
        %endfor
    </section>
</%def>


<%block name="main">
    <h2 id="tutorial-sectionpage">
        ${c.page.title}
        %if not c.variant_details['is_head']:
        &ndash; ${c.variant_details['display_title']}
        %endif
    </h2>
    <hr />

    <%
        entwuerfe = {
            # Karl-Marx-Allee

            21: {
                'architect': u'barkowleibinger',
                'categories': [],
            },
            22: {
                'architect': u'beckmannnthepe',
                'categories': [],
            },
            23: {
                'architect': u'eckertnegwersuselbeek',
                'categories': [],
            },
            24: {
                'architect': u'june14',
                'categories': [],
            },

            # Jacobystraße

            25: {
                'architect': u'schnitzlertalli',
                'categories': [],
            },
            26: {
                'architect': u'gies',
                'categories': [],
            },
            27: {
                'architect': u'naegeliarchitekten',
                'categories': [],
            },
            28: {
                'architect': u'temperaturasextremas',
                'categories': [],
            },

            # Arcostraße 9, 11

            29: {
                'architect': u'brunofiorettimarquez',
                'categories': [],
            },
            30: {
                'architect': u'cobe',
                'categories': [],
            },
            31: {
                'architect': u'fatkoehl',
                'categories': [],
            },
            32: {
                'architect': u'wiewiorrahoppschwark',
                'categories': [],
            },

            # Briesestraße 19, Kienitzer Str. 26

            33: {
                'architect': u'augustinfrank',
                'categories': [],
            },
            34: {
                'architect': u'belsozietaet',
                'categories': [],
            },
            35: {
                'architect': u'cityfoerster',
                'categories': [],
            },
            38: {
                'architect': u'ppag',
                'categories': [],
            },

            # Langhansstraße 27-29

            37: {
                'architect': u'bararchitekten',
                'categories': [],
            },
            39: {
                'architect': u'deadline',
                'categories': [],
            },
            36: {
                'architect': u'finkjocher',
                'categories': [],
            },
            40: {
                'architect': u'kadenklingbeil',
                'categories': [],
            },

            # Am Mühlenberg/Meraner Straße

            41: {
                'architect': u'duplex',
                'categories': [],
            },
            42: {
                'architect': u'ifaujeskofezer',
                'categories': [],
            },
            43: {
                'architect': u'baupiloten',
                'categories': [],
            },
            44: {
                'architect': u'03architekten',
                'categories': [],
            },

            # Wongrowitzer Steig 34/36

            45: {
                'architect': u'imkewoelk',
                'categories': [],
            },
            46: {
                'architect': u'janwiese',
                'categories': [],
            },
            47: {
                'architect': u'offsea',
                'categories': [],
            },

            # Elsastraße 40 / Oberseestraße 69, 71, 73

            48: {
                'architect': u'canalsmoneogps',
                'categories': [],
            },
            49: {
                'architect': u'dezwartehond',
                'categories': [],
            },
            50: {
                'architect': u'heraultarnod',
                'categories': [],
            },
            51: {
                'architect': u'vukojagoldinger',
                'categories': [],
            },
        }
        current = entwuerfe.get(c.page.id, None)
    %>
    %if current is not None and c.page.parent is not None and current['architect'] is not None:
    <div class="row">
        <div class="cell width-4 position-0">
            <h4>Grundstück</h4>
            <div>
                <img alt="" src="${h.logo_url(c.page.parent, 64, 64)}" style="border-radius: 50%; vertical-align: middle"/>
                    <a href="${h.entity_url(c.page.parent)}">${c.page.parent.title}</a>
            </div>
        </div>
        <div class="cell width-4 position-4">
            <h4>Architekturbüro</h4>
            <%
                from adhocracy.model import User
                architect = User.find(current['architect'])
            %>
            <p><a href="${h.entity_url(architect)}">${architect.name}</a></p>
        </div>
        <div class="cell width-4 position-8">
            <h4>Themen</h4>
            <%
                from adhocracy.model import CategoryBadge
                categories = CategoryBadge.all(instance=c.instance)
            %>
            <ul class="senat_icons">
                %for category in categories:
                <li>${components.senat_icon(category, highlight=category.id in current.get('categories', []), link=True)}</li>
                %endfor
            </ul>
        </div>
    </div>
    %endif

    <h3>${_('Norm')}</h3>
    <hr />

    <section class="subpage">
        <div class="body">
            ${c.variant_details['text']|n}

            <aside id="tutorial-actions">
                <ul class="flags">
                    %if c.page.allow_comment:
                    <li><a href="${h.entity_url(c.page, member='comments')}" rel="#overlay-url">${_(u'Comments') if h.comment.wording() else _(u'Discussions')} (${c.page.comment_count()})</a></li>
                    %endif
                    %if c.page.allow_selection:
                    <li><a href="${h.entity_url(c.page, member='amendment')}" rel="#overlay-url-big">${_(u'Amendments')} (${len(c.page.selections)})</a></li>
                    %endif
                </ul>
                <div class="utility">
                    %if c.variant_details['can_edit']:
                    <a href="${c.variant_details['edit_url']}" rel="#overlay-form" >${_(u"Edit")}</a>
                    %endif
                    %if can.page.delete(c.page):
                    <a href="${h.entity_url(c.page, member='ask_delete')}">${_(u"Delete")}</a>
                    %endif
                </div>
            </aside>
        </div>

        %for subpage in sorting.delegateable_title(c.page.subpages):
        ${section(subpage)}
        %endfor
    </section>

    %if can.page.create():
    <a class="button highlight" href="${h.base_url('/page/new', query_params={'section_parent': c.page.id})}">${_(u"Add section")}</a>
    %endif

    <%components:tutorial>
        <ol id="joyRideTipContent">
            <li data-id="tutorial-sectionpage"
                data-tip-location="top" class="custom">
                <p>${_('This norm has been split into several sections.')}</p>
            </li>
            <li data-id="tutorial-actions" data-next="${_(u'Close')}"
                data-tip-location="top" class="custom">
                <p>${_('You can propose amendments and comment each section individually by using the controls on the right.')}</p>
            </li>
        </ol>
    </%components:tutorial>
</%block>
