<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="sidebar_defs" file="/sidebar.html"/>
<%namespace name="state" file="/poll/state.html"/>
<% from adhocracy.lib import sorting %>
<%def name="title()">${c.page.title}</%def>

<%def name="breadcrumbs()">${h.text.breadcrumbs(c.text)|n}</%def>


<%block name="sidebar">

    %if c.page.has_variants:

    ${components.vertical_tabs(c.variant_items, 'paper_selection', current_variant=c.variant)}

    <div class="floatbox changes_switch" id="norm-diff-switcher"
         data-bind="css: {inactive: variants.current.is_head}">
        <span>${_("Highlight Changes")}</span>
        <div class="switch_buttons">
            <a class="button_small" 
               data-bind="css: {active: variants.switchDiff},
                          click: function () {variants.switchDiff(true)}"
               href="#">${_("On")}</a> 
            <a class="button_small" 
               data-bind="css: {active: !variants.switchDiff()},
                          click: function () {variants.switchDiff(false)}"
               href="#">${_("Off")}</a>
        </div>
    </div>

    <%doc>
    ## NOTE: This had a side-by-side diff view where you could
    ## NOTE: change the versions to compare. We could add that again.
    <div class="version_function">
        <a class="button" href="#">
            ${_("Compare Versions")}
        </a>
    </div>
    </%doc>

    %if can.proposal.create():
    ## FIXME: Button for unauth users
    <div class="version_function">
        <a id="new-proposal-button"
	   class="button highlight"
     href="${h.base_url('/proposal/new?page=%d'%c.page.id)}">
            ${_("New Proposal")}
        </a>
    </div>
    %endif

    %endif

    <h3>${_("Information about the norm")}</h3>
    <summary>
        ## Shortlink http://domain/d/1234
        ${sidebar_defs.shortlink(c.page)}

        <h6>${_('Last Activity')}</h6>
        <p><time>${h.datetime_tag(c.page.find_latest_comment_time())|n}</time></p>

        <h6>${_('Category')}</h6>
        <p>
          %if c.page.category:
          ${c.page.category}
          %else:
          ${_("This page is not assigned to any category")}
          %endif
        </p>

        %if c.page.milestone and c.instance.milestones:
        <h6>${_('Milestones')}</h6>
        <p>
            ${_("This norm relates to the milestone %s."
               ) % h.milestone.link(c.page.milestone)|n}
        </p>
        %endif
        %if len(c.page.subpages):
        %endif
        ## Fixme: Info zur Version
        ## <h6>Angelegt</h6>
        ## <p>von <a href="#">Timoteus</a> am 
        ## <time pubdate="pubdate">01.01.2011</time>, 
        ## setdem <a href="#">3 Änderungen</a>.</p>

    ${tiles.tag.sidebar(c.page)}

    %if len(c.page.subpages):
    <h6>${_('Subnorms')}</h6>
    <ol>
        %for page in sorting.delegateable_title(c.page.subpages):
        <li><a href="${h.entity_url(page)}">${page.title}</a></li>
        %endfor
    </ol>
    %endif
    </summary>

</section>

<% h.need.adhocracy_ko %>

    <script type="text/javascript">
        /* <![CDATA[ */
        var init_variant = ${c.variant_details_json|n}

        var viewModel = new adhocracy.ko.PaperModel()
        viewModel.variants.init(init_variant);
        //debugger;
        ko.applyBindings(viewModel);
        /* ]]> */
    </script>

</%block>

<%block name="main_content">

<script id="proposalTmpl" type="text/html">
    <h5 data-bind="text:proposal_title"></h5>
    <div data-bind="html: proposal_text"></div>
    <div class="comment_actions floatbox">
        <div class="utility">
            <span class="hover_active" style="display: none;">
                <!-- <a href="#">Link</a> ·  -->
                <a data-bind="attr: {href: proposal_url}">${_('View Proposal')}</a>
                </span>&nbsp;
        </div>
    </div>
</script>


        %if can.page.delete(c.page) and active != 'diff':
        <a class="button title delete"  
           href="${h.entity_url(c.page, member='ask_delete')}">
            ${_("delete")}
        </a>
        %endif

    <h2>${_("Norm: %s") % c.page.title}</h2>

<section>
    <div id="paper_box">
        <article>
            <div class="paper_header">
                <div class="utility">
                     <div id="norm-vote-widget"
                         data-bind="html:voteWidget">
                         %if c.current_variant_poll:
                         ${tiles.poll.widget(c.current_variant_poll, cls="big")}
                         %endif
                     </div>
                <h3 data-bind="text:variants.current.display_title">
                    ${c.variant_details['display_title']}
                </h3>
                <a href="${c.variant_details['edit_url']}"
                   style="${'display: none' if not c.variant_details['can_edit'] else ''}"
                   data-bind="attr: {href: variants.current.edit_url}">
                    ${_('edit')}
                </a>
                </div>
            </div>
            <div class="paper_text">
                <div data-bind="visible: variants.showPlain(),
                                html: variants.current.text">
                %if not c.variant_details['text']:
                ${_("No text.")}
                %else:
                ${c.variant_details['text']|n}
                %endif
                </div>
        
                <div data-bind="visible: variants.showDiff()">
                    <h4>${_("Text compared to the original version")}</h4>
                    <div data-bind="html: variants.current.text_diff">
                        ${c.variant_details['text_diff']|n}
                    </div>
                </div>
                %if c.text and c.text.text:
                ${components.social_share_buttons(c.variant)}
                %endif
                <div data-bind="visible: variants.current.history_count() > 1"
                     style="${'display: none' if c.variant_details['history_count'] > 1 else ''}">
                    <a rel="#overlay-ajax"
                       href="${c.variant_details['history_url']}"
                       data-bind="attr: {href: variants.current.history_url}">
                        ${_("History")}
                    </a>
                </div>
            </div>
        </article>
        <div class="paper_comments">
            <div class="paper ${'only-no-js' if c.variant_details else ''}" 
                 id="p1"
                 data-bind="css: {'only-no-js': variants.current.is_head}">
                <h4>${_("Proposal")}</h4>
                <div data-bind="template: {name: 'proposalTmpl', foreach: variants.current.selections}">
                </div>
                %if not c.variant_details['is_head']:
                <div class="only-no-js">
                    %for selection in c.variant_details['selections']:
                    <h5>${selection['proposal_title']}</h5>
                    <div>${selection['proposal_text']|n}</div>
                    <div class="comment_actions floatbox">
                        <div class="utility">
                            <span class="hover_active" style="display: none;">
                                <!-- <a href="#">Link</a> ·  -->
                                <a href="${selection['proposal_url']}">
                                    ${_("View Proposal")}
                                </a>
                                </span>&nbsp;
                        </div>
                    </div>
                    %endfor
                </div>
                %endif
            </div>

        </div>
    </div>
</section>


<%components:tutorial>
<ol id="joyRideTipContent">

    <li data-id="norm-vote-widget"
        data-tip-location="top" class="custom">
        <p>${_('tutorial_norm_show_vote')}</p>
    </li>

    <li data-id="norm-diff-switcher"
        data-tip-location="top" class="custom">
        <p>${_('tutorial_norm_show_diff')}</p>
    </li>

    <li data-id="new-proposal-button" data-next="${_('Close')}"
        data-tip-location="top" class="custom">
        <p>${_('tutorial_norm_show_new')}</p>
    </li>  

</ol>
</%components:tutorial>

</%block>
