<html>
<head>
	<title>About Adhocracy</title>
</head>
<body>
	<p>
	While democracy as a form of governance is often credited with 
	<b>creating very complex and well discussed decisions</b>, it is not 
	generally considered to be terribly efficient. Decision-making 
	is sluggish at best and once a decision is made, improving the 
	decisions is hard and often frowned upon.
	</p>
	<p>
	This is especially true for direct democracies, where decisions
	aren't made by representatives but by the people 
	themselves.  
	</p>
	<p>
	<b>Adhocracy</b> uses social technologies to change the rules for 
	democracy: it makes democratic decisions as easy as editing a wiki, 
	as fast as twitter and as flexible as the net itself.
	</p>
	<img src="/img/about_page.png" alt="Graph Democracy, Yay!" />
	<p>
	This means that <b>democracy becomes a feasible mode of decision-making</b> 
	for groups that couldn't have it before. Anyone can open an Adhocracy
	in just a few moments.
	</p>
	<p>
	There, members can propose a problem solution or a piece of 
	regulation for the group in just a few instants and get the whole group
	to discuss, develop and approve their idea. This adds <b>direct 
	legitimation</b> to all decisions, giving them both internal and external 
	credence.	 
	</p>
</body>
</html>