<html>
<head>
	<title>Imprint</title>
</head>
<body>
	
	<h3>Contact</h3>
	<p>
	Web: <a href="http://trac.adhocracy.de">development site</a>
	Mail: support@adhocracy.cc<br/>
	Twitter: <a href="http://twitter.com/pudo">@adhocracy_cc</a>
	</p>
	
	<h3>Hyperlinks</h3>
	<p>
	This website contains links to third party web pages, which are not under 
	control of Adhocracy. Therefore we are not responsible for any linked site. 
	Upon the time of linking, we have carefully examined the external pages and 
	could not find any illegitimate contents.
	</p>
	
	<h3>Content</h3>
	<p>
	Adhocracy does not assume liability nor warranty for the correctness, 
	completeness, quality or topicality of the provided information. Of course 
	we examine the provided information regularly and update these in case of 
	innovation or change. We reserve the right to accomplish additions or 
	revisions of the available information at any time.
	</p>
	
	<h3>ViSdP</h3>
	<p>Adhocracy is a non-profit site operated by:</p> 
	
	<p>
	<a href="http://pudo.org/">Friedrich Lindenberg</a><br/>
	Rotenweg 8<br/>
	79199 Kirchzarten<br/>
	Twitter: <a href="http://twitter.com/pudo">@pudo</a>
	</p>
	
	<h3>Licensing</h3>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">
	<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/de/88x31.png" /></a>
	<p>
	<span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">Adhocracy</span> content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">Creative Commons Attribution-Share Alike 3.0 Germany License</a>.
	
	The Adhocracy codebase is licensed unter a liberal BSD-style license and can be retrieved at the <a href="http://trac.adhocracy.de">development site</a>. 
	</p>
</body>
</html>