/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

/**
 * Map Examples Specific
 */
.small_map {
    width: 285px;
    height: 285px;
    border: 1px solid #ccc;
}
.edit_map {
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
}

.proposal_popup_title {
    color: green;
}

