<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Report abuse")}</%def>

<%def name="breadcrumbs()">
    ${h.instance.breadcrumbs(c.instance)|n} ${_("Report abuse")}
</%def>

<%block name="headline">
    <h1 class="page_title">${_("Report abuse")}</h1>
    <p>${_("Thank you for helping.")}</p>
</%block>

<%block name="main_content">
<form name="report_abuse" class="inplace" method="POST" action="/abuse/report">
    ${h.field_token()|n}
    
        <strong>${_("Link:")}</strong> <a href="${c.url}">${c.url}</a><br/><br/>
        <input type="hidden" name="url" value="${c.url}" />
        
        <textarea tabindex="1" class="description" name="message" placeholder="${_('Reason to report this page...')}"></textarea>

        ${components.savebox(c.url, save_text=_("Send"))}
</form>

</%block>

