##############################################################################
#  testrecorder, an old tool to create integration tests
##############################################################################

[buildout]
extends =
# we need zope only to make zope.testrecorder run, if you have problems, just delete it
    http://good-py.appspot.com/release/zope/2.13.12

parts +=
    instance
    testrecorder

##############################################################################
# Testbrowser recorder
##############################################################################

[instance]
recipe = plone.recipe.zope2instance
user = test:test
http-address = 8088
eggs =
  zope.testrecorder
zcml =
  zope.testrecorder

[testrecorder]
# start your local adhocracy server
# run bin/testrecorder_start to open you browser
# submit the local adhocracy server url
# record a use_case/acceptance test run - http://plone.org/documentation/kb/testing/zope-testrecorder
recipe = plone.recipe.command
command = echo 'xdg-open "http:localhost:${instance:http-address}/++resource++recorder/index.html"' > bin/testrecorder.sh
          chmod a+x bin/testrecorder.sh
