<%inherit file="/template.html" />

<%def name="title()">
    ${c.static.title}
</%def>

<%def name="breadcrumbs()">
    ${h.staticpage.breadcrumbs(c.static)|n}
</%def>

<%block name="main_content">

%if c.static.nav:
    <nav id="static_nav">${h.literal(c.static.nav)}</nav>
%endif

<div id="static_content" class="${" ".join(c.static.css_classes)}">
%if h.staticpage.can_edit():
	<a class="button staticpage_edit" href="${h.entity_url(c.static)}">${_('Edit this page')}</a>
%endif
<h1 class="page_title">${c.static.title}</h1>
%if c.static.description:
<p class="page_description">
    ${c.static.description}
</p>
%endif
<div class="doc mainbar">
    ${c.body_html|n}
</div>
</div>

%if c.static.column_right:
<aside id="static_sidebar">
    ${h.literal(c.static.column_right)}
<aside>
%endif

</%block>
