<%inherit file="/template.html" />

<%def name="title()">
    ${c.static.title|n}
</%def>


<%def name="breadcrumbs()">
    ${h.staticpage.breadcrumbs(c.static)|n}
</%def>


<%block name="main">
<div class="static_wrapper">
    <div class="full_teaser">
        %if c.static.nav:
        <nav id="static_nav">${h.literal(c.static.nav)}</nav>
        %endif

        %if h.staticpage.can_edit():
        <a class="button staticpage_edit" href="/static/edit/${c.static.lang}/${c.static.key}">${_('Edit this page')}</a>
        %endif
    </div>

    %if not c.full_width:
    <div id="col1">
    %endif
        <h2 class="page_title">${c.static.title}</h2>

        %if c.static.description:
        <p class="page_description">${c.static.description}</p>
        %endif

        <div class="doc mainbar">
            ${c.body_html|n}
        </div>
    %if not c.full_width:
    </div>

    <aside id="col3">
        <div id="sidebar">
            %if c.static.column_right:
            ${h.literal(c.static.column_right)}
            %endif
        </div>
    </aside>
    %endif
</div>
</%block>
