<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="t" file="/comment/tiles.html"/>
<%def name="title()">${_("New comment")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance)|n} &raquo; ${_("New comment")}
</%def>

<h1>${_("Comment on: %s") % h.delegateable_link(c.topic, icon_size=24)|n}</h1>

<div class="sidebar">&nbsp;</div>
<div class="mainbar">
	${tiles.comment.full(c.reply, recurse=False, collapse=False, link_discussion=False)}
	
	${t.create_form(None, None)}
</div>