<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="t" file="/comment/tiles.html"/>
<%def name="title()">${_("Edit comment")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.comment.topic)|n} &raquo; ${_("Edit comment")}
</%def>

<h1 class="page_title">${_("Comment on: %s") % h.delegateable_link(c.comment.topic, icon_size=24)|n}</h1>

<div class="sidebar">&nbsp;</div>
<div class="mainbar">
	%if c.comment.reply:
		${tiles.comment.full(c.comment.reply, recurse=False, collapse=False, link_discussion=False)}
	%endif
	

	${t.edit_form(c.comment)}
</div>



