<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Comment History")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.comment.topic)|n} &raquo; ${_("Comment History")}
</%def>

<div class="top_actions title">
	${components.watch(c.comment)}
</div>

<h1 class="page_title"><img src="/img/icons/discuss_24.png" class="cd" /> ${_("Comment History")}</h1>

<div class="sidebar">
	&nbsp;
</div>
<div class="mainbar">
	<div class="table">
		<div id="tile_c${c.comment.id}">
			${c.revisions_pager.here()}
		</div>
	</div>
</div>
