<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Comment History")}</%def>

<%def name="breadcrumbs()">
    ${h.delegateable.breadcrumbs(c.comment.topic)|n} &raquo; ${_("Comment History")}
</%def>

<%block name="headline">
${tiles.comment.header(c.comment, active='history')}
</%block>

<%block name="main_content">
    <div class="table">
        <div id="tile_c${c.comment.id}">
            ${c.revisions_pager.here()}
        </div>
    </div>
</%block>

