<%namespace name="comment_tiles" file="/comment/tiles.html"/>

<%def name="row(tile, revision)">
	<div class="tile">
		<div class="rev_index">${tile.index}</div>
		${h.user_link(revision.user, scope=revision.comment.topic)|n}
		&middot; ${_("created %s") % h.relative_time(revision.create_time)|n}
		
		<div class="meta" style="clear: none;">
			&nbsp;
		
			%if tile.can_revert:
				<a href="/comment/${revision.comment.id}/revert?${h.url_token()}&to=${revision.id}">${_("revert here")}</a>
			%endif
			
			%if tile.is_latest:
				<a href="/comment/r/${revision.comment.id}">${_("view comment")}</a> 
				%if tile.can_edit:
					&middot; <a href="/comment/edit/${revision.comment.id}" onClick="return comment_edit(${revision.comment.id})" >${_("edit")}</a>
				%endif
			%endif
		</div>
	</div>
	
	
	<div class="headrev">
		%if tile.is_latest and tile.can_edit:
			<div class="edit_form">
				${comment_tiles.edit_form(revision.comment)}
			</div>
		%endif
		%if tile.is_latest:
		<div class="hide_edit">
		%endif
			<div class="text">
				${tile.diff_text|n}
			</div>
		%if tile.is_latest:
		</div>
		%endif
	</div>
</%def>