<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Comment")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.comment.topic)|n} &raquo; ${_("Comment")}
</%def>

<div class="top_actions title">
	${components.watch(c.comment, '/comment/%s' % str(c.comment.id))}
</div>

<h1 class="page_title"><img src="/img/icons/discuss_24.png" class="cd" /> ${_("Discussion on %s") % ("<a href='/d/%s'>%s</a>" % (c.comment.topic.id, c.comment.topic.label))|n}</h1>

<div class="mainbar">
	${tiles.comment.full(c.comment)}
</div>
