<%namespace name="components" file="/components.html"/>


<%def name="row(tile, comment)">
	<div class="tile">
		<div class="logo">
			<img src="/img/icons/discuss_24.png" />
		</div>
		<div class="base">
			%if len(tile.tagline):
				<h3><a href="${h.entity_url(comment)}">${_("Comment")}</a> 
					${_("on %s") % h.delegateable_link(comment.topic)|n}</h3>
			%endif
			<div class="text">
				${tile.tagline|n}
			</div>
			<div class="meta">
				${h.user_link(comment.creator, scope=comment.topic)|n}
				%if len(comment.revisions) == 1:  
					&middot; ${_("created %s") % h.relative_time(comment.create_time)|n}
				%else:
					&middot; ${_("edited %s") % h.relative_time(comment.latest.create_time)|n}
				%endif  	
			</div>
		</div>
	</div>
</%def>

<%def name="full(tile, comment, recurse=True, collapse=True, link_discussion=False)">
	<%	
	if not tile.show:
		return
	%>
	<div class="comment" id="c${comment.id}">
		<div class="tile ${'canonical' if comment.canonical else ''} ${tile.position}" id="tile_c${comment.id}">
			<div class="logo rate">
				%if tile.can_rate:
					<a class="up" href="${h.entity_url(comment.poll, member='vote')}?_method=POST&position=1&${h.url_token()}" 
						onclick="return comment_rate(${comment.id}, ${comment.poll.id}, 1);">
						&nbsp;
					</a>
					<span class="score">${tile.score}</span>
					<a class="down" href="${h.entity_url(comment.poll, member='vote')}?_method=POST&position=-1&${h.url_token()}" 
						onclick="return comment_rate(${comment.id}, ${comment.poll.id}, -1);">
						&nbsp;
					</a>
				%else:
					<a class="up inactive">&nbsp;</a>
					<span class="score">${tile.score}</span>
					<a class="down inactive">&nbsp;</a>
				%endif
			</div>
			
			<div class="base">
			<div class="pre">
				<div class="top_actions comment">				
					%if tile.can_edit:
						<a class="button edit" onClick="return comment_edit(${comment.id})" href="${h.entity_url(comment, member='edit')}">${_("edit")}</a> 
					%endif
									
					%if tile.can_delete:
						<a class="button delete" href="/comment/${comment.id}?_method=DELETE&${h.url_token()}">${_("delete")}</a> 
					%endif
								
					%if tile.can_reply and (recurse or link_discussion):
						<a class="button add reply" onClick="return comment_reply(${comment.id})" href="/comment/create?reply=${comment.id}&topic=${comment.topic.id}">${_("reply")}</a>
					%endif 
					
					%if collapse:
						<a class="button delete hide" onclick="return comment_hide(${comment.id})" href="#">-</a>
						<a class="button add show" onclick="return comment_show(${comment.id})" href="#">+</a>
					%endif
										
					%if link_discussion and tile.num_children:
						<a class="button add reply" onclick="return comment_link_discussion(${comment.id})" href="/comment/${comment.id}">${_("discussion")} (${tile.num_children}) &raquo;</a>
					%endif
				</div>
				
				
				%if comment.is_deleted():
					${_("deleted %s") % h.relative_time(comment.delete_time)|n}
				%else:
					<b>${h.user_link(comment.creator, scope=comment.topic)|n}</b>
					%if not comment.is_edited(): 
						&middot; ${_("%s") % h.relative_time(comment.create_time)|n}
					%else:
						&middot;
						%if comment.latest.user == comment.creator:
							${_("edited %s") % h.relative_time(comment.latest.create_time)|n}
						%else:
						 	${_("edited %s by %s") % (h.relative_time(comment.latest.create_time),
								               			   h.user_link(comment.latest.user, scope=comment.topic))|n}
						%endif 	
						(<a href="${h.entity_url(comment, member='history')}">${_("history")}</a>)
					%endif
				%endif
				
				<a name="c${comment.id}">&nbsp;</a>
			</div>
			<div class="text hide_edit">
				%if not comment.is_deleted():
					${tile.text|n}
				%else:
					<span class="hint">${_("This comment has been deleted.")}</span>
				%endif
			</div>
			
			<div class="edit_form">
				${self.edit_form(comment)}
			</div>
			<div class="reply_form sub ${'base_reply' if reply_here else ''}">
				${self.create_form(comment, comment.topic)}
			</div>
			</div>
		</div>
		%if recurse or link_discussion:
			<div class="sub ${'link_discussion' if link_discussion else ''}">
				%for r_comment, r_tile in tile.replies():
					${self.full(r_tile, r_comment, collapse=collapse)}
				%endfor
			</div>
		%endif
	</div>
</%def>

<%def name="edit_form(comment)">
	<form name="edit_comment" class="inplace" method="POST" action="/comment/${comment.id}">
		${h.field_token()|n}
		<textarea tabindex="2" class="description" style="min-height: ${max(7, min(30, len(comment.latest.text)/50))}em !important;" name="text">${comment.latest.text}</textarea>
		<input type="hidden" name="_method" value="PUT" />
		${components.formatting()}
		${components.savebox("/d/%s" % comment.topic.id)}
		${components.form_watch(comment)}
	</form>
</%def>

<%def name="create_form(parent, topic, canonical=0)">
	<form name="create_comment" class="inplace" method="POST" action="/comment">
		${h.field_token()|n}
		<input type="hidden" name="topic" 
			value="${topic.id if topic else request.params.get('topic')}" />
		<input type="hidden" name="reply" 
			value="${parent.id if parent else request.params.get('reply')}" />
		<input type="hidden" name="canonical" 
			value="${request.params.get('canonical', canonical)}" />
		<div style="width: auto;"> 
		<textarea tabindex="2" class="description" name="text"></textarea><br/>
		${components.formatting()}
		${components.savebox("/d/%s" % parent.topic.id if parent else request.params.get('topic'))}
		${components.form_watch(None)}
		</div>
	</form>
</%def>
