.styleguide-nav ul {
    display: block;
    margin: 0;
    list-style: none;
}
.styleguide-nav li {
    display: inline-block;
}
.styleguide-nav a {
    display: inline-block;
    padding: 0.5em;
}
.styleguide-nav a:hover,
.styleguide-nav a:focus,
.styleguide-nav a:active {
    background-color: #f6f6f6;
    text-decoration: none;
}

.styleguide-page-nav {
    position: fixed;
    right: -11em;
    top: 0;
    min-width: 12em;
    height: 100vh;
    overflow-y: auto;
    z-index: 1;

    list-style: none;
    margin: 0;
    padding: 1em 0;

    border-left: 1px solid silver;
    background-color: white;
    transition: right 0.2s;
}
.styleguide-page-nav:hover {
    right: 0;
}
.styleguide-page-nav a {
    display: block;
    padding: 0.2em 1.5em;
}
.styleguide-page-nav a:hover,
.styleguide-page-nav a:focus {
    background: #eee;
    text-decoration: none;
}

.styleguide .codeExample {
    border: 1px solid silver;
    border-radius: 0.5em;
    overflow: hidden;
}
.styleguide .codeExample .exampleOutput {
    border-bottom: 1px solid silver;
    padding: 1em;
}
.styleguide .codeExample .codeBlock pre {
    margin: 0;
    padding: 1em;
    border: none;
}

.styleguide .components h1 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid silver;
}
.styleguide .components h1:not(:first-of-type) {
    margin-top: 3em;
}

#header {
    overflow: hidden;
}
#footer {
    text-align: center;
}
