<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_(u'Validate email address')}</%def>

<%def name="breadcrumbs()">
    ${h.instance.breadcrumbs(c.page_user)|n} ${_(u'Validate email address')}
</%def>

<%block name="headline">
<h3>${_(u'Validate email address')}</h3>
</%block>

<%block name="main_content">
<form name="ask_activate" class="inplace" method="GET"
    action="${h.user.activation_url()}">
    ${h.field_token()|n}
    <input type="hidden" name="came_from" value="${c.came_from}" />

    <p>${_(u'You have not yet validated your email address.')}</p>
    <p>${_(u'An email with a validation link has been sent to your email address (%s) right after registration. Please follow that link in order to proceed.' % c.user.email)}</p>
    <p>${_(u'If you click on the button below, the validation link will be resent to you.')}</p>

    ${components.savebox(cancel_url=None, save_text=u'Resend activation link')}
</form>
</%block>
