<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="badge_tiles" file="/badge/tiles.html"/>
<%def name="title()">${_("Edit Badges for %s") % c.page_user.name|n}</%def>

<%def name="breadcrumbs()">
${h.user.breadcrumbs(c.page_user)|n} &raquo; ${_("Edit Badges")}
</%def>


<%block name="main_content">
<h2>${_('Badges for %s') % c.page_user.user_name}</h2>
<form name="settings" class="inplace" method="POST"
    action="${h.entity_url(c.page_user, instance=c.instance, member='badges')}">

    ${h.field_token()|n}
    <h3>${_(u"Badges")}</h3>

    ${badge_tiles.select_form(c.badges, _('Global Badges'), _('No badges'), 'badge')}
    %if c.instance:
    ${badge_tiles.select_form(c.instance_badges, _("Badges in instance %s") % c.instance.label, _('No badges'), 'badge')}
    %endif

    ${components.savebox(h.base_url("/user/%s" % c.page_user.user_name))}

</form>
</%block>
