<%namespace name="components" file="/components.html"
/><%inherit file="/template.html" />



<%block name="headline">
<h1 id="title">${_("Startpage")}</h1>
</%block>

<%block name="infoboxes">
    %if c.fresh_logged_in or not c.page_user.instances:
    <%components:build_infobox>
    
        <p>
            ${_('Hi %s.') % c.user.name}<br />
 
        %if not c.page_user.instances:
            %if c.instance:
            ${_('Start by reading some <b><a href="%s">proposals</a></b> or <b><a href="%s">norms</a></b>. Or take a look at some of the other <b><a href="%s">instances</a></b>.') % (h.base_url("/proposals"), h.base_url("/norms"), h.base_url('/instance', None))|n}
            %else:
            ${_('Start by exploring the <b><a href="%s">instances</a></b> and read some of the proposals and norms in the instances.') % h.base_url('/instance', None) |n}
            %endif
            ${_('If you join an instance, norms and proposals of the instance will be shown on your dashboard.')}
            ${_('You can reach your dashboard anytime by clicking on your user name on the top of the page.')}
        %else:
            ${_('This is your Dashboard. Here you can find the list of instances your a member in, norms and proposals from these instance and a list of the pages you follow.')}
            ${_('You can reach your dashboard anytime by clicking on your user name on the top of the page.')}
        %endif
        </p>
        %if c.came_from:
        <p>
            ${_('You can also return to the <a href="%s">Page you came from</a>.') % c.came_from | n}
        </p>
        %endif
    </%components:build_infobox>
    %endif
</%block>

<%block name="main_content">
<section>
    <h2>${_("Proposals in your instances")}</h2>
    ${c.proposals_pager.here()}
    <p>
    % if c.proposals:
      <a title="${_('List all proposals')}" class="icon_link more view_all"
         id="proposals_show_all"
         href="${h.entity_url(c.page_user, member='dashboard_proposals')}">
      ${_('list all')}
      </a>
    % endif
    </p>
</section>
%if c.show_pages:
<section>
    <h2 id="norms_listing">${_("Norms in your instances")}</h2>
    ${c.pages_pager.here()}
    <p>
    % if c.pages:
      <a title="${_("List all pages")}" class="icon_link more view_all"
        href="${h.entity_url(c.page_user, member='dashboard_pages')}">${_("list all")}
      </a>        
    % endif
    </p>
</section>
%endif

<%components:tutorial>
<ol id="joyRideTipContent">

    <li data-id="user_menu"
        data-tip-location="bottom right" class="custom">
        <p>${_('tutorial_dashboard_username')}</p>
    </li>

    <li data-id="norms_listing"
        data-tip-location="top" class="custom">
        <p>${_('tutorial_dashboard_proposals')}</p>
    </li>

    <li data-id="proposals_show_all"
        data-tip-location="" class="custom">
        <p>${_('tutorial_dashboard_show_all')}</p>
    </li>

    <li data-id="instance_list"
        data-tip-location="top right" class="custom">
        <p>${_('tutorial_dashboard_instances')}</p>
    </li>

    <li data-id="watchlist" data-next="${_('Close')}"
        data-tip-location="top right" class="custom">
        <p>${_('tutorial_dashboard_watchlist')}</p>
    </li>

</ol>
</%components:tutorial>

</%block>

<%block name="sidebar">
<section>
  <h3 id="instance_list">${_("Your Instances")}</h3>
    <ul>
    %for instance in c.page_user.instances:
      <li>
         <a title="${instance.label}" 
            href="${h.entity_url(instance)}">${instance.label}
        </a>
      </li>
    %endfor   
    </ul>
</section>
<section>
  <h3 id="watchlist">${_("Your Watchlist")}</h3>
    ${c.watchlist_pager.here()}
</section>
% if c.polls:
  <section>
    <h3>${_("Current polls in your instances")}</h3>
      ${c.polls_pager.here()}
  </section>
% endif
</%block>
    
