<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Adhocracies: %s") % c.page_user.name}</%def>

<%def name="breadcrumbs()">
    ${h.user.breadcrumbs(c.page_user)|n} &raquo; ${_("Adhocracies")}
</%def>

<%block name="headline">
<div class="full_teaser2">
    <h1>${c.page_user.user_name}</h1>
    <p>${_("%s is a member in these Adhocracies") % c.page_user.name}</p>
</div>
</%block>


<%block name="main_content">

<!-- FIXME: Adhocracies - your kidding ;) -->

<div class="table">
    ${c.instances_pager.here()}
</div>

</%block>
