<%
from urllib import urlencode

came_from = request.params.get('came_from', '')
query_string = ''
if came_from:
    query_string = '?%s' % urlencode({'came_from': came_from.encode('utf-8')})
    
login_titleandtype = h.allowed_login_types()
if 'username+password' in login_titleandtype and 'email+password' in login_titleandtype:
    field_title = _('Email or username:')
    field_type = 'text'
else:
    field_title = _('Login:')
    field_type =  'text'
    if 'email+password' in login_titleandtype and \
            'username+password' not in login_titleandtype:
        field_title = _('Email:')
        field_type = 'email'
%>
<div class="form_wrapper">
  <form name="login" method="POST" action="/perform_login">
    <div class="input_wrapper">
      <label>${field_title}
        <input type="${field_type}" name="login" autofocus="autofocus" />
      </label>
    </div>
    <div class="input_wrapper">
      <label>${_("Password:")}
        <input type="password" name="password" />
        <a href="/reset" class="password-reset-link">${('Forgot your password?')}</a>
      </label>
    </div>
    <div class="input_wrapper submit">        
      <input type="submit" value="${_('Login')}" />
    %if h.allow_user_registration():
        ${_("or")} 
        <a href="/register${query_string}" class="icon_link more_uppercase">
            ${_("Register new account")|n}</a>
    %endif
    </div>
  </form>
  <script>
      $('input[name=login]').focus();
  </script>
  %if 'openid' in login_titleandtype:
      <%
      c.openid_scenario = "login"
      %>
      <%include file="/openid/form.html"/>
  %endif
</div>
