<%inherit file="/template.html" />
<%def name="title()">${_("Password reset")}</%def>

<%block name="headline">
<h1 class="page_title">${_("Password reset")}</h1>
<p>${_("You will be sent an activation link that, when opened, will cause the system to email you a new password.")}</p>
</%block>

<%block name="main_content">
<form name="settings" class="inplace" method="POST" action="/reset">
    ${h.field_token()|n}
    <div class="mainbar">
        ${_("In order to retrieve your login, you will have to enter your email address.")}
        <br/><br/>  
        <label for="email">${_("E-Mail:")}</label>
        <input name="email" />
        
        <br/>
        <input type="submit" value="${_('Reset')}" />
    </div>
</form>
</%block>
