<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("New issue")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance)|n} &raquo; ${_("New issue")}
</%def>

<%def name="contextbox()">
	${catlist.contextselect(type="checkbox", root=False)}
</%def>


<form name="create_issue" class="inplace" method="POST" action="/issue/create">
	${h.field_token()|n}
	<div class="page_title">
		<label for="label" class="armhint">${_("New issue")}</label>
		<input tabindex="1" class="title armlabel" name="label" />
	</div>
	
	<h3>${_("Description")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("Describe the issue. Try to outline the problem that needs to be " + 
			    "solved.")} 
		</div>
	</div>
	<div class="mainbar">
		<textarea tabindex="2" class="description" name="text"></textarea>
		${components.formatting()}
	</div>
	
	<div style="clear: both;"></div>
	${components.savebox("/instance/%s" % c.instance.key)}
	${components.form_watch(None)}
</form>