<%inherit file="/template.html" />
<%namespace name="catlist" file="/category/tree.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("New issue")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance.root)|n} &raquo; ${_("New issue")}
</%def>

<%def name="contextbox()">
	${catlist.contextselect(type="checkbox", root=False)}
</%def>


<form name="create_issue" class="inplace" method="POST" action="/issue/create">
	${h.field_token()|n}
	<div class="page_title">
		<label for="label" class="armhint">${_("New issue")}</label>
		<input tabindex="1" class="title armlabel" name="label" />
	</div>
	
	<div class="sidebar">
		${catlist.contextselect(type="checkbox", root=False)}
	</div>
	
	<div class="mainbar">
		<h3>${_("Issue description:")}</h3>
		<textarea tabindex="2" class="description" name="text"></textarea>
		${components.formatting()}
		${components.savebox("/category/%s" % request.params.get('cat', c.instance.root.id))}
	</div>
	
</form>