<%inherit file="/template.html" />
<%namespace name="catlist" file="/category/tree.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Edit %s") % c.issue.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.issue)|n} &raquo; ${_("Edit")}
</%def>

<form name="edit_issue" class="inplace" method="POST" action="/issue/edit/${c.issue.id}">
	${h.field_token()|n}
	<div class="page_title">
		<label for="label" class="armhint">${_("Issue Title")}</label>
		<input tabindex="1" class="title armlabel" name="label" value="${c.issue.label}"/>
	</div>
	
	
	<h3>${_("Categorization")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("Select the categories in which the issue needs to be listed.")}
		</div>
	</div>
	<div class="mainbar">
		${catlist.contextselect(type="checkbox", sels=c.issue.parents, root=False)}
	</div>
	
	<div style="clear: both;"></div>
	${components.savebox("/issue/%s" % c.issue.id)}
	${components.form_watch(c.issue)}
</form>