<%namespace name="components" file="/components.html"/>

<%def name="row(tile, issue)">
	<div class="tile">
		<div class="logo">
			<img src="/img/icons/issue_32.png" />
		</div>
		<div class="base">
			<h3><a class="link" href="${h.instance_url(issue.instance, path='/issue/%s' % issue.id)}">${issue.label}</a></h3>
			<!-- div class="text">
			%if len(tile.tagline):
				${tile.tagline}
			%endif
			</div -->
			<div class="meta noclear">
				<!-- 
				${_("created %s by %s") % (h.relative_time(issue.create_time), h.user_link(issue.creator, scope=issue))|n}
				 <br />
				 -->
				<img src="/img/icons/proposal_16.png" /> 
				${ungettext("%s proposal", "%s proposals", len(issue.proposals)) % len(issue.proposals)}
				&middot;
				<img src="/img/icons/discuss_16.png" /> 
				${ungettext("%s comment", "%s comments", issue.comment_count()) % issue.comment_count()},
				${_("latest <b>%s</b>") % h.relative_time(tile.latest_revision_time)|n}&nbsp;
			</div>
		</div>
	</div>
</%def>


<%def name="header(tile, issue, active)">
	<div class="top_actions title">
		%if tile.can_create_proposal:
			<a class="button add" href="/proposal/new?issue=${issue.id}">${_("new proposal")}</a>
		%endif	
		
		%if tile.can_delegate and not tile.has_overridden:
			<a class="button add" href="/delegation/new?scope=${issue.id}">${_("delegate")}</a>
		%endif
		
		%if tile.can_edit:
			<a class="button edit" href="/issue/${issue.id}/edit">${_("edit")}</a>
		%endif
					
		%if tile.can_delete:
			<a class="button delete" href="/issue/${issue.id}/delete?_method=DELETE&${h.url_token()}">${_("delete")}</a>
		%endif
		
		${components.watch(issue, '/issue/%s' % str(issue.id))}
		<a href="/issue/${issue.id}.rss" class="button edit"><img src='/img/rss.png' /> ${_("subscribe")}</a>
	</div>
	
	<h1 class="page_title"><img src="/img/icons/issue_24.png" class="cd" /> ${issue.label}</h1>
	
	<div class="panel ${active}">
		<div class="menu">
			<a href="/issue/${issue.id}/activity" class="activity">${_("Activity")}</a>
			<a href="/issue/${issue.id}/discussion" class="discussion">${_("Discussion")} (${issue.comment_count(recurse=False)})</a>
			<span class="submenu">
				<a href="/issue/${issue.id}/proposals" class="proposals">${_("Proposals")} (${len(issue.proposals)}) 
					<img src="/img/arrows/panel_expand.png" /></a>
				<ul>
				%for proposal in issue.proposals[:10]:
					<li>${h.delegateable_link(proposal)|n}</li>
				%endfor
				</ul>
			</span>
			<a href="/issue/${issue.id}/delegations" class="delegations">${_("Delegations")} (${len(issue.current_delegations())})</a>
		</div>
		<div class="info">
			<div class="meta">
				${h.user_link(issue.creator, scope=issue)|n} 
				&middot; ${h.relative_time(issue.create_time)|n}
			</div>
		</div>
	</div>
</%def>
