<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Leave")}</%def>

<%def name="breadcrumbs()">
    ${h.instance.breadcrumbs(c.page_instance)|n} ${_("Leave")}
</%def>

<%block name="headline">
</%block>

<%block name="main_content">
<form name="ask_delete" class="inplace" method="POST" 
    action="${h.entity_url(c.page_instance, member='leave')}">
    ${h.field_token()|n}
    <div class="sidebar"></div>
    <div class="mainbar">
        <div class="warning_box">
            ${_("Are you sure you want to leave this instance? You will no longer be able to write contributions or to vote.")|n}
        </div>
        <div class="input_wrapper submit">
            <input type="submit" class="delete" value="${_('Confirm')}" />
        </div>
    </div>
</form>
</%block>
