<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("New Adhocracy")}</%def>

<%def name="breadcrumbs()">
	${_("New Adhocracy")}
</%def>

<form name="create_instance" class="inplace" method="POST" action="/instance/create">
	${h.field_token()|n}
	<div id="page_title">
		<label for="label" class="armhint">${_("New Adhocracy")}</label>
		<input tabindex="1" class="title armlabel" name="label" />
	</div>
	
	
	<h3>${_("Adhocracy address")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("The address may only contain alpha-numeric characters. Please note " +
			    "that this key cannot be changed after the Adhocracy has been created.")|n}
		</div>
	</div>
	<div class="mainbar">
		http://<input tabindex="2" class="" style="text-align: right;" name="key" />.${request.environ['adhocracy.active.domain']}
	</div>
	
	<div style="clear: both;"></div>	
	<h3>${_("Description")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("Describe what the goals of this Adhocracy are and who constitutes " +
			    "its community.")} 
		</div>
	</div>
	<div class="mainbar">
		<textarea tabindex="2" class="description" name="description"></textarea>
		${components.formatting()}
	</div>
	<div style="clear: both;"></div>
	${components.savebox("/adhocracies")}
</form>