<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Instances")}</%def>

<%def name="breadcrumbs()">
	${h.site_name()} &raquo; ${_("Instances")} 
</%def>


<div class="top_actions title">
	%if h.has_permission("instance.create"):
		<a class="button title add" href="/instance/new">${_("new instance")}</a>
	%endif 
</div>

<h1 class="page_title">${_("Instances")}</h1>

<div class="sidebar">
	<div class="infobox">
		${_("Instances are little democracies that are ran by their community.")}
	</div>
	<h3 class="help">${_("Help")}</h3>
	<ul>
		<li><a href="/static/instance_faq.html#whatis">${_("What is an instance?")}</a></li>
		<li><a href="/static/instance_faq.html#whenmake">${_("When should I create an instance?")}</a></li>
		<li><a href="/static/instance_faq.html#howmake">${_("How can I create an instance?")}</a></li>
		<li><a href="/static/instance_faq.html">${_("More help...")}</a></li>
	</ul>
</div>

<div class="mainbar">
	<div class="table">
		${c.instances_pager.here()}
	</div>
</div>