<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Adhocracies")}</%def>

<%def name="breadcrumbs()">
</%def>



<a class="button title add" href="/instance/create">${_("new")}</a> 

<h1 class="page_title">${_("Adhocracies")}</h1>

<div class="sidebar">
	<div class="infobox">
		${_("Adhocracies are little democracies that are ran by their community.")}
	</div>
	&nbsp;
</div>

<div class="mainbar">
	<div class="table">
		${c.instances_pager.here()}
	</div>
</div>