<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Home")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.page_instance)|n} &raquo; ${_("Home")}
</%def>

${tiles.instance.header(c.page_instance, active='rules')}


<div class="sidebar">
	<h3 class="section">${_("Topics")}</h3>
	${tiles.tag.cloud(c.tags)}
	
	<h3 class="help">${_("Help")}</h3>
	<p>${_("There are help pages on several help topics:")}</p>
	<ul>
		<li><a href="/static/about.html">${_("General intro")}</a> ${_("on Liquid Democracy")}</li>
		<li><a href="/static/proposal_faq.html">${_("Proposals")}</a> ${_("(ideas for debate)")}</li>
		<li><a href="/static/tag_faq.html">${_("Tags")}</a> ${_("(keywords)")}</li>
		%if c.page_instance.allow_delegate:
			<li><a href="/static/delegation_faq.html">${_("Delegation")}</a> ${_("of voting rights")}</li>
		%endif
		<li><a href="/static/notification_faq.html">${_("Notifications")}</a> ${_("via E-Mail or Twitter")}</li>
	</ul>
</div>

<div class="mainbar">
	${c.tile.description|n}
	
	
	<div class="top_actions aside">
		%if can.proposal.create():
			<a class="button add ttip" title="${_('Introduce a new idea to debate.')}" href="/proposal/new">${_("new proposal")}</a>
		%endif
		
		<a href="/proposal" class="button edit">${_("more proposals")}</a>
	</div>
	<br/>
	<h3 class="section">${_("Current Proposals")}</h3>
	<div id="proposals_table" class="table">
		${c.proposals_pager.here()}
	</div>
</div>

