<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Home")}</%def>

<%def name="breadcrumbs()">
    ${h.instance.breadcrumbs(c.page_instance)|n} ${_("Home")}
</%def>

${tiles.instance.header(c.page_instance, active='rules')}

<div class="lefthalf">
    ${c.tile.description|n}
</div>

<div class="righthalf">
    <h3 class="section">${_("Newest Proposals")}</h3>
    <div id="new_proposals_table" class="table">
        ${c.new_proposals_pager.here()}
  </div>
  <br/>
  <div class="top_actions aside">
  %if can.proposal.create():
    <a class="button add ttip" title="${_('Introduce a new idea to debate.')}" href="/proposal/new">${_("new proposal")}</a>
  %endif

  <a href="/proposal" class="button edit ttip" title="${_('show a list of proposals')}">${_("more proposals")}</a>
  </div>
</div>

<div style="clear: both;"></div>
  <br/>

%if c.page_instance.milestones:
  ${tiles.milestone.timeline(c.milestones)}
%endif

<br/>
<br/>
<div class="lefthalf">
    <!--<div class="help">-->
        <!--<h3>${_("Help")}</h3>-->
        <!--<p>${_("Help topics:")}</p>-->
        <!--<ul>-->
            <!--<li>${h.help_link(_("Proposals"), "proposal_faq")|n} ${_("(ideas for debate)")}</li>-->
            <!--<li>${h.help_link(_("Tags"), "tag_faq")|n} ${_("(keywords)")}</li>-->
            <!--%if c.page_instance.allow_delegate:-->
                <!--<li>${h.help_link(_("Delegation"), "delegation_faq")|n} ${_("of voting rights")}</li>-->
            <!--%endif-->
            <!--<li>${h.help_link(_("Notifications"), "notification_faq")|n} ${_("via E-Mail or Twitter")}</li>-->
            <!--<li>${h.help_link(_("Guide: Signing up"), 'login_text')|n}</li>-->
            <!--<li>${h.help_link(_("Guide: Creating proposals"), 'edit_text')|n}</li>-->
            <!--<li>${h.help_link(_("Guide: Developing proposals"), 'proposal_text')|n}</li>-->
            <!--<li>${h.help_link(_("Other help"), "help")|n}</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>

<div class="righthalf">
    <h3>${_("By the numbers")}</h3>
    <p>${_("%s has:") % c.page_instance.label}</p>
    <ul>
        <li>${_("<b>%s</b> community members") % c.stats.get('members')|n}</li>
        <li>${_("<b>%s</b> proposals") % c.stats.get('proposals')|n}</li>
        <li>${_("<b>%s</b> comments") % c.stats.get('comments')|n}</li>
    </ul>
</div>
