<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Home")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.page_instance)|n} &raquo; ${_("Home")}
</%def>

${tiles.instance.header(c.page_instance, active='rules')}

<div class="lefthalf">
	${c.tile.description|n}
</div>

<div class="righthalf">
	${tiles.tag.cloud(c.tags)}
</div>

<div style="clear: both;"></div>
<div class="lefthalf">
	<h3>${_("Rules")}</h3>
	<p>${_("When a new user joins this Instance, they will be a <b>%s</b>.") % _(c.page_instance.default_group.group_name)|n}</p>
	
	%if c.page_instance.allow_adopt:
		<!--h3><img src="/img/icons/vote_16.png" class="cd"> ${_("Voting Rules")}</h3-->
		<p>${_("To become active, a proposal must reach the given proportion of approval.")}</p>
		<p><b>${_("Required Majority:")} ${c.tile.required_majority}</b></p>
			
		<p>${_("Before becoming active, the majority must be held for the specified interval.")}</p>
		<p><b>${_("Activation Delay:")} ${_("%(delay)s days") % dict(delay=c.tile.activation_delay)}</b></p>
	%else:
		<p>${_("Final votes are currently <b>disabled</b>.")|n}</p>
	%endif
</div>

<div class="righthalf">
	<h3>${_("Help")}</h3>
	<p>${_("There are help pages on several help topics:")}</p>
	<ul>
		<li><a href="/page/about.html">${_("General intro")}</a> ${_("on Liquid Democracy")}</li>
		<li><a href="/page/proposal_faq.html">${_("Proposals")}</a> ${_("(ideas for debate)")}</li>
		<li><a href="/page/tag_faq.html">${_("Tags")}</a> ${_("(keywords)")}</li>
		<li><a href="/page/delegation_faq.html">${_("Delegation")}</a> ${_("of voting rights")}</li>
		<li><a href="/page/notification_faq.html">${_("Notifications")}</a> ${_("via E-Mail or Twitter")}</li>
	</ul>
</div>
