<%namespace name="components" file="/components.html"/>

<%def name="list_item(tile, instance)">
	<li class="list_tile">
		<span class="text"><a href="${h.instance_url(instance)}">${instance.label}</a></span>
		<span class="meta">  
			(${ungettext("%s issue", "%s issues", tile.num_issues) % tile.num_issues})
			%if tile.can_join:
				&middot; <a href="${h.instance_url(instance, path='/instance/join/%s?%s' % (instance.key, h.url_token()))}">${_("join")}</a>
			%endif
			%if tile.can_leave:
				&middot; <a href="${h.instance_url(instance, path='/instance/leave/%s?%s' % (instance.key, h.url_token()))}">${_("leave")}</a>
			%endif
			
		</span>
	</li>
</%def>

<%def name="row(tile, instance)">
	<div class="tile">
		<div class="logo">
			<img src="/instance/icon/${instance.key}-32x32.png" />
		</div>
		<div class="base">
			<h3><a class="link" href="${h.instance_url(instance)}">${instance.label}</a></h3>
			<div class="meta noclear">
				${h.user_link(instance.creator)|n}  
				&middot; ${_("created %s") % h.relative_time(instance.create_time)|n}  
				&middot; ${ungettext("%s issue", "%s issues", tile.num_issues) % tile.num_issues}
				%if tile.can_join:
					&middot; <a href="${h.instance_url(instance, path='/instance/join/%s?%s' % (instance.key, h.url_token()))}">${_("join")}</a>
				%endif
				%if tile.can_leave:
					&middot; <a href="${h.instance_url(instance, path='/instance/leave/%s?%s' % (instance.key, h.url_token()))}">${_("leave")}</a>
				%endif
			</div>
		</div>
	</div>
</%def>

<%def name="header(tile, instance, active)">
	<div class="top_actions title">
		%if tile.can_create_issue:
			<a class="button add" href="/issue/create">${_("new issue")}</a>
		%endif
		%if tile.can_join:
			<a class="button add" href="/instance/join/${instance.key}?${h.url_token()}">${_("join")}</a> 
		%endif
		%if not c.user:
			<a class="button add" href="/register">${_("join")}</a> 
		%endif
		%if tile.can_admin:
			<a class="button admin" href="/instance/edit/${instance.key}">${_("edit")}</a>
		%endif
		%if tile.can_leave:
			<a class="button delete" href="/instance/leave/${instance.key}?${h.url_token()}">${_("leave")}</a> 
		%endif
		
		${components.watch(c.instance, '/instance/%s' % str(instance.key))}
		<a href="/instance/${instance.key}.rss" class="button edit"><img src='/img/rss.png' /> ${_("subscribe")}</a>
	</div>
	
	<h1 class="page_title"><img src="/img/icons/site_24.png" class="cd" /> ${instance.label}</h1>
	
	<div class="panel ${active}">
		<div class="menu">
			<a href="/instance/${instance.key}" class="issues">${_("Issues")} (${tile.num_issues})</a>
			<a href="/instance/${instance.key}/activity" class="activity">${_("Activity")}</a>
			<a href="#">Members (14)</a>
			<a href="/adopted" class="adopted">${_("Outcomes")}</a>
		</div>
		%if tile.description:
			<div class="description">
				${tile.description|n}
			</div>
		%endif
	</div>
</%def>
