<%namespace name="components" file="/components.html"/>

<%def name="row(tile, instance)">
    <li class="content_box">
        %if tile.show_icon():
        <img class="logo" 
             src="${h.instance.icon_url(instance, 32, x=32)}" />
        %endif
        <h3><a class="link" href="${h.entity_url(instance)}">${instance.label}</a></h3>
        <div class="meta">
            ##${h.user.link(instance.creator)|n} · 
            ${_("created %s") % h.relative_time(instance.create_time)|n} · 
            ${ungettext("%s proposal", "%s proposals", tile.num_proposals) % tile.num_proposals} 
            
            %if instance.use_norms:
                ·    
                ${ungettext("%s norm", "%s norms", tile.num_norms) % tile.num_norms}
            %endif
        </div>
        <div class="hr"><hr /></div>
    </li>
</%def>

<%def name="header(tile, instance, active, no_panel)">
</%def>

<%def name="badgesform(tile, instance, badges)">
 <% badgeids = [b.id for b in instance.badges] %>
 %if len(badges) > 0:
 <form name="settings"  class="inplace" method="POST"
      action="${h.entity_url(instance, member='update_badges')}">
            %for badge in badges:
                   <input type="checkbox" 
                           value="${badge.id}"
                           class="badgetsform_input"
                           name="badge" 
                           ${'checked="checked"' if badge.id in badgeids else ''}
                           /> 
                   ${tiles.badge.badge(badge)}
            %endfor
            <input type="hidden" value="1" name="redirect_to_proposals"></input>
            <button class="badgetsform_save" type="submit">Save</button>
</form>
%endif
</%def>  
