<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${c.page_instance.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.page_instance)|n} &raquo; ${_("Home")}
</%def>

<div class="top_actions title">
	%if c.tile.can_join:
		<a class="button add" href="/instance/join/${c.page_instance.key}?${h.url_token()}">${_("join")}</a> 
	%endif
	%if not c.user:
		<a class="button add" href="/register">${_("join")}</a> 
	%endif
	%if c.tile.can_admin:
		<a class="button admin" href="/instance/edit/${c.page_instance.key}">${_("edit")}</a>
	%endif
	%if c.tile.can_leave:
		<a class="button delete" href="/instance/leave/${c.page_instance.key}?${h.url_token()}">${_("leave")}</a> 
	%endif
</div>

<h1 class="page_title"><img src="/img/icons/bonsai_24.png" class="cd" /> ${c.page_instance.label}</h1>

${components.tutu()}

<div class="sidebar">
	<div class="tile">
		<div class="tile boxed">
			<div class="inner_boxed">
				<h4><img src="/img/icons/vote_16.png" class="cd"> ${_("Voting Rules")}</h4>
				${_("Required Majority:")} <b>${c.tile.required_majority}</b>
				<span class="hint">${_("To become active, a proposal must reach the given proportion of approval.")}</span>
				
				${_("Activation Delay:")} <b>${c.tile.activation_delay}</b>
				<span class="hint">${_("Before becoming active, the majority must be held for the specified interval.")}</span>
			</div>
		</div>
		<div class="meta">
			${_("Subscribe to RSS feed:")}
			${h.rss_link("/instance/%s.rss" % c.page_instance.key)|n}
		</div>
	</div>
</div>

<div class="mainbar">
	<div class="description">
		${c.tile.description|n}
	</div>
	<br />
	<div class="top_actions">
		%if c.tile.can_create_issue:
			<a class="button add" href="/issue/create">${_("new")}</a>
		%endif
	</div>
	<h2>${_("Issues")}  (${c.tile.num_issues})</h2>
	%if len(c.issues_pager) == 0:
		%if c.tile.can_create_issue:
			<span class="infobox">
				${_("Create an issue to start debating in %(instance)s.") % dict(instance=c.page_instance.label)}
			</span>
		%endif
	%else:
		<div class="table">
			${c.issues_pager.here()}
		</div>
	%endif	
</div>