<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${c.page_instance.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.page_instance)|n} &raquo; ${_("Home")}
</%def>

<div class="top_actions title">
	%if c.tile.can_create_issue:
		<a class="button add" href="/issue/create">${_("new issue")}</a>
	%endif
	%if c.tile.can_join:
		<a class="button add" href="/instance/join/${c.page_instance.key}?${h.url_token()}">${_("join")}</a> 
	%endif
	%if not c.user:
		<a class="button add" href="/register">${_("join")}</a> 
	%endif
	%if c.tile.can_admin:
		<a class="button admin" href="/instance/edit/${c.page_instance.key}">${_("edit")}</a>
	%endif
	%if c.tile.can_leave:
		<a class="button delete" href="/instance/leave/${c.page_instance.key}?${h.url_token()}">${_("leave")}</a> 
	%endif
	
	${components.watch(c.instance, '/instance/%s' % str(c.page_instance.key))}
	<a href="/instance/${c.page_instance.key}.rss" class="button edit"><img src='/img/rss.png' /> ${_("subscribe")}</a>
</div>

<h1 class="page_title"><img src="/img/icons/site_24.png" class="cd" /> ${c.page_instance.label}</h1>

<div class="sidebar">
	<div class="tile">
		%if c.tile.description:
		<div class="tile boxed">
			<div class="inner_boxed">
				<h4><img src="/img/icons/site_16.png" class="cd"> ${c.page_instance.label}</h4>
				${c.tile.description|n}
			</div>
		</div>
		%endif
		<div class="tile boxed">
			<div class="inner_boxed">
				<h4><img src="/img/icons/vote_16.png" class="cd"> ${_("Voting Rules")}</h4>
				${_("Required Majority:")} <b>${c.tile.required_majority}</b>
				<span class="hint">${_("To become active, a proposal must reach the given proportion of approval.")}</span>
				
				${_("Activation Delay:")} <b>${_("%(delay)s days") % dict(delay=c.tile.activation_delay)}</b>
				<span class="hint">${_("Before becoming active, the majority must be held for the specified interval.")}</span>
			</div>
		</div>
	</div>
</div>

<div class="mainbar">
	%if len(c.issues_pager) == 0:
		<span class="infobox">
			${_("Create an issue to start debating in %(instance)s.") % dict(instance=c.page_instance.label)}
		</span>
	%else:
		<form action="?" method="GET" autocomplete="off">
			<input type="hidden" id="instance_key" value="${c.page_instance.key}" />
			<label for="issues_q" class="armhint">${_("Find issues")}</label>
			<input id="issues_q" class="armlabel" name="issues_q" 
					type="text" value="${request.params.get('issues_q', '')}" 
					tabindex="1" />
			<noscript>
				<input type="submit" value="${_("Filter")}">
			</noscript>
		</form>
		<div id="issues_table" class="table">
			${c.issues_pager.here()}
		</div>
	%endif	
</div>