<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Message %s") % c.page_user.name}</%def>

<%def name="breadcrumbs()">
    ${h.user.breadcrumbs(c.page_user)|n} &raquo; ${_("Message %s") % c.page_user.name}
</%def>

<%block name="main_content">
  <form name="create_message" class="inplace" method="POST" action="/user/${c.page_user.user_name}/message">
      ${h.field_token()|n}
      <div class="page_title">
          <input tabindex="1" class="title" name="subject" placeholder="${_('Subject')}" />
      </div>

      <div class="sidebar">
          <div class="infobox">${_("Your e-mail address will be included in this message to give the recipient a method to reply to you.")|n}</div>
      </div>
      <div class="mainbar">
          <textarea tabindex="2" class="description" name="body" placeholder="${_('Dear %s, ...') % c.page_user.name}"></textarea>
      </div>
      
      <div style="clear:both;"></div>

      <div class="mainbar">
          ${components.savebox("/", save_text=_("Send"))}
      </div>
  </form>
</%block>
