
<%def name="formatting()">
	<div class="formatting">
		<a target="_new" href="/page/formatting.html">${_("formatting hints")|n}</a>
	</div>
</%def>

<%def name="savebox(cancel_url)">
	<div class="savebox">
		<button type="submit"><img src="/img/icons/save.png"> 
			${_("Save")}</button>
		<span class="cancel">
			${_("or")} <a href="${cancel_url}">${_("cancel")}</a>
		</span>
	</div>
</%def>

<%def name="form_watch(entity)">
	<%
	watch = False
	if entity:
		watch = c.lib.watchlist.has_entity_watch(entity)
	%> 
	<input class="watch" type="checkbox" ${"checked='checked'" if watch else ''} name="watch"/>
	${_("Notify me of updates.")}
</%def>

<%def name="watch(entity, return_url)">
	%if c.user:
		<%
		watch = c.lib.watchlist.get_entity_watch(c.user, entity) 
		import urllib
		ret = urllib.urlencode({'ret': return_url})
		ref = urllib.urlencode({'ref': c.lib.watchlist.entity2ref(entity)})
		%>
		%if watch:
			<a class="button delete" href="/watch/delete?watch=${watch.id}&${ret}&${h.url_token()}"><img src='/img/mail.png' /> ${_("unwatch")}</a>
		%else:
			<a class="button edit" href="/watch/create?${ref}&${ret}&${h.url_token()}"><img src='/img/mail.png' /> ${_("watch")}</a>
		%endif
	%endif
</%def>

