<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${c.page.title}</%def>

<h1 class="page_title">${c.page.title}</h1>

<div class="sidebar">
	%if not c.user:
		<div class="top_actions">
			<a class="button add" href="/register">${_("sign up")}</a>
		</div>
		<h2>${_("Say hi")}</h2>
		<div class="tile">
		
		<%include file="/user/login_form.html"/>
		
		<div class="meta">${_("If you're not registered, <a href='/register'>sign up.</a>")|n}</div>
		</div>
		<br/>
	%endif
	%if c.user:
		<div class="top_actions">
			<a class="button edit" href="/adhocracies">${_("more")}</a>
			%if h.has_permission("instance.create"):
				<a class="button add" href="/instance/create">${_("new")}</a>
			%endif
		</div>
		<h2>${_("My Adhocracies")}</h2>	
		%if len(c.user.instances):
			<ul>
			%for instance in c.user.instances:
				${tiles.instance.list_item(instance)}
			%endfor
			</ul>	
		%else:
			<div class="infobox">
				${_("Join a few Adhocracies to contribute to their policies.")}
			</div>
		%endif
		
	%else:
		<div class="top_actions">
			<a class="button edit" href="/adhocracies">${_("more")}</a>
		</div>
		<h2>${_("Adhocracies")}</h2>
		<ul>
		%for instance in c.instances:
			${tiles.instance.list_item(instance)}
		%endfor
		</ul>		
	%endif
	<p>
	
	<br/>
	
</div>

<div class="mainbar welcome">
	${c.page.body|n}
</div>