<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${c.page.title}</%def>

<%def name="breadcrumbs()"></%def>

<div class="sidebar"> 
	<h3 class="section">Themen</h3> 
	<ul>
		<li>Kultur, Medien, Öffentlichkeit</li>
		<li>Zugang, Struktur und Sicherheit im Netz</li>
		<li>Verbraucherschutz</li>
		<li>Bildung und Forschung</li>
		<li>Urheberrecht</li>
		<li>Interoperabilität, Standards, O-Source</li>
		<li>Datenschutz und Persönlichkeitsrecht</li>
		<li>Netzneutralität</li>
		<li>Internationales und Internet Governance</li>
	</ul>
	<h3>Vorschl&auml;ge</h3>
        <div id="proposals_table" class="table">
                ${c.proposals_pager.here()}
        </div>

 
</div>

<div class="mainbar"> 
	<div class="table">
		<div class="table_listing">
			<div class="tile">
				<div class="logo">
					<img src="http://www.bundestag.de/internetenquete/includes/forum/bilder/Fragezeichen_teaser.jpg"/>
				</div>
				<div class="base">
					<p>
					Herzlich Willkommen auf der Seite des 18. Sachverständigen. Hier kommt Jens' Erklärbär-Text rein und alle sind glücklich.
					</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a mi mauris, in lacinia neque. Sed vitae lectus purus. Mauris libero ligula, ultrices dictum congue et, rutrum et neque. Phasellus pharetra facilisis mi, eget pulvinar elit facilisis vel. Sed vel euismod ante. Vivamus bibendum ipsum hendrerit magna rutrum id lacinia leo eleifend. Aenean molestie tristique tellus, eget ultricies leo commodo non. Praesent rhoncus erat vitae dolor consequat a aliquet risus pellentesque.
					</p><p>
					Quisque tincidunt metus purus. Aenean a diam at nisi faucibus euismod venenatis et felis. Fusce velit elit, mollis id condimentum in, tempor a tellus. Suspendisse bibendum neque sed leo dignissim tempor. Donec a luctus libero. Ut laoreet vestibulum ligula ut euismod. Pellentesque sit amet nibh ac metus ornare interdum eget a dolor. Phasellus nibh sapien, sollicitudin sit amet ullamcorper at, ullamcorper vel tortor. Aenean id orci ante, ut pharetra diam. Nullam dignissim, nulla nec molestie aliquam, metus est aliquet lectus, sed commodo nisl magna ut elit. Phasellus euismod vehicula tellus, vitae mollis diam tempor vitae. Vestibulum at eleifend elit. </p>
				</div>	
			</div>
		</div>
	</div> 
</div>

<div class="mainbar"> 
<h3>Neuer Blogeintrag</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a mi mauris, in lacinia neque. Sed vitae lectus purus. Mauris libero ligula, ultrices dictum congue et, rutrum et neque. Phasellus pharetra facilisis mi, eget pulvinar elit facilisis vel. Sed vel euismod ante. Vivamus bibendum ipsum hendrerit magna rutrum id lacinia leo eleifend. Aenean molestie tristique tellus, eget ultricies leo commodo non. Praesent rhoncus erat vitae dolor consequat a aliquet risus pellentesque.
</p><p>
Quisque tincidunt metus purus. Aenean a diam at nisi faucibus euismod venenatis et felis. Fusce velit elit, mollis id condimentum in, tempor a tellus. Suspendisse bibendum neque sed leo dignissim tempor. Donec a luctus libero. Ut laoreet vestibulum ligula ut euismod. Pellentesque sit amet nibh ac metus ornare interdum eget a dolor. Phasellus nibh sapien, sollicitudin sit amet ullamcorper at, ullamcorper vel tortor. Aenean id orci ante, ut pharetra diam. Nullam dignissim, nulla nec molestie aliquam, metus est aliquet lectus, sed commodo nisl magna ut elit. Phasellus euismod vehicula tellus, vitae mollis diam tempor vitae. Vestibulum at eleifend elit. </p>

</div>
