<%def name="nav_link(href, text, class_, id_='', title='')">
<li class="${class_ or ''}" id="${id_}">
    <a href="${href}" title="${title}">${text}</a>
</li>
</%def>


<%def name="global_nav(active)">

<% 
   active_nav = {}
   active_nav[active] = 'current'

   def _class(identifier):
       return active_nav.get(identifier, '')
%>

<!-- begin: main navi -->
<nav>
    <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <!-- main navigation: horizontal list -->
        <div class="menu hlist">
            <ul>
                ${nav_link(href=h.base_url(None, path='/'),
                           text=_("Home"), class_=_class('home'))}

                %if g.single_instance is None:
                ${nav_link(href=h.base_url(None, path='/instance'),
                           class_=_class('instances'),
                           title=_('All instances'),
                           text=_("Instances"))}
                %endif

                %if c.user:
                ${nav_link(href=h.entity_url(c.user, member='watchlist'),
                           title=_('All instances'),
                           class_=_class('watchlist'),
                           text=_("Watchlist"))}
                %endif
                <!-- FIXME: implemente About -->
                ${nav_link(href="#",
                           text=_('About'),
                           class_=_class('about'),
                           title="")}

                ${nav_link(href=h.base_url(None, path='/static/help.html'),
                           text=_("Help"),
                           class_=_class('help'),
                           id_="nav_help")}

                <!-- FIXME: implemente personal drop down menu -->
                %if c.user:
                ${nav_link(href=h.entity_url(c.user),
                           text=c.user.name,
                           title=_('Your profile'),
                           class_=_class('user'))}
                        <!-- FIXME: User image <img width="16" height="16" 
                             src="${h.user.icon_url(c.user, size=16)|n}" /> -->
                %else:
                ${nav_link(href="/login",
                           text=_("Login"),
                           class_=_class('login'))}
                <!-- FIXME: <a href="/register">${_("Register")}</a> -->
                %endif
            </ul>
        </div>
    </div>
</nav>
</%def>


<%def name="subheader_instance_navigation(active, logo, show_search=True)">

<% 
   active_subnav = {}
   active_subnav[active or 'instance'] = 'current'

   def _class(identifier):
       return active_subnav.get(identifier, '')
%>

  <div id="subheader">
    <div class="page_margins">
      <div class="page_wrapper">
        <!-- begin: sub navi -->
        %if logo:
        <div id="organisation_logo">
          <img src="${logo}" />
        </div>
        %endif
        <!-- begin: sub navi -->
        <nav>
          <div class="hlist">
            <ul id="subnav">

                ${nav_link(href="#",
                           text=_("Instance"),
                           class_=_class('instance'))}

                ${nav_link(href="#",
                           text=_("Milestones"),
                           class_=_class('milestones'))}

                ${nav_link(href="#",
                           text=_("Diskussions"),
                           class_=_class('discussions'))}

                ${nav_link(href="#",
                           text=_("Norms"),
                           class_=_class('norms'))}

                ${nav_link(href="#",
                           text=_("Members"),
                           class_=_class('members'))}

                ${nav_link(href="#",
                           text=_("Settings"),
                           class_=(_class('settings') + ' settings'))}

            </ul>
          </div>
        </nav>
        %if show_search:
        <div id="searchbox">
          <form action="http://liquid-democracy.staging_wordpress.adhocracy.cc/" 
                id="searchform" method="get">
            <div class="label_over">
              <label class="over-apply" for="s">In Die Linke suchen&hellip;</label>
              <input type="text" id="s" name="s" value="" />
            </div>
            <input type="submit" value="Los" id="searchsubmit" />
          </form>
        </div>
        %endif
      </div>
    </div>
  </div>

</%def>
