<%namespace name="model" module="adhocracy.model"
/><%namespace name="components" file="/components.html"
/><%namespace name="navigation" file="/navigation.html"
/><%def name="breadcrumbs()">&nbsp;</%def>

## an alternative root template to render the "main" block
## and the flash messages and infoboxes
## a html fragment

<div id="main-overlay">
    <%block name="welcome">
        <%block name="flashmessages"></%block>
        <%block name="infoboxes"></%block>
    </%block>

    <%block name="main">
    </%block>
</div>
