
<%def name="namedpager(pager)">
    <div class="floatbox">
        <span class="pager_items">
            ${_("%(start)s-%(end)s out of %(total)s") % dict(start=pager.offset+1, end=pager.offset+len(pager.items), total=pager.total_num_items())}
        </span>
      <div class="filter_box">        
        %if len(pager.sorts.keys()) > 1 and pager.enable_sorts:
            <span class="pager_sorts">
            ${_("sort by:")}
            %for sort, i in zip(pager.sorts.keys(), xrange(1, len(pager.sorts.keys()) + 1)):
                <a class="${'selected' if i == pager.selected_sort else ''}" 
                    href="${pager.build_url(sort=i)}">${sort}</a>
                %if i < len(pager.sorts.keys()):
                    |
                %endif
            %endfor
            </span>
        %endif
      </div>
    </div>

    <div class="hr"><hr /></div>

    <ul class="content_list">
    %if not len(pager.items):
        <li class="infobox">${_("No entries.")}</li>
    %endif
    %for item in pager.items:
        ${pager.itemfunc(item)}
    %endfor
    </ul>
    %if pager.enable_pages:
        %if pager.pages > 1:
        <div class="pager">
            <div class="prev_page">
                %if pager.page > 1:
                <a href="${pager.build_url(page=pager.page-1)}">&laquo; ${_("previous")}</a>
                %else:
                <span>&laquo; ${_("previous")}</span>
                %endif
            </div>
            %for page in pager.pages_items():
                %if page['seperator']:
                    <span class="seperator">...</span>
                %else:
                    %if page['current']:
                        <span class="current">${page['label']}</span>
                    %else:
                        <a href="${page['url']}" 
                           class="${page['class']}">${page['label']}</a>  
                    %endif
                %endif
            %endfor
            <div class="next_page">
                %if pager.page < pager.pages:
                <a href="${pager.build_url(page=pager.page+1)}">${_("next")} &raquo;</a>
                %else:
                <span>${_("next")} &raquo;</span>
                %endif
            </div>
        </div>
        %endif
        %if pager.page_sizes():
        <div class="pager_sorts bottom">
            %for size in pager.page_sizes():
                <a class="${size['class']}" 
                    href="${size['url']}">${size['size']}</a>
                ${'|' if not size['last'] else ''}
            %endfor
            ${_("entries")}
        </div>
        %endif
    %endif
</%def>


<%def name="facets(pager)">
%if (True in [facet.available() for facet in pager.facets]):
<p>${_("You can limit the number of results with the following criteria:")}</p>
%for facet in pager.facets:
    %if facet.available():
    <div class="facet">
        ${facet.render()}
    </div>
    %endif
%endfor
%endif
</%def>

<%def name="facet(facet)">
<h3>
    ${facet.title}
    %if facet.used:
    <a class="remove"
       href="${facet.unselect_all_link()}">(${_("Remove all")})</a>
    %endif
</h3>
%if facet.description:
<p>${facet.description}</p>
%endif
<ul>
    %for item in facet.current_items:
    <li>
        %if item['disabled']:
        <span class="disabled">
            ${item['link_text']} (${item['current_count']})
        </span>
        %else:
            %if item['selected']:
            <span class="selected">
                ${item['link_text']}
                <a class="remove" href="${item['url']}">(${_("remove")})</a>
            </span>
            %else:
            <a class="${item['selected']}"  
               href="${item['url']}">
                ${item['link_text']} (${item['current_count']})
            </a>
            %endif
        %endif
    </li>
    %endfor
</ul>
<br />
</%def>

<%def name="overlay_pager(pager, render_facets=True)">

<div>${pager.render_pager()}</div>
%if render_facets:
<div>${pager.render_facets()}</div>
%endif
</%def>


