<%def name="title()">${_("No Title")}</%def>
<%def name="breadcrumbs()">&nbsp;</%def>

<%def name="print_meta()">
    %for key, value in c.html_meta.items():
        <meta name="${key}" content="${value}" />
    %endfor
</%def>

<%def name="print_head_links()">
    %for link in c.html_head_links:
        <link rel="${link['rel']}" type="${link['type']}" title="${link['title']}" href="${link['href']}" />
    %endfor
</%def>

<%def name="head()">
    <title>${self.title()} - 
            %if c.instance:
                 ${c.instance.label} 
            %endif
                ${h.site.name()}
    </title>
    <link rel="stylesheet" media="all" href="/style/base.css" />    
    <link  rel="stylesheet" type="text/css" 
        href="${h.base_url(None, path='/style/site.css')}"/>
    %if c.instance and c.instance.css:
        <link  rel="stylesheet" type="text/css" 
            href="${h.base_url(c.instance, path='/instance/%s/style' % c.instance.key)}"/>
    %endif
    <link rel="stylesheet" media="all" 
        href="${h.base_url(None, path='/style/overlay.css')}">
    <link media="only screen and (max-device-width: 1024px)" type="text/css" rel="stylesheet"
        href="${h.base_url(None, path='/style/ipad.css')}" />
    <link media="only screen and (max-device-width: 480px)" type="text/css" rel="stylesheet" 
        href="${h.base_url(None, path='/style/iphone.css')}"/>
    <link rel="stylesheet" media="all and (orientation:portrait)" 
        href="${h.base_url(None, path='/style/portrait.css')}">
    <link type="text/css" media="print" rel="stylesheet" 
        href="${h.base_url(None, path='/style/print.css')}" />
    
    <link rel='shortcut icon' type='image/x-icon' 
        href='${h.base_url(None, path='/favicon.ico')}' />
    
    ${print_head_links()}
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-XRDS-Location" content="${h.base_url(c.instance, path='/openid/xrds')}"/>
    ${print_meta()}
    
    <!--html5 support-->
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/modernizr.js')}"></script>
    <!--jquery 1.4.2 and jquery plugins-->
          src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/jquery.autocomplete.min.js')}"></script>  
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/jquery.timeago.js')}"></script>
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/jquery.timeago.%s.js') % c.locale.language}"></script>
    <!--adhocracy javascript-->
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/adhocracy.js')}"></script>
    <!--[if lt IE 7 ]>
        <script type="text/javascript" 
            src="${h.base_url(None, path='/js/dd_belatedpng.js') }"></script>
        <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->
    <style> 
        %if c.user and c.user.no_help:
            .help {display: none;}
        %endif
    </style>
    
</%def>

${next.body()}
