<%def name="title()">${_("No Title")}</%def>
<%def name="breadcrumbs()">&nbsp;</%def>

<%def name="head()">
  <meta charset="utf-8" />
    <title>${self.title()} - 
            %if c.instance:
                 ${c.instance.label} 
            %endif
                ${h.site.name()}
    </title>

    <meta http-equiv="X-XRDS-Location" 
          content="${h.base_url(c.instance, path='/openid/xrds')}" />

    %for key, value in c.html_meta.items():
    <meta name="${key}" content="${value}" />
    %endfor

    <!-- template -->

  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css" />
  <!--[if lte IE 7]>
  <link href="/stylesheets/patches/patch.css" rel="stylesheet" type="text/css" />
  <![endif]-->

  <link rel="icon" href="${h.base_url(None, path='/favicon.ico')}" type="image/png" />

  <script type="text/javascript"
          src="${h.base_url(None, path='/javascripts/slides.min.jquery.js')}" 
          charset="utf-8"></script>
  <script type="text/javascript"
          src="${h.base_url(None, path='/javascripts/jquery.multipleelements.cycle.min.js')}" 
          charset="utf-8"></script>
  <script type="text/javascript"
          src="${h.base_url(None, path='/javascripts/jquery.label_over.js')}" 
          charset="utf-8"></script>
  <script type="text/javascript"
          src="${h.base_url(None, path='/javascripts/jquery.elastic.js')}" 
          charset="utf-8"></script>

  <!-- HTML5 elements for IE -->
  <script>
    document.createElement('abbr');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('audio');
    document.createElement('canvas');
    document.createElement('details');
    document.createElement('figcaption');
    document.createElement('figure');
    document.createElement('footer');
    document.createElement('header');
    document.createElement('hgroup');
    document.createElement('mark');
    document.createElement('menu');
    document.createElement('meter');
    document.createElement('nav');
    document.createElement('output');
    document.createElement('progress');
    document.createElement('section');
    document.createElement('summary');
    document.createElement('time');
    document.createElement('video');
  </script>

    <!-- /template -->

    <!--html5 support-->
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/modernizr.js')}"></script>
    <!--jquery 1.4.2 and jquery plugins-->
    <script type="text/javascript" 
          src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/jquery.autocomplete.min.js')}"></script>  
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/jquery.timeago.js')}"></script>
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/jquery.timeago.%s.js') % c.locale.language}"></script>
    <!--adhocracy javascript-->
    <script type="text/javascript" 
        src="${h.base_url(None, path='/js/adhocracy.js')}"></script>

    %if c.instance and c.instance.css:
        <link  rel="stylesheet" type="text/css" 
            href="${h.base_url(c.instance, path='/instance/%s/style' % c.instance.key)}"/>
    %endif
    
    %for link in c.html_head_links:
    <link rel="${link['rel']}" type="${link['type']}" 
          title="${link['title']}" href="${link['href']}" />
    %endfor

    <style> 
        %if c.user and c.user.no_help:
            .help {display: none;}
        %endif
    </style>
    
</%def>

${next.body()}
