<%namespace name="model" module="adhocracy.model"/>
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("No Title")}</%def>
<%def name="page_title()"><h1>${self.title()}</h1></%def>
<%def name="breadcrumbs()">&nbsp;</%def>
<%def name="contextbox()">&nbsp;</%def>

<%def name="page_actions()"></%def>
<%def name="page_actions_bar()">
	<div id="page_actions">
		${self.page_actions()}
	</div>
</%def>

<%def name="print_meta()">
	%for key, value in c.html_meta.items():
		<meta name="${key}" content="${value}" />
	%endfor
</%def>

<%def name="print_link()">
	%for link in c.html_link:
		<link rel="${link['rel']}" type="${link['type']}" title="${link['title']}" href="${link['href']}" />
	%endfor
</%def>


<!DOCTYPE html>
<html>
<head>
	<title>${self.title()} - 
		   	%if c.instance:
				 ${c.instance.label} 
		   	%endif
			${config.get('adhocracy.site.name')}</title>
	<link href="/style/base.css" rel="stylesheet" type="text/css" />
	<link href="/style/site.css" rel="stylesheet" type="text/css" />
	<link media="only screen and (max-device-width: 480px)" href="/style/iphone.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="/style/print.css" type="text/css" media="print" />
	<link href='/favicon.ico' rel='shortcut icon' type='image/x-icon' />
	${print_link()}
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	${print_meta()}
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.autocomplete.min.js"></script>	
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/jquery.timeago.js"></script>
	<script type="text/javascript" src="/js/jquery.timeago.${c.locale.language}.js"></script>
	<script type="text/javascript" src="/js/adhocracy.js"></script>
</head>
<body>
<div id="frame">
	<div id="account">
			%if not c.user:
				<a href="/login">${_("sign in")}</a>
			%else:
				<img src="${h.gravatar_url(c.user, size=16)|n}">
				<a class="user_name" href="/user/${c.user.user_name}">${c.user.name}</a>
				&middot; <a href="/user/edit/${c.user.user_name}">${_("settings")}</a>
				&middot; <a href="/logout">${_("logout")}</a>
			%endif
			<form action="/search" method="GET">
				<label for="q" class="armhint">${_("search")}</label>
				<input name="q" class="armlabel" />
				<button type="submit"><img src="/img/icons/search.png" alt="${_('Go')}" /></button>
			</form>
			%if c.user and c.instance and not c.user.is_member(c.instance):
				<br/><a class="join" href="/instance/${c.instance.key}/join?${h.url_token()}">${_("Join %s to contribute") % c.instance.label}</a>	
			%endif 
	</div>
	<div style="clear: both;"></div>
	<% messages = h.flash.pop_messages() %>
	%if messages:
	<div id="flash_messages">
		<ul>
		%for message in messages:
	    	<li>${message}</li>
	    %endfor
		</ul>
	</div>
	%endif
	<table id="header"><tr>
		<td class="site_title">
			<a href="${h.instance_url(c.instance)}">
				<img src="/instance/header/${c.instance.key if c.instance else '_def'}.png"
				     alt="${c.instance.label if c.instance else config.get('adhocracy.site.name')}" />
			</a>
		</td>
		<td></td>
		<td id="menu">
		<ul>
			<li>
				<a href="${h.instance_url(c.instance)}">${_("Issues") if c.instance else _("Home")}</a>
				<ul>
				%if c.user:
					%for inst in c.user.instances:
						%if not inst is c.instance:
							<li><a href="${h.instance_url(inst)}">${inst.label}</a></li>
						%endif
					%endfor
				%endif
				<li><a href="${h.instance_url(None, path='/adhocracies')}">${_("More Adhocracies...")}</a></li>
				</ul>
			</li>
			%if c.instance:
				<li>
					<a href="/polls">${_("Polls")}</a>
					%if c.user:
					<ul>
						<li><a href="/polls">${_("Current polls")}</a></li>
						<li><a href="/user/${c.user.user_name}/votes">${_("Review decisions")}</a></li>						
						<li><a href="/adopted">${_("Adopted proposals")}</a></li>
					</ul>
					%endif
				</li>
				%if h.has_permission("vote.cast"):
					<li><a href="/user/${c.user.user_name}/delegations">${_("Delegations")}</a></li>
				%endif
				%if c.user and h.has_permission("instance.admin") or h.has_permission("global.admin"):
					<li class="admin">
						<a href="/instance/edit/${c.instance.key}">${_("Administration")}</a>
						<ul>
							<li><a href="/instance/edit/${c.instance.key}">${_("Edit %s") % c.instance.label}</a></li>
							%if c.user and h.has_permission("global.admin"):
								<li><a href="/admin/permissions">${_("Global Permissions")}</a></li>
							%endif
						</ul>	
					</li>
				%endif
			%else:
				<li><a href="/adhocracies" class="first">${_("Adhocracies")}</a></li>
			%endif
			<li><a href="/users">${_("Users")}</a></li>
			
		</ul>
		</td>
	</tr></table>
	
	<%def name="page()">
	<div id="page">			
		<div id="breadcrumbs">
			${self.breadcrumbs()}
		</div>
		<div id="content">
			${self.body()}
		</div>
	</div>
	</%def>
	
	<%def name="tpl_page()">
		${self.page()}
	</%def>
	
	${self.tpl_page()}
	
	<div id="footer">
		<div id="links">
			<div id="license">
				<a class="nolink" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">
					<img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/de/80x15.png" />
				</a>
			</div>
			
			<a class="nolink" href="http://liqd.net"><img id="button" src="/img/liqd_ev.png"/></a>
			<a class="nolink" href="http://wiki.liqd.net/Adhocracy">${_("adhocracy &middot; liquid democracy platform")|n}</a><br/>
			<a href="/page/about.html">${_("about")}</a> &middot;
			<a href="http://wiki.liqd.net/Adhocracy/Handbuch">${_("help")}</a> &middot; 
			<a href="http://trac.adhocracy.de/newticket">${_("report a problem")}</a> &middot;
			<a href="/page/privacy.html">${_("privacy")}</a> &middot; 
			<a href="/page/imprint.html">${_("imprint")}</a> &middot;
			${c.lib.get_version()}
			
		</div>
	</div>
</div>
</body>
</html>