<%namespace name="model" module="adhocracy.model"/>
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("No Title")}</%def>

<%def name="page_title()"><h1>${self.title()}</h1></%def>

<%def name="breadcrumbs()">&nbsp;</%def>

<%def name="contextbox()">&nbsp;</%def>

<%def name="page_actions()"></%def>

<%def name="page_actions_bar()">
	<div id="page_actions">
		${self.page_actions()}
	</div>
</%def>

<%def name="print_meta()">
	%for key, value in c.html_meta.items():
		<meta name="${key}" content="${value}" />
	%endfor
</%def>

<%def name="print_link()">
	%for link in c.html_link:
		<link rel="${link['rel']}" type="${link['type']}" title="${link['title']}" href="${link['href']}" />
	%endfor
</%def>

<!DOCTYPE html>
<html>
<!--

                         ''~``
                        ( o o )
+------------------.oooO--(_)--Oooo.-------------------+
|                                                      |
| Ok, here's the thing: Adhocracy does store sensitive | 
| information but we know it's not 100% secure. So if  |
| you find vulnerabilities, report them to us and we   |
| will send you a free T-shirt: "I hacked democracy".  |
| Deal?                                                | 
|                    .oooO                             |
|                    (   )   Oooo.                     |
+---------------------\ (----(   )---------------------+
                       \_)    ) /
                             (_/

-->
<head>
	<title>${self.title()} - 
		   	%if c.instance:
				 ${c.instance.label} 
		   	%endif
				${h.site_name()}
	</title>
	<link  rel="stylesheet" type="text/css"
		href="${h.instance_url(None, path='/style/base.css')}" />
	<link  rel="stylesheet" type="text/css" 
		href="${h.instance_url(None, path='/style/site.css')}"/>
	<link media="only screen and (max-device-width: 1024px)" type="text/css" rel="stylesheet"
		href="${h.instance_url(None, path='/style/ipad.css')}" />
	<link media="only screen and (max-device-width: 480px)" type="text/css" rel="stylesheet" 
		href="${h.instance_url(None, path='/style/iphone.css')}"/>
	<link rel="stylesheet" media="all and (orientation:portrait)" 
		href="${h.instance_url(None, path='/style/portrait.css')}">
	<link type="text/css" media="print" rel="stylesheet" 
		href="${h.instance_url(None, path='/style/print.css')}" />
	<link rel='shortcut icon' type='image/x-icon' 
		href='${h.instance_url(None, path='/favicon.ico')}' />
	
	${print_link()}
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	${print_meta()}
	
	%if c.canonical_url:
		<link rel="canonical" href="${c.canonical_url}" />
	%endif
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
	<script type="text/javascript" 
		src="${h.instance_url(None, path='/js/jquery.autocomplete.min.js')}"></script>	
	<script type="text/javascript" 
		src="${h.instance_url(None, path='/js/jquery.qtip.min.js')}"></script>
	<script type="text/javascript" 
		src="${h.instance_url(None, path='/js/jquery.timeago.js')}"></script>
	<script type="text/javascript" 
		src="${h.instance_url(None, path='/js/jquery.timeago.%s.js') % c.locale.language}"></script>
	<script type="text/javascript" 
		src="${h.instance_url(None, path='/js/adhocracy.js')}"></script>
	
</head>
<body>
<div id="frame">
	<div id="globalheader"><div class="headerbox">
		<div id="account">
			%if c.user:
				<strong>
					<a class="user_name" href="${h.entity_url(c.user)}">
						<img width="16" height="16" src="${h.gravatar_url(c.user, size=16)|n}"> ${c.user.name}
					</a>
				</strong>
				
				%if can.user.vote():
					%if c.instance.allow_adopt: 
						<a href="${h.entity_url(c.user, member='votes')}">${_("Votes")}</a>
					%endif
					%if c.instance.allow_delegate:
						<a href="${h.entity_url(c.user,member='delegations')}">${_("Delegations")}</a>
					%endif
				%endif
				%if c.instance:
					<a href="${h.entity_url(c.user, member='watchlist')}">${_("Watchlist")}</a></li>
				%endif
				<a href="${h.entity_url(c.user, member='edit')}">${_("Settings")}</a>
				<a href="/logout">${_("Logout")}</a>
			%else:
				<a href="/login">${_("Login")}</a> 
				<a href="/register">${_("Register")}</a>	
			%endif
		</div>
		<div id="navigation">
		<a href="${h.instance_url(None)}">
			<img src="/img/header_link.png" alt="${h.site_name()}"/>
		</a> 
		<a href="${h.instance_url(None, path='/instance')}">${_("Instances")}</a>
		%if h.has_permission("global.admin"):
			<a href="/admin/permissions?${h.url_token()}">${_("Permissions")}</a>
			<a href="/event/all">${_("Events")}</a>
		%endif
		<a href="${h.instance_url(None, path='/static/about.html')}">${_("Help")}</a>
		</div>
	</div></div>
	
	%if c.instance:
	<div id="instanceheader"><div class="headerbox">
		<a href="${h.instance_url(c.instance)}" id="logo">
			<img src="/instance/${c.instance.key if c.instance else '_def'}_48x48.png" />
		</a>
		<div id="menu">
			<ul>
				<li><a href="${h.entity_url(c.instance)}">${_("Home")}</a></li>
				<li><a href="/proposal">${_("Proposals")}</a></li>
				<li><a href="/page/Main_Page">${_("Documents")}</a></li>
				<li><a href="/user">${_("Members")}</a></li>
			</ul>
		</div>
		
		<form id="searchform" action="/search" method="GET">
		<label id="searchlabel" for="serp_q" class="armhint">${_("Search")}</label>
		<input id="search" name="serp_q" class="armlabel" autocomplete="off" />	
		</form>
	</div></div>
	%endif
	
	<div id="page">
		<div id="breadcrumbs">
			${self.breadcrumbs()}
		</div>	
		<% messages = h.flash.pop_messages() %>
		%if messages:
		<div id="flash_messages">
			<ul>
			%for message in messages:
	    		<li>${message}</li>
	    	%endfor
			</ul>
		</div>
		%endif
	
		<div class="content">
			${self.body()}
			<div style="clear: both;"></div>
		</div>
	</div>
</div>

<div id="footer">
	<div id="links">
		<div id="license">
			<a class="nolink" href="http://wiki.liqd.net/Adhocracy">
				<img alt="Adhocracy" src="/img/footer_logo.png" />
			</a>
			<br/>
			<a class="nolink" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">
				<img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/de/80x15.png" />
			</a>
			<a class="nolink" rel="license" href="http://www.opendefinition.org/">
				<img alt="Open Definition" src="http://m.okfn.org/images/ok_buttons/oc_80x15_blue.png" />
			</a>
			
		</div>
		
		<ul>
			<li><strong>${_("adhocracy")}</strong></li>
			<li><a href="/static/about.html">${_("what is liquid democracy")}</a></li>
			<li><a href="http://wiki.liqd.net/Adhocracy">${_("adhocracy software")}</a></li>
			<li><a href="http://docs.adhocracy.cc/">${_("api documentation")}</a></li>
			<li><a href="/static/codex.html">${_("code of conduct")}</a></li>
			<li><a href="/static/terms.html">${_("terms and conditions")}</a></li>
			<li><a href="/static/privacy.html">${_("privacy")}</a></li>
		</ul>
		<ul>
			<li><strong>${_("liqd e.V.")}</strong></li>
			<li><a href="http://wiki.liqd.net">${_("theory wiki (de)")}</a></li>
			<li><a href="http://blog.liqd.net">${_("liqd blog (de)")}</a></li>
			<li><a href="http://twitter.com/liqd_net">${_("twitter")}</a></li>
			<li><a href="http://lists.liqd.net/cgi-bin/mailman/listinfo/announce">${_("mailing list")}</a></li>
			<li><a href="/static/imprint.html">${_("imprint")}</a></li>
		</ul>
	</div>
</div>


%if config.get('piwik.site'):
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "${config.get('piwik.site')}" : "${config.get('piwik.site')}");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", ${config.get('piwik.id')});
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="${config.get('piwik.site')}piwik.php?idsite=${config.get('piwik.id')}" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->
%endif

</body>
</html>