<%namespace name="model" module="adhocracy.model"
/><%namespace name="components" file="/components.html"
/><%namespace name="navigation" file="/navigation.html"
/><%def name="breadcrumbs()">&nbsp</%def><%

# from js.jquery import jquery
# jquery.need()

%><!DOCTYPE html>
<html class="no-js">
  <head>
      <%block name="head">
      ${components.head()}
      </%block>
  </head>


<body lang="${c.locale.language}">
    <div class="overlay" id="overlay-default">
      <a class="close"></a>
      <!-- the external content is loaded inside this tag -->
      <div class="contentWrap"></div>
    </div>    
  <!-- begin: header -->
  <header>
    <div id="header" class="${'logged_in' if c.user else ''}">
      <div class="page_margins">
        <div class="page_wrapper">
          <!-- begin: top navi -->
          <div id="topnav">
            <!-- start: skip link navigation -->
            <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
            <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
            <!-- end: skip link navigation -->
            <a href="#" class="icon_link follow">Follow us!</a>
          </div>

          <%include file="logo.html" />
          ${navigation.global_nav(c.active_global_nav)}
        </div>
      </div>
    </div>
  </header>

  %if c.instance:
  ${navigation.subheader_instance_navigation(c.active_subheader_nav)}
  %endif


  ${c.subnav}
  <div id="main">
      <div class="page_margins">
          <div class="page_wrapper">
              <!-- begin: page content -->
              <%block name="content_wrapper">
              <div class="full_teaser">
                  <%block name="headline" />
              </div>
              <div id="col1">
                  <div id="col1_content" class="clearfix">
                      
                      <%block name="main_content" />
                      
                  </div>
              </div>
              
              <aside>
                  <div id="col3">
                      <div id="col3_content" class="clearfix">
                          <%block name="sidebar" />
                      </div>
                      <!-- IE Column Clearing -->
                      <div id="ie_clearing"> &#160; </div>
                  </div>
              </aside>
              </%block>
          </div>
      </div>

      <!-- Fixme: Here to render error pages -->
      ${self.body()}

  <div class="clearfix"> </div>

  <%include file="piwik.html"/>

  <footer>
    <div id="footer">
      <div class="page_margins">
        <div class="page_wrapper">
          <div id="footer_line">
            <div id="second_footer_line" class="subcolumns" role="complementary">
              <div class="c33l footer_content">
                <div id="footer_logos" class="subcl">
                  <a href="#" title="Liquid Democracy e.V."><img src="/images/logo_liquid_democracy_ev_footer.png" alt="Liquid Democracy e.V." /></a><br />
                  <a href="#" title="Adhocracy.de"><img src="/images/logo_adhocracy_de_footer.png" alt="Adhocracy.de" /></a><br />
                  <a href="#" title="AdhocracyCode"><img src="/images/logo_adhocracy_code_footer.png" alt="AdhocracyCode" /></a><br />
                  <a href="#" title="LDSupport"><img src="/images/logo_ld_support_footer.png" alt="LDSupport" /></a><br />
                  <a href="#" title="FoLD"><img src="/images/logo_fold_footer.png" alt="FoLD" /></a><br />
                </div>
              </div>

              <div class="c33l footer_content">
                <div class="subc">
                  <div class="footer_box">
                    <h3>Liquid Democracy Support</h3>
                    <p>Über den Support Bereich erreichen Sie die Menschen, die hinter der Software Adhocracy stehen. Gerne helfen wir Ihnen mit unserer Erfahrung und unterstützen Sie mit professioneller Beratung, Schulungen, Vorträgen, individueller Softwareanpassung und vielem mehr. Sprechen Sie uns einfach an! <a href="http://liquid-democracy.staging_wordpress.adhocracy.cc/uber-uns/organisation/ldsupport//">Mehr...</a></p>
                    <div class="subcolumns">
                      <div class="c50l">
                        <h3>Adhocracy.de</h3>
                        <ul>
                          <li><a href="#">Impressum</a></li>
                          <li><a href="#">AGB</a></li>
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Hilfe</a></li>
                          <li><a href="#">Kontakt</a></li>
                        </ul>
                      </div>
                      <div class="c50r">
                        <h3>Folge dem Liquid Demecracy e.V. auf</h3>
                        <a href="#"><img src="/images/twitter_icon_footer.png" alt="twitter" /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="c33r footer_content">
                <div class="subcr">
                  <div class="footer_box">
                    <h3>Newsletter bestellen</h3>
                    <p>Um regelmäßig über Neuigkeiten informiert zu werden, können Sie hier unseren Newsletter abonnieren.</p>
                    <div class="subcolumns">
                      <h3>Diese Plattform wird betrieben mit</h3>
                      <p><a href="#" title="AdhocracyCode"><img src="/images/logo_adhocracy_code_footer.png" alt="AdhocracyCode" /></a></p>
                      <p>
                        <a href="http://creativecommons.org/licenses/by/3.0/de/" rel="license"><img src="/images/80x15.png" alt="Creative Commons License"></a>
                        <a href="http://www.opendefinition.org/" rel="license"><img src="/images/oc_80x15_blue.png" alt="Open Definition"></a>
                        Vs 1.1
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

    <!-- Fixme: turn into a Fanstatic resource -->
    <script type="text/javascript" language="javascript" src="/javascripts/adhocracy.js" charset="utf-8"></script>

  </body>
</html>
