<%inherit file="/template.html" />
<%namespace name="catlist" file="/category/tree.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("New category")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance.root)|n} &raquo; ${_("New category")}
</%def>

<form name="create_category" class="inplace" method="POST" action="/category/create">
	${h.field_token()|n}
	<div id="page_title">
		<label for="label" class="armhint">${_("New category")}</label>
		<input tabindex="1" class="title armlabel" name="label" />
	</div>
	
	<h3>${_("Description")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("Describe the category's content. Line out what belongs into this " +
			    "category and what doesn't.")} 
		</div>
	</div>
	<div class="mainbar">
		<textarea tabindex="2" class="description" name="description"></textarea>
		${components.formatting()}
	</div>
	
	
	<h3>${_("Categorization")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("Select another category which is going to be the parent to the new " +
			    "category.")}
		</div>
	</div>
	<div class="mainbar">
		${catlist.contextselect(type="radio", root=True)}
	</div>
	
	<div style="clear: both;"></div>
	${components.savebox("/category/%s" % request.params.get('cat'))}
</form>