<%inherit file="/template.html" />
<%namespace name="catlist" file="/category/tree.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Edit %s") % c.category.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.category)|n} &raquo; ${_("Edit")}
</%def>

<form name="create_category" class="inplace" method="POST" action="/category/edit/${c.category.id}">
	${h.field_token()|n}
	<div class="page_title">
		<label for="label" class="armhint">${_("Category title")}</label> 
		<input tabindex="1" class="title armlabel" name="label" value="${c.category.label}"/>
	</div>
	
		
	<h3>${_("Description")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("Describe the category's content. Line out what belongs into this " +
			    "category and what doesn't.")} 
		</div>
	</div>
	<div class="mainbar">
		<textarea tabindex="2" class="description" name="description"></textarea>
		${components.formatting()}
	</div>
	
	
	<h3>${_("Categorization")}</h3>
	<div class="sidebar">
		<div class="infobox">
			${_("Select another category which is going to be the parent to the new " +
			    "category.")}
		</div>
	</div>
	<div class="mainbar">
		${catlist.contextselect(type="radio", sels=c.category.parents, root=True)}
	</div>
	
	<div style="clear: both;"></div>
	${components.savebox("/category/%s" % c.category.id)}
</form>