
<%def name="list_item(tile, category)">
	<li class="list_tile category">
		<span class="text"><a href="/category/${category.id}">${category.label}</a></span>
	
		<span class="meta">
			(${ungettext("%s issue", "%s issues", tile.num_issues) % tile.num_issues}) 
		</span>
	</li>
</%def>

<%def name="row(tile, category)">
	<div class="tile">
		<div class="logo">
			<img src="/img/icons/stack_24.png" />
		</div>
		<h3><a class="link" href="/category/${category.id}">${category.label}</a></h3>
		<div class="text">
			${tile.tagline}
		</div>
		<div class="meta">
			${h.user_link(category.creator)|n}  
			&middot; ${_("created %s") % h.relative_time(category.create_time)}
			&middot; ${ungettext("%s category", "%s categories", tile.num_categories) % tile.num_categories}
			&middot; ${ungettext("%s issue", "%s issues", tile.num_issues) % tile.num_issues}
		</div>
	</div>
</%def>