<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Export")}</%def>

<%def name="breadcrumbs()">
    ${h.breadcrumbs.generate_breadcrumbs(_("Export"))|n}
</%def>

<h1>${_("Export")}</h1>

<form method="post" action="/admin/export/do" class="exportform">
    <div>
        <input type="checkbox" name="users_enabled" id="users_enabled" checked="checked" />
        <label for="users_enabled">${_("Export users")}</label>
        <div class="importexport_settings">
            <div>
                <label>
                    <input type="checkbox" name="user_personal" checked="checked" />
                    ${_("Include personal data")}
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="user_password" />
                    ${_("Include password hashes")}
                </label>
            </div>
        </div>
        <label>
            <input type="checkbox" name="badges" checked="checked" />
            ${_("Export badges")}
        </label>
    </div>

    <div>
        <input type="checkbox" name="instances_enabled" id="instances_enabled" checked="checked" />
        <label for="instances_enabled">${_("Export content (instances)")}</label>

        <div class="importexport_settings">
            <div>
                <input type="checkbox" name="proposals_enabled" id="proposals_enabled" checked="checked" />
                <label for="proposals_enabled">${_("Include proposals")}</label>
                <div class="importexport_settings">
                    <div>
                        <input type="checkbox" name="proposals_comments_enabled" id="proposals_comments_enabled" checked="checked" />
                        <label for="proposals_comments_enabled">${_("Include comments")}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        ${_("Export format:")}
        <label>
            <input type="radio" name="format" value="json_download" checked="checked" />${_('JSON download')}
        </label>
        <label>
            <input type="radio" name="format" value="json" />${_('JSON')}
        </label>
        <label>
            <input type="radio" name="format" value="zip" />${_('ZIP download')}
        </label>
    </div>

    <div class="savebox">
        <button type="submit" tabindex="99">${_("Export Now")}</button>
    </div>
</form>
