<%inherit file="/template.html" />
<%namespace name="forms" file="/forms.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Admin: Import Users")}</%def>

<%block name="headline">
    <h1>${_("Import Users")}</h1>
</%block>

<%block name="main_content">
<form name="import_users" class="well" method="POST">

    ${h.field_token()|n}

    <div class="input_wrapper">
        <%forms:textarea 
            label="${_('Users CSV')}"
            name="users_csv"
            value=""
            tabindex="1"
            help="${_('Paste the content of a CSV file, e.g. exported from Excel, with the 3 columns username, display name and email')}">

        </%forms:textarea>


        ${forms.input(_("Email Subject"), "email_subject", 2)}

        <%forms:textarea label="${_('Email Template')}" 
                         name="email_template"
                         value=""
                         tabindex="3">
           <%def name="before()">
           <div class="help-block">
               <p>${_('The template for the mail to the users. You need to insert some placeholders into the email text.')}</p>
               <h6>${_('Required')}</h6>
               <ul class="nobullet">
                   %for item in c.placeholders['required']:
                   <li><em>${item['name']}</em>: ${item['description']}</li>
                   %endfor
               </ul>
               <h6>${_('Optional')}</h6>
               <ul class="nobullet">
                   %for item in c.placeholders['optional']:
                   <li><em>${item['name']}</em>: ${item['description']}</li>
                   %endfor
               </ul>
           </div>
           </%def>
        </%forms:textarea>
    </div>
    ${components.savebox("")}
</form>

</%block>
