<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Admin: Import Users")}</%def>

<%block name="headline">
    <h1>${_("Import Users")}</h1>
</%block>

<%block name="main_content">
<form name="import_users" class="inplace" method="POST">

    ${h.field_token()|n}

    <div class="input_wrapper">
        <label for="users_csv">${_("Users CSV")}</label>
        <p>${_("Paste the content of a CSV file, e.g. exported from Excel, with the 3 columns username, display name and email")}</p>

        <textarea tabindex="1" name="users_csv"></textarea>

        <label for="email_subject">${_("Email Subject")}</label>
        <input type="text" name="email_subject" value="" />

        <label for="email_template">${_("Email Template")}</label>
        <p>${_('The template for the mail to the users. You need to insert some placeholders into the email text.')}</p>
        <h6>${_('Required')}</h6>
        <ul class="nobullet">
            %for item in c.placeholders['required']:
            <li><em>${item['name']}</em>: ${item['description']}</li>
            %endfor
        </ul>
        <h6>${_('Optional')}</h6>
        <ul class="nobullet">
            %for item in c.placeholders['optional']:
            <li><em>${item['name']}</em>: ${item['description']}</li>
            %endfor
        </ul>
        <textarea tabindex="2" name="email_template"></textarea>
    </div>
    <div class="input_wrapper submit">
        ${components.savebox("")}
    </div>


</%block>
