.plus:before {
font-weight: bold;
content: "+ ";
}

/* images - make wordpress styles work */
.alignleft {
  float: left;
  margin-right: 14px;
}
.alignright {
  float: right;
  margin-left: 14px;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption-text,
.wp-caption-dd {
  font-size: 9px;
  line-height: 17px;
  padding: 0 4px 5px;
  text-align: left;
}

.top_actions {
  padding-bottom: 1em;
}

.register {
  line-height: 27px;
  font-size:13px;
}
.register a.link_more_info,
.register a.link_more_info:hover {
  color: #446191;
}
.register a.link_register_now,
.register a.link_about_info {
  background-position: 10px -600px;
}
.register a.link_register_now:hover,
.register a.link_about_info:hover {
  background-position: 10px -650px;
}

/* class helper */
.hlist ul {
  list-style: none;
  display: inline;
}
.hlist li {
  display: inline-block;
}

.meta, .utility {
  color: #666;
  font-size: 11px;
  margin-bottom: 10px;
}
.utility h2, .utility h3, .utility h4 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
}

.close { display: none; }
.open { display: block; }

.countdown { font-size: 11px; }

.over { font-size: 11px; color: darkred; }

section { margin-bottom: 40px; }

.full_teaser {
  padding: 0 23px;
}

.full_teaser h1 {
  margin-left: 0;
  margin-right: 0;
}

/*
Added during template integration
*/

.inline_input_wrapper {
float: left;
padding: 10px;
}

.input_wrapper .right {
float: right;
}

.inline_input_wrapper .button {
padding: 0 30px;
}

/* Stats on the front page */
#stats {
    font-size: 20px;
    text-align: center;
    border-top: 1px dotted #cccccc;
    padding-top: 14px;
}

.sp-replacer {
  margin-bottom: 0.5em;
}

#add_tags {
  padding-bottom: 10px;
}

.content_box .more {
  float: right;
  padding-top: 1em;
}
.more_arrow {
  background: url("/images/sprite_icons.png") no-repeat right -50px;
  padding: 7px 40px 2px 10px;
}
.more_arrow.less {
  background: url("/images/sprite_icons.png") no-repeat right 0px;
}

/* Fixes for js.socialshareprivace */

#socialshareprivacy form {
  padding: 0;
}

iframe {
  border: none;
}

.languagelist label {margin: 0; padding: 0;}

.password-reset-link {
  display: inline-block;
  width: 206px;
  padding-left: 12px;
  text-align: right;
  padding-right: 0;
}

.staticpage_edit {float: right;}
