.plus:before {
font-weight: bold;
content: "+ ";
}

/* images - make wordpress styles work */
.alignleft {
  float: left;
  margin-right: 14px;
}
.alignright {
  float: right;
  margin-left: 14px;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption-text,
.wp-caption-dd {
  font-size: 9px;
  line-height: 17px;
  padding: 0 4px 5px;
  text-align: left;
}

.top_actions {
  padding-bottom: 1em;
}

.register {
  line-height: 27px;
  font-size:13px;
}
.register a.link_more_info,
.register a.link_more_info:hover {
  color: #446191;
}
.register a.link_register_now,
.register a.link_about_info {
  background-position: 10px -600px;
}
.register a.link_register_now:hover,
.register a.link_about_info:hover {
  background-position: 10px -650px;
}

/* class helper */
.hlist ul {
  list-style: none;
  display: inline;
}
.hlist li {
  display: inline-block;
}
.content_list {
  list-style: none;
  margin: 0;
}

.content_list li {
  margin-bottom: 10px;
}
.content_list h3,
#col3 .content_list h3 {
    font-size: 16px;
}

.content_list .level-1 {
  padding-left: 1.5em;
}
.content_list .level-2 {
  padding-left: 3em;
}
.content_list .level-3 {
  padding-left: 4em;
}
.content_list .level-4 {
  padding-left: 5.5em;
}
.content_list .level-5 {
  padding-left: 7em;
}

li.content_box {
  padding: 10px 0 0 0;
  margin-bottom: 0;
  background: url('/images/list_bg.png') right top no-repeat;
}
li.content_box h3, li.content_box p, li.content_box .meta {
  padding-right: 20px;
}
li.content_box .hr {
  margin-bottom: 0;
}
li.content_box .base {
  padding-left: 47px;
  background: no-repeat;
}
.meta, .utility {
  color: #666;
  font-size: 11px;
  margin-bottom: 10px;
}
.utility h2, .utility h3, .utility h4 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
}

.close { display: none; }
.open { display: block; }

.countdown { font-size: 11px; }

.over { font-size: 11px; color: darkred; }

section { margin-bottom: 40px; }

.full_teaser {
  padding: 0 23px;
}

.full_teaser h1 {
  margin-left: 0;
  margin-right: 0;
}

/* papers */
ul.papers_list {
  margin: 0;
  padding-bottom: 20px;
  list-style: none;
}
ul.papers_list li {
  cursor: pointer;
}
.paper_head h4 { float: left; }
.paper_head a { float: right; }
.paper p {
  display: inline;
}

/* comments */
ul.comments_list, .comment_wrapper {
  background: url('/images/gradient_comments.jpg') repeat-y top left #e5e6e8;
  margin: 0;
  list-style: none;
}
ul.comments_list ul {
  margin: 0;
  list-style: none;
}
ul.comments_list li, .comment_wrapper .comment {
  padding: 10px 0 0 20px;
  border-top: 1px solid #fff;
  cursor: pointer;
}

.comment_wrapper .comment {
  padding: 10px 20px 20px 20px;
}

.comment_wrapper .comment.empty {
  padding-top: 20px;
  font-weight: bold;
  font-style: italic;
  color: #999;
}
ul.comments_list > li {
  padding: 10px 20px 0 20px;
}
.comment_actions, .paper_actions {
  padding-top: 10px;
}
.comment_actions .vote_comment, .comment_actions .show_comments, .comment_actions .new_comment, .paper_actions .vote_paper, .paper_actions .show_comments, .paper_actions .new_comment, .paper_actions .participate {
  float: left;
  margin-right: 10px;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 10px;
}
.comment_actions .vote_comment {
  padding-left: 0;
  padding-top: 1px;
}
.comment_actions .utility {
  float: right;
}
.paper_actions .meta {
  float: right;
}

/* instance */
.content_list .logo {
  float: left;
  margin: 0 10px 10px 0;
}

/* footer */
#footer .page_wrapper {
  padding: 40px 23px;
  background: url('/images/shadow_footer.jpg') no-repeat top center;
}
#footer_line {
  background: url('/images/line_footer.gif') repeat-y 314px 20px;
}
#second_footer_line {
  background: url('/images/line_footer.gif') repeat-y 643px 20px;
}
.footer_content {
  padding: 0;
  margin-bottom: 0;
  background: none;
}
.footer_content h3 {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.footer_content a { text-decoration: underline; }
.footer_content a:hover { text-decoration: none; }

.footer_content ul li ul {
  list-style-type: disc;
}
.footer_box { padding:  0 5px; }

.content_box {
  padding: 20px 5px;
  margin-bottom: 20px;
  background: url('/images/gradient_box_306.jpg') no-repeat bottom right;
}

/*
Added during template integration
*/



.inline_input_wrapper {
float: left;
padding: 10px;
}

.input_wrapper .right {
float: right;
}

.inline_input_wrapper .button {
padding: 0 30px;
}

/* Stats on the front page */
#stats {
    font-size: 20px;
    text-align: center;
    border-top: 1px dotted #cccccc;
    padding-top: 14px;
}

/* History listings */
.tile.text.history .title {
font-size: 16px;
font-weight: bold;
margin-bottom: 0;
}

/* Permissions table */

#permissions th.group { vertical-align: bottom;
    padding-bottom: 15px;
    vertical-align: bottom;
}

#permissions th.group p {
    -moz-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
    -o-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    transform: rotate(-75deg);
}

.sp-replacer {
  margin-bottom: 0.5em;
}

#add_tags {
  padding-bottom: 10px;
}

.content_box .more {
  float: right;
  padding-top: 1em;
}
.more_arrow {
  background: url("/images/sprite_icons.png") no-repeat right -50px;
  padding: 7px 40px 2px 10px;
}
.more_arrow.less {
  background: url("/images/sprite_icons.png") no-repeat right 0px;
}

#milestone_title {
  padding-top: 0.3em;
}

#milestone_title .date {
  font-size: 0.7em;
}

#milestone #associated-norms {
  padding-top: 2em;
}

.milestone_row_date {
  padding-left: 20px;
  padding-top: 2px;
  margin-left: -2px;
  background: url('/images/icon_calendar.png') no-repeat;
}

#proposal_list_header {
  float: left;
}

.create_proposal_link {
  float: right;
  background: url("/images/sprite.png") no-repeat left 2px;
  position: relative;
  top: 25px;
}

.tile.event:first-child {
  background: none;
  border-bottom: none;
}

.tile.event {
  padding: 10px 0 2px 0;
  /*border-bottom: 1px dotted #cccccc;*/
  background: url('/images/line_dotted_3.png') repeat-x top left;
}

.event_text {
  padding: 3px 0;
}

/* force markdown created text to be small */
.event_text * {
  margin: 0 !important;
  padding: 0 !important;
  font-size: small !important;
  background: none !important;
  /*color: #666666 !important;*/
  font-variant: none !important;
}
.event_text li {
  margin-left: 20px !important;
}

/* Fixes for js.socialshareprivace */

#socialshareprivacy form {
  padding: 0;
}

#feedback {
  position: fixed;
  right: -350px;
  top: 120px;
  width: 377px;
  overflow: normal;
  z-index: 11;
}

#feedback_form {
  position: absolute;
  right: 0px;
  width: 350px;
}

#feedback_button {
  background: url("/images/feedback_simple_vertical.png") no-repeat 0px 0px transparent;
  position: absolute;
  left: 0px;
  width: 27px;
  height: 140px;
}

iframe {
  border: none;
}

.languagelist label {margin: 0; padding: 0;}

.massmessage_filter>div {float: left;}
.massmessage_filter>div:not(:first-of-type) {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 1px solid #ddd;
}
.massmessage_preview {background: inherit;}
.massmessage_preview dl {margin: 0;}
.massmessage_preview dt {float: left; min-width: 5em;}
.massmessage_preview dt, .massmessage_preview dd {margin: 0;}
/* Override bootstrap mis-definitions */
.massmessage_preview dt, .massmessage_preview dd {line-height: inherit;}

.message_preview_body {background: #ccc; white-space: pre-wrap; margin-bottom: 0.5em;}

.importexport_settings {margin-left: 30px;}

.password-reset-link {
  display: inline-block;
  width: 206px;
  padding-left: 12px;
  text-align: right;
  padding-right: 0;
}

.staticpage_edit {float: right;}
