$primary-color: #446191;
$black: #2d3441;
$button-color: #888;
$red: #9D4647;
$green: #479459;
$register-color: $green;
$header-color: #2b2b2b;
$header-color2: #3c3c3c;

$bg1: #f4f4f4;
$bg2: #e6e6e6;
$border: #ccc;
$fg1: #666;

$flash: #fffde4;
