$primary-color: #446191;
$black: #2d3441;
$button-color: #888;
$red: #9D4647;
$green: #479459;
$register-color: $green;
$header-color: #2b2b2b;
$header-color2: #3c3c3c;
$heading-color: $primary-color;

$bg1: #f4f4f4;
$bg2: #e6e6e6;
$border: #ccc;
$fg1: #777;

$flash: #fffde4;

$smaller: smaller;
$larger: larger;

$x-small: 9px;
$small: 11px;
$medium: 13px;
$large: 15px;
$x-large: 20px;

$min-width: 1004px;
$min-width-large: 1004px;
$max-width: 1004px;
