<%namespace name="comment_tiles" file="/comment/tiles.html"/>

<%def name="history_row(tile, text)">
	<div class="tile text history">
		<ul>
			<li>${diff.page_title_compare(text, text.parent)|n}</li>
			%if text.page.has_variants:
				<li>${text.variant}</li>
			%endif
			<li>${_("by %s, ") % h.user.link(text.user, scope=text.page)|n}
					${_("created %s") % h.relative_time(text.create_time)|n}</li>
		</ul>
	</div>
	
	<div class="headrev">
			%if text.has_text:
				<div class="text">
					${diff.page_texts_history_compare(text, text.parent)|n}
				</div>
			%else:
				<div class="infobox">
					${_("This revision has no text.")}
				</div>
			%endif
	</div>
</%def>


<%def name="full(tile, text, subpages_pager=None)">
    <div class="" id="page_${text.page.id}">
    	<div class="panel">
    		<div class="menu">
    			<ul>
    				<li><a class="expand_tab" title="text_${text.id}@page_${text.page.id}">
    					${_("Text")}
    				</a></li>
    				<li><a class="expand_tab" title="comments_${text.id}@page_${text.page.id}">
    					${_("Discussion (%s)") % len(text.page.variant_comments(text.variant))}
    				</a></li>
    				%if subpages_pager is not None and len(subpages_pager._items):
    				    <li><a class="expand_tab" title="subpages_${text.id}@page_${text.page.id}">
        					${_("Subpages (%s)") % len(subpages_pager._items)}
        				</a></li>
    				%endif
    			</ul>
    		</div>
    	</div>
	
    	<div class="expand_area selected" id="text_${text.id}">
            %if text.has_text:
            	<div class="tile">
            	${text.render()|n}
            	</div>
            %else:
            	<div class="infobox">
            		%if text.page.function == text.page.NORM:
            			${_("This norm has not yet been decided and is thus no official position of this group.")}
            		%else:
            			${_("This document has no text yet.")}
            		%endif
            	</div>
            %endif
        </div>
        
        %if subpages_pager is not None and len(subpages_pager._items):
            <div class="expand_area area_hidden" id="subpages_${text.id}">
        		<div id="pages_table" class="table">
        			${subpages_pager.here()}
        		</div>
        	</div>
    	%endif
	    
	    <div class="expand_area area_hidden" id="comments_${text.id}">
    	    ${tiles.comment.list(text.page, variant=text.variant)}
    	</div>
	</div>
</%def>



<%def name="descbox(tile, this, other, options, field)">
	%if options:
		<form action="/page/diff" method="GET" id="diff_left_form">	
		<input type="hidden" name="right" value="${other.id}" />
	%endif

	<div class="variant_header">
		<ul class="variant_innerheader">
			%if this.title != other.title:
				<li>${_("Title:")|n} <b><a href="${h.entity_url(this)|n}">${this.title}</a></b></li>
			%endif
			<li>
			%if options:
				${_("Variant:")|n}
				<select name="left" id="diff_left_select">
					%for text in options:
						%if text == this:
							<option value="${text.id}" selected="selected">${text.variant_title}</option>
						%elif text == other:
							<!-- nop -->
						%else:
							<option value="${text.id}">${text.variant_name}</option>
						%endif
					%endfor
				</select>
				<a href="${h.entity_url(this)|n}">${_("see")}</a>
			%else:
				${_("Variant:")} 
				%if field is not None:
					<label for="variant" class="armhint">${_("Variant Name")}</label>
					<input class="armlabel" name="variant" maxlength="75" value="${field}"/>
					<div class="help">
						&middot; ${h.help_link(_("help"), 'selection_faq', anchor='whatisvariant')|n}
					</div>
				%else:
					<b><a href="${h.entity_url(this)|n}">${this.variant_name}</a></b>
				%endif
			%endif
			
			</li>
			<li>
				${_("%s by %s") % (h.relative_time(this.create_time), 
													 h.user.link(this.user, scope=this.page))|n}
				&middot; <b><a href="${h.entity_url(this, member='history')|n}">${_("historic versions")}</a></b>
			</li>
		</ul>
		%if options:
			<noscript>
				<input type="submit" value="${_("Compare")}" />
			</noscript>
		%endif
	</div>
	
	%if options:
		</form>
	%endif
</%def>

