<%namespace name="comment_tiles" file="/comment/tiles.html"/>

<%def name="history_row(tile, text)">
	<div class="tile text history">
		<ul>
			%if (not text.parent) or text.parent.title != text.title:
				<li>${tile.parent_title_diff|n}</li>
			%endif
			%if text.page.has_variants:
				<li>${text.variant}</li>
			%endif
			<li>${_("by %s, ") % h.user_link(text.user, scope=text.page)|n}
					${_("created %s") % h.relative_time(text.create_time)|n}</li>
		</ul>
	</div>
	
	<div class="headrev">
			<div class="text">
				${tile.parent_text_diff|n}
			</div>
	</div>
</%def>


<%def name="full(tile, text)">
	%if text.variant != c.model.Text.HEAD:
		<div class="infobox">${_("Currently showing the %s variant") % text.variant}</div>
	%endif
	${text.render()|n}

	%if can.comment.create():
		<div class="comment">
			${comment_tiles.create_form(None, text.page)}
		</div>
	%endif 

	%if not text.page.comment_count():
		<div class="infobox">
			${_("No comments were made yet.")}
		</div>
	%endif
	%for (reply, r_tile) in tile.comments():
		${tiles.comment.full(reply, recurse=True)}
	%endfor
</%def>

