<%inherit file="/template.html" />

<%def name="title()">${_("Change request: %s") % c.right.title}</%def>

<%def name="breadcrumbs()">${h.breadcrumbs(c.right)|n}</%def>

${tiles.page.header(c.right.page, c.tile, active='diff', text=c.right, variant=c.variant)}

<div class="lefthalf double">
	${tiles.text.descbox(c.left, c.right, options=c.left_options)}
</div>

<div class="righthalf double">
	${tiles.text.descbox(c.right, c.left)}
</div>

<div style="clear: both;"></div>

<div class="lefthalf double">
	${c.right_diff|n}
</div>

<div class="righthalf double">
	${c.right_diff|n}
</div>

<div style="clear: both;"></div>
<br/>

<div class="sidebar">
	${tiles.tag.sidebar(c.right.page)}
	${tiles.delegation.sidebar(c.right.page, c.tile)}
</div>

<div class="mainbar">
	${tiles.text.comments(c.right)}
</div>

