<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Variant: %s") % c.text.title}</%def>

<%def name="breadcrumbs()">${h.text.breadcrumbs(c.text)|n} &raquo; ${_("Edit variant")}</%def>

<%block name="main_content">

<form name="edit_page" class="inplace" method="POST" action="${h.entity_url(c.page)}">
    ${h.field_token()|n}
    <input type="hidden" name="parent_text" value="${c.text.id}" />
    <input type="hidden" name="branch" value="${c.branch}" />

    %if c.text.is_head:
    <input type="hidden" name="variant" value="${c.variant}"/>
    %else:
    <label for="variant">${_("Variant")}</label>
    <input type="text" name="variant" value="${c.variant}"/>
    %endif

    %if c.text.is_head and h.has_permission('instance.admin'):
    <label for="title">${_("Title")}</label>
    <input type="text" name="title" value="${c.text.title}"/>  
    %else:
    <input type="hidden" name="title" value="${c.text.title}"/>
    %endif

    %if c.proposal:
        <input type="hidden" value="${c.proposal}" name="proposal" />
    %endif

    <input type="hidden" name="_method" value="PUT" /> 
    
    <label for="text">${_("Title")}</label>
    <textarea tabindex="2" rows="${c.text_rows}" 
              cols="${model.Text.LINE_LENGTH}" 
              name="text">${c.text.text}</textarea>

    %if c.instance.milestones and can.page.manage(c.page):
    <br/>
    <br/>
    <label for="milestone">${_("Relates to a milestone")}</label>
    ${tiles.milestone.select(c.page.milestone)}
    %endif


        ${components.formatting()}
        ${components.savebox(h.entity_url(c.text))}
        ${components.form_watch(c.page)}
    </div>

</form>
</%block>

