<%inherit file="/template.html" />
<%namespace name="tiles_html" file="/proposal/tiles.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Edit %s") % c.page.title}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.text)|n} &raquo; ${_("Edit")}
</%def>

<form name="edit_page" class="inplace" method="POST" action="${h.entity_url(c.page)}">
	${h.field_token()|n}
	<input type="hidden" name="parent_text" value="${c.text.id}" />
	<input type="hidden" name="variant" value="${c.text.variant}" />
	<input type="hidden" name="_method" value="PUT" /> 
	%if c.proposal:
		<input type="hidden" value="${c.proposal}" name="proposal" />
	%endif
	<div class="page_title">
		<label for="title" class="armhint">${_("Page Title")}</label>
		<input tabindex="1" class="title armlabel" name="title" value="${c.text.title}"/>
	</div>
	
	<div class="sidebar">
		&nbsp;
	</div>
	<div class="mainbar">
		<textarea tabindex="2" class="description armlabel" rows="${c.text_rows}" name="text">${c.text.text}</textarea>
		${components.formatting()}
	</div>
	
	<div class="sidebar">
		&nbsp;
	</div>
	<div class="mainbar">
		%if can.page.variant_edit(c.page, c.model.Text.HEAD):
			<label for="parent">${_("Parent page:")}</label>
			${tiles.page.select_page(field_name="parent_page", select=c.page.parent, 
			   									     exclude=[c.page], functions=c.model.Page.PARENT_FUNCTIONS)}
		%endif
	</div>
	
	<div style="clear:both;"></div>
	<div class="sidebar">
		<div class="infobox">
			<a target="_new" href="/static/page_faq.html">${_("More help...")}</a>
		</div>
	</div>
	<div class="mainbar">
		${components.savebox(h.entity_url(c.text))}
		${components.form_watch(c.page)}
	</div>
</form>