<%inherit file="/template.html" />
<%namespace name="tiles_html" file="/proposal/tiles.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Edit %s") % c.page.title}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.text)|n} &raquo; ${_("Edit")}
</%def>

<form name="edit_page" class="inplace" method="POST" action="/page/${c.page.alias}">
	${h.field_token()|n}
	<input type="hidden" name="_method" value="PUT" /> 
	<div class="page_title">
		<label for="title" class="armhint">${_("New Page")}</label>
		<input tabindex="1" class="title armlabel" name="title" value="${c.text.title}"/>
	</div>
	
	<div class="sidebar">
		<input name="variant" value="${c.text.variant}" /
		>
	</div>
	<div class="mainbar">
		<textarea tabindex="2" class="description armlabel" name="text">${c.text.text}</textarea>
	</div>
	
	<div style="clear:both;"></div>
	<div class="sidebar">
		<div class="infobox">
			<a target="_new" href="/static/page_faq.html">${_("More help...")}</a>
		</div>
	</div>
	<div class="mainbar">
		${components.savebox("/page/%s" % c.page.id)}
		${components.form_watch(c.page)}
	</div>
</form>