<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="comment_tiles" file="/comment/tiles.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="title()">${c.page.title}</%def>

<%def name="breadcrumbs()">${h.text.breadcrumbs(c.text)|n}</%def>

<%block name="headline">
%if c.page.proposal:
    ${tiles.proposal.header(c.page.proposal, None, active='history')}
%else:
    ${tiles.page.header(c.page, c.tile, active='history', text=c.text, variant=c.variant)}
%endif
</%block>

<%block name="sidebar">
    %if c.page.proposal:
        ${tiles.proposal.sidebar(c.page.proposal)}
    %endif
</%block>

<%block name="main_content">
    <div id="texts_table" class="table">
        ${c.texts_pager.here()}
    </div>
</%block>
