<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("New page")}</%def>

<%def name="breadcrumbs()">
	${h.page.breadcrumbs(None)|n} &raquo; ${_("New page")}
</%def>

<form name="create_page" class="inplace" method="POST" action="/page">
	${h.field_token()|n}
	%if c.proposal:
		<input type="hidden" value="${c.proposal}" name="proposal" />
	%endif
	
	<div class="sidebar">
		<div class="help">
    		<h3>${_("Help")}</h3>
    		<ul>
    		    <li>${h.help_link(_("Which pages types are there?"), 'page_faq', anchor='doctypes')|n}</li>
    			<li>${h.help_link(_("What is a wiki page?"), 'page_faq', anchor='whatiswiki')|n}</li>
    			<li>${h.help_link(_("What is a norm?"), 'page_faq', anchor='whatisnorm')|n}</li>
    			<li>${h.help_link(_("More help..."), 'page_faq')|n}</li>
    		</ul>
    	</div>
	</div>
	
	<div class="mainbar">
	    <h3>${_("Norm title")}</h3>
		<div class="page_title">
    		<label for="title" class="armhint">${_("New norm")}</label>
    		<input tabindex="1" class="title armlabel" name="title" value="${c.title}"/>
    	</div>
    	
		<textarea tabindex="2" class="description armlabel normedit" cols="${model.Text.LINE_LENGTH}" name="text"></textarea>
		${components.formatting()}
		<br/><br/>
		<label for="tags" class="armhint">${_("Tags to describe the subject")}</label>
		<input name="tags" id="tags" class="armlabel long" />
		<span class="hint">${_("Multiple tags can be separated by commas.")}
			${h.help_link(_("Help."), 'tag_faq')|n}
		</span>
		
		<label for="parent">${_("Parent page:")}</label>
		${tiles.page.select_page(field_name="parent", functions=model.Page.PARENT_FUNCTIONS)}
		<span class="hint">${_("The new norm will be categorized under the specified parent theme.")}
			${h.help_link(_("Help."), 'selection_faq', anchor='parent')|n}
		</span>
	</div>
	
	<div style="clear:both;"></div>
	<div class="sidebar">
		<div class="infobox">
			${h.help_link(_("More help..."), 'page_faq')|n}
		</div>
	</div>
	<div class="mainbar">
		${components.savebox("/")}
		${components.form_watch(None, checked=True)}
	</div>
</form>