<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("New page")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance)|n} &raquo; ${_("New page")}
</%def>

<form name="create_page" class="inplace" method="POST" action="/page">
	${h.field_token()|n}
	<input type="hidden" value="${c.function}" name="function" />
	%if c.proposal:
		<input type="hidden" value="${c.proposal}" name="proposal" />
	%endif
	<div class="page_title">
		<label for="title" class="armhint">${_("New page")}</label>
		<input tabindex="1" class="title armlabel" name="title" value="${c.title}"/>
	</div>

	<div class="sidebar">
		&nbsp;
	</div>
	<div class="mainbar">
		<textarea tabindex="2" class="description armlabel" name="text"></textarea>
	</div>
	
	<div class="sidebar">
		<div class="infobox">
			${_("...")}
		</div>
	</div>
	<div class="mainbar">
		<label for="parent">${_("Parent page:")}</label>
		${tiles.page.select_page(field_name="parent", functions=c.model.Page.FUNCTIONS)}
	</div>

	<div style="clear:both;"></div>
	<div class="sidebar">
		<div class="infobox">
			<a target="_new" href="/static/page_faq.html">${_("More help...")}</a>
		</div>
	</div>
	<div class="mainbar">
		${components.savebox("/")}
		${components.form_watch(None)}
	</div>
</form>