<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("New page")}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.instance)|n} &raquo; ${_("New page")}
</%def>

<form name="create_page" class="inplace" method="POST" action="/page">
	${h.field_token()|n}
	%if c.proposal:
		<input type="hidden" value="${c.proposal}" name="proposal" />
	%endif
	<div class="page_title">
		<label for="title" class="armhint">${_("New page")}</label>
		<input tabindex="1" class="title armlabel" name="title" value="${c.title}"/>
	</div>

	<div class="sidebar">
		%if can.norm.create():
			<label for="norm">${_("Document type:")}</label><br/>
			<input type="radio" value="document" name="function" checked="checked" /> ${_("Wiki page")}<br/>
			<input type="radio" value="norm" name="function" /> ${_("Topic page")}<br/>
			<br/>
			<div class="infobox">
				${_("Topics can only be edited by including variants of them in proposals and voting on them.")}
			</div>
		%else:
			<input type="hidden" value="${c.function}" name="function" />
		%endif
	</div>
	<div class="mainbar">
		
		<textarea tabindex="2" class="description armlabel" name="text"></textarea>
		${components.formatting()}
		<br/><br/>
		<label for="tags" class="armhint">${_("Tags to describe the subject")}</label>
		<input name="tags" id="tags" class="armlabel long" />
		<span class="hint">${_("Multiple tags can be separated by commas.")}
			${h.help_link(_("Help."), 'tag_faq')|n}
		</span>
			
		
		<label for="parent">${_("Parent page:")}</label>
		${tiles.page.select_page(field_name="parent", functions=c.model.Page.PARENT_FUNCTIONS)}
		<span class="hint">${_("The new page will be categorized under the specified parent page.")}
			${h.help_link(_("Help."), 'selection_faq', anchor='parent')|n}
		</span>
	</div>
	

	<div style="clear:both;"></div>
	<div class="sidebar">
		<div class="infobox">
			${h.help_link(_("More help..."), 'page_faq')|n}
		</div>
	</div>
	<div class="mainbar">
		${components.savebox("/")}
		${components.form_watch(None)}
	</div>
</form>