<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="title()">${c.page.title}</%def>

<%def name="breadcrumbs()">${h.breadcrumbs(c.text)|n}</%def>

${tiles.page.header(c.page, c.tile, active='view', text=c.text)}

<div class="sidebar">
	%if c.page.has_variants:
	<h3 class="section"><img class="cd" src="/img/icons/page_variant_16.png"/> ${_("Variants")}</h3>
	<ul>
		%for variant in c.page.variants:
			<%
			text = c.page.variant_head(variant)
			%>
			<li>
				%if variant == c.model.Text.HEAD:
					<b>${_("Status quo")}</b>
				%else:
					<a href="${h.entity_url(text)}"><code>${variant}</code></a>
				%endif
				(<a href="${h.entity_url(text, member='history')}">history</a>)
				</li>
		%endfor
	</ul>
	<br/>
	%endif
	${tiles.tag.sidebar(c.page)}
	${tiles.delegation.sidebar(c.page, c.tile)}
	
	%if c.page.function == c.page.NORM:
		<br/>
		<h3 class="section"><img class="cd" src="/img/icons/proposal_16.png"/> ${_("Related Proposals")}</h3>
		%if not len(c.page.changing_selections):
			<div class="infobox">
			${_("No proposals are trying to change %s") % c.page.title}
			</div>
		%endif
		<ul>
			%for selection in c.page.changing_selections:
				<li>${h.proposal_link(selection.proposal)|n}</li>
			%endfor
		</ul>
		%if can.proposal.create():
		<br/>
		<div class="top_actions">
			<a class="button add ttip" title="${_('Introduce a new idea to debate.')}" href="/proposal/new">${_("new proposal")}</a>
		</div>
		%endif
	%endif
</div>

<div class="mainbar">
	${tiles.page.inline(c.page, c.tile, text=c.text)}
</div>
