<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="comment_tiles" file="/comment/tiles.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="title()">${c.page.title}</%def>

<%def name="breadcrumbs()">${h.breadcrumbs(c.text)|n}</%def>

${tiles.page.header(c.page, c.tile, active='view', text=c.text)}

<div class="sidebar">
	%if c.page.has_variants:
	<h3 class="section">${_("Variants")}</h3>
	<ul>
		%for variant in c.page.variants:
			<li>
				<%
				text = c.page.variant_head(variant)
				%>
				<a href="${h.entity_url(text)}">
				%if variant == c.model.Text.HEAD:
					<b>(status quo)</b>
				%else:
					<code>${variant}</code>
				%endif
				</a>
				@ rev <code><a href="/page/diff?left=${c.text.id}&right=${text.id}">#${text.id}</a></code>
				</li>
		%endfor
	</ul>
	<br/>
	%endif
	<h3 class="section">${_("History")}</h3>
	<ul>
		%for text in c.text.history:
			<li><code><a href="${h.entity_url(text)}">#${text.id}</a></code>: ${text.user.name} at ${text.create_time.date()} (<a href="/page/diff?left=${c.text.id}&right=${text.id}">cmp</a>)</li>
		%endfor
	</ul>
	<br/>
	${tiles.tag.sidebar(c.page)}
	${tiles.delegation.sidebar(c.page)}
</div>

<div class="mainbar">
	%if c.text.variant != c.model.Text.HEAD:
		<div class="infobox">${_("Currently showing the %s variant") % c.text.variant}</div>
	%endif
	${c.text.render()|n}
	
	%if can.comment.create():
		<div class="comment">
			${comment_tiles.create_form(None, c.page)}
		</div>
	%endif 
	
	%if not c.page.comment_count():
		<div class="infobox">
			${_("No comments were made yet.")}
		</div>
	%endif
	%for (reply, r_tile) in c.tile.comments():
		${tiles.comment.full(reply, recurse=True)}
	%endfor
</div>
