<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>
<%namespace name="state" file="/poll/state.html"/>

<%def name="title()">${c.page.title}</%def>

<%def name="breadcrumbs()">${h.text.breadcrumbs(c.text)|n}</%def>

${tiles.page.header(c.page, c.tile, active='view', text=c.text)}

<div class="sidebar">
	%if c.page.has_variants:
	<h3 class="section"><img class="cd" src="/img/icons/page_variant_16.png"/> ${_("Variants")}</h3>
	<ul>
		%for variant in c.page.variants:
			<%
			text = c.page.variant_head(variant)
			%>
			<li>
			    <a href="${h.entity_url(text)}">${text.variant_html|n}</a> 
				&middot;
				<a href="${h.page.url(c.page, member='history')}">${_("History")}</a>
			</li>
		%endfor
	</ul>
	%if can.variant.edit(c.page, ""):
        <div class="top_actions">
		<a class="button title add ttip" title="${_('Propose alternative language.')}" 
		    href="${h.entity_url(c.text, member='branch')}">${_("branch new variant")}</a>
		</div>
	%endif
	<br/>
	%else:
		<div class="infobox">
			${_("Page created on %s by %s") % (h.format_date(c.page.create_time), h.user.link(c.page.creator))|n} 
			&middot; <a href="${h.entity_url(c.page, member='history')}">${_("History")}</a>
		</div>
		<br/>
	%endif
	${tiles.tag.sidebar(c.page)}
	${tiles.delegation.sidebar(c.page, c.tile)}
	
	<br/>
	<h3 class="section"><img class="cd" src="/img/icons/proposal_16.png"/> ${_("Related Proposals")}</h3>
	%if not len(c.page.selections):
		<div class="infobox">
		${_("No proposals are related to %s") % c.page.title}
		</div>
	%endif
	<ul>
		%for selection in c.page.selections:
			<li>${h.proposal.link(selection.proposal, anchor='selection_%s' % selection.id)|n}</li>
		%endfor
	</ul>
	%if can.proposal.create():
	    <br/>
	    <div class="top_actions">
		    <a class="button add ttip" title="${_('Introduce a new idea to debate.')}" href="/proposal/new">
		        ${_("new proposal")}
		    </a>
	    </div>
	%endif
</div>

<div class="mainbar">
    %if h.has_permission("instance.admin") and c.page.function == 'document':
        <div class="infobox">
        Notice to instance administrators: <br/><br/>    
        <b>
            Wiki functionality has been removed from Adhocracy in release 1.1. Please move any Wiki pages to an external CMS or wiki before January 31, 2011. If you need assistance, please contact support@adhocracy.cc.
        </b>
        
        
        </div>
    %endif
    
	${tiles.page.inline(c.page, c.tile, text=c.text, 
	                    subpages_pager=c.subpages_pager,
	                    hide_discussion=False)}
</div>
