<%namespace name="components" file="/components.html"/>

<%def name="row(tile, page)">
	<div class="tile">
		<div class="base" style="background-image: url(${h.page_icon(page, size=32)});">
			<h3><a class="link" href="${h.entity_url(page)}">${page.title}</a></h3>
			##%for (tag, count) in page.tags[:5]:
			##	${h.tag_link(tag)|n}
			##%endfor
			<div class="meta noclear">				
				<img src="/img/icons/discuss_16.png" /> 
				${ungettext("%s comment", "%s comments", page.comment_count()) % page.comment_count()},
				${_("latest <b>%s</b>") % h.relative_time(tile.latest_revision_time)|n}&nbsp;
			</div>
		</div>
	</div>
</%def>


<%def name="select_page(tile, field_name, select, exclude, functions, list_limit, allow_empty=True)">
	%if list_limit is not None and c.model.Page.count(instance=c.instance, exclude=exclude, functions=functions) > list_limit: 
		<input name="${field_name}" />
	%else:
		<select name="${field_name}"> 
		%if allow_empty:
			<option value="">${_("(none)")}</option>
		%endif
		<%
		pages = c.model.Page.all(instance=c.instance, exclude=exclude, functions=functions)
		pages = c.lib.sorting.delegateable_full_title(pages)
		%>
		%for page in pages:
			<option value="${page.id}" ${'selected="selected"' if select and select.id == page.id else ""}>${page.full_title}</option>
		%endfor
		</select>
	%endif 
</%def>



<%def name="inline(tile, page, text)">
	${tiles.text.full(text)}
</%def>

<%def name="header(tile, page, active, text, variant)">
	<div class="top_actions title">
		
		##%if page.function == page.NORM and can.proposal.create():
		##	<a class="button add ttip" title="${_('Introduce a new idea to debate.')}" href="/proposal/new">${_("new proposal")}</a>
		##%endif
		
		%if can.page.create():
			<a class="button title add ttip" title="${_('Create a new document.')}" 
			    href="/page/new">${_("new document")}</a>
		%endif
				
		%if can.delegation.create():
			<a class="button title add ttip" title="${_('Delegate your say in this debate to another participant.')}" 
				 href="/delegation/new?scope=${page.id}">${_("delegate")}</a>
		%endif
		
		%if can.page.variant_edit(page, variant):
			<a class="button title edit" 
				href="${h.entity_url(text, member='edit')}">${_("edit")}</a>
		%endif
						
		%if can.page.delete(page):
			<a class="button title delete" 	
				href="${h.entity_url(page, member='ask_delete')}">${_("delete")}</a>
		%endif
		
		${components.watch(page)}
		${h.rss_button(page)|n}
	</div>
	
	<div style="clear: both;"></div>
	<h1 class="page_title">
	%if text.variant != text.HEAD:
		<img class="cd" src="/img/icons/page_variant_24.png" />
		${_("Change request: %s") % text.title}
	%else:
		<img class="cd" src="${h.page_icon(page, size=24)|n}" />
		${text.title}
	%endif
	</h1>
</%def>


