<%namespace name="components" file="/components.html"/>


<%def name="smallrow(tile, page)">
	<div class="tile smallrow">
		${h.page.link(page, icon=True, icon_size=16)|n}
	</div>
</%def>


<%def name="row(tile, page)">
	<div class="tile">
		<div class="base" style="background-image: url(${h.page.icon_url(page, size=32)});">
			<h3><a class="link" href="${h.entity_url(page)}">${page.title}</a></h3>
			<div class="meta noclear">				
				%if page.function == page.NORM:
					<img src="/img/icons/proposal_16.png" /> 
					${ungettext("%s proposal", "%s proposals", len(page.selections)) % len(page.selections)}
				%endif
				<img src="/img/icons/discuss_16.png" /> 
				${ungettext("%s comment", "%s comments", page.comment_count()) % page.comment_count()},
				${_("latest <b>%s</b>") % h.relative_time(page.find_latest_comment_time())|n}&nbsp;
			</div>
		</div>
	</div>
</%def>


<%def name="select_page(tile, field_name, select, exclude, functions, list_limit, allow_empty=True)">
	%if list_limit is not None and model.Page.count(instance=c.instance, exclude=exclude, functions=functions) > list_limit: 
		<input name="${field_name}" />
	%else:
		<select name="${field_name}"> 
		%if allow_empty:
			<option value="">${_("(none)")}</option>
		%endif
		<%
		pages = model.Page.all(instance=c.instance, exclude=exclude, functions=functions)
		pages = lib.sorting.delegateable_full_title(pages)
		%>
		%for page in pages:
			<option value="${page.id}" ${'selected="selected"' if select and select.id == page.id else ""}>${page.full_title}</option>
		%endfor
		</select>
	%endif 
</%def>



<%def name="inline(tile, page, text, subpages_pager=None, hide_discussion=False)">
	${tiles.text.full(text, subpages_pager=subpages_pager, 
	                  hide_discussion=hide_discussion)}
</%def>

<%def name="header(tile, page, active, text, variant)">
	<div class="top_actions title">
		
		%if can.norm.create() and active == 'view':
			<a class="button title admin ttip" title="${_('Create a new norm.')}" 
			    href="/page/new">${_("new norm")}</a>
		%endif
		
		%if can.variant.edit(page, "") and page.has_variants and active == 'diff':
			<a class="button title add ttip" title="${_('Propose alternative language.')}" 
			    href="${h.entity_url(text, member='branch')}">${_("branch new variant")}</a>
		%endif
		
		%if variant==model.Text.HEAD and can.variant.edit(page, variant):
			<a class="button title admin ttip" title="${_('Edit the status quo.')}" 
				href="${h.entity_url(text, member='edit')}">${_("edit")}</a>
		%elif can.variant.edit(page, variant):
        	<a class="button title edit ttip" title="${_('Edit this variant.')}" 
        		href="${h.entity_url(text, member='edit')}">${_("edit")}</a>
		%endif
		
		%if can.variant.delete(page, variant) and active == 'diff' and c.variant:
			<a class="button title delete ttip" title="${_('Delete this variant.')}" 
				href="${h.entity_url(text, member='ask_purge')}">${_("purge variant")}</a>
		%endif
						
		%if can.page.delete(page) and active != 'diff':
			<a class="button title delete" 	
				href="${h.entity_url(page, member='ask_delete')}">${_("delete")}</a>
		%endif
		
		${components.watch(page)}
	</div>
	
	<div style="clear: both;"></div>
	<h1 class="page_title">
	%if text.variant != text.HEAD:
	    <img class="cd" src="/img/icons/page_variant_24.png" />
	    %if c.variant:
		    ${_("Variant %s of %s") % (text.variant_html, text.title)|n}
	    %else:
	        ${_("Variant of %s") % (text.title,)}
	    %endif
	%else:
		<img class="cd" src="${h.page.icon_url(page, size=24)|n}" />
		${text.title}
	%endif
	</h1>
</%def>


