<%namespace name="components" file="/components.html"/>

<%def name="row(tile, page)">
	<div class="tile">
		<div class="base" style="">
			<h3><a class="link" href="${h.entity_url(page)}">${page.title}</a></h3>
		</div>
	</div>
</%def>


<%def name="header(tile, page, active, text)">
	<div class="top_actions title">
		%if can.delegation.create():
			<a class="button title add ttip" title="${_('Delegate your say in this debate to another participant.')}" 
			    href="/delegation/new?scope=${page.id}">${_("delegate")}</a>
		%endif
		
		%if can.page.edit(page):
			<a class="button title edit" 
				href="${h.entity_url(text, member='edit')}">${_("edit")}</a>
		%endif
						
		%if can.page.delete(page):
			<a class="button title delete" 	
				href="${h.entity_url(page, member='ask_delete')}">${_("delete")}</a>
		%endif
		
		${components.watch(page)}
		${h.rss_button(page)|n}
	</div>
	
	<div style="clear: both;"></div>
	<h1 class="page_title">
	%if text.variant != text.HEAD:
		${_("Change request: %s") % text.title}
	%else:
		${text.title}
	%endif
	</h1>
</%def>

