<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("Implementation")}
</%def>

${tiles.proposal.header(c.proposal, c.proposal_tile, active='implementation')}

<div class="sidebar">
	${tiles.proposal.sidebar(c.proposal, c.proposal_tile)}
	<br/>
	<h3 class="help">${_("Help")}</h3>
	<ul>
		<li><a href="/static/delegation_faq.html#whatis">${_("What is a delegation?")}</a></li>
		<li><a href="/static/delegation_faq.html#revoke">${_("Can delegations be revoked?")}</a></li>
		<li><a href="/static/delegation_faq.html">${_("More help...")}</a></li>
	</ul>
</div>

<div class="mainbar">
	<ul>
		%for selection in c.proposal.selections: 
			<li>${h.page_link(selection.page)|n}
				<ol>
				%for (variant, poll) in selection.variant_polls:
						<li>
							<a href="${h.entity_url(selection.page.variant_head(variant))}">${variant}</a>
							score: ${poll.tally.score} (<a href="${h.entity_url(poll, member='vote')}?position=1&${h.url_token()}&_method=POST">+</a>${poll.tally.num_for}/<a href="${h.entity_url(poll, member='vote')}?position=-1&${h.url_token()}&_method=POST">-</a>${poll.tally.num_against})
						</li>
				%endfor
				</ol>
			</li>
		%endfor
	</ul>
	<br/><br/>
	<a href="${h.entity_url(c.proposal, member='implementation/new')}">Include another norm.</a>
</div>