<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("Implementation")}
</%def>

${tiles.proposal.header(c.proposal, c.proposal_tile, active='implementation')}

<div class="sidebar">
	${tiles.proposal.sidebar(c.proposal, c.proposal_tile)}
	<br/>
	<h3 class="help">${_("Help")}</h3>
	<ul>
		<li><a href="/static/delegation_faq.html#whatis">${_("What is a delegation?")}</a></li>
		<li><a href="/static/delegation_faq.html#revoke">${_("Can delegations be revoked?")}</a></li>
		<li><a href="/static/delegation_faq.html">${_("More help...")}</a></li>
	</ul>
</div>

<div class="mainbar">
	%if can.selection.create(c.proposal):
		<div class="top_actions title">
			<a class="button title add ttip" title="${_('Propose to change a norm through this proposal.')}" 
			    href="${h.entity_url(c.proposal, member='implementation/new')}">${_("Include a norm")}</a>
		</div>
		<br/><br/>
	%endif
	
	<div id="selections_table" class="table">
		%if not len(c.proposal.selections):
			<div class="infobox">
				${_("Proposals are implemented by including changes towards new or existing norm text (such as a position, a bylaw or a law). Include a norm for creation or changing to commence discussing an implementation for this proposal.")} 
			</div>
		%endif
		%for selection in c.proposal.selections: 
			<div class="tile">
				<h3>${h.page_link(selection.page)|n}</h3>
				%if selection.selected is None:
					<div class="infobox">
						${_("There is a tie between variants, thus none is included at the moment.")}
					</div>
				%elif selection.selected == c.model.Text.HEAD:
					<div class="infobox">
						${_("Status quo has the most votes, resulting in no change to the norm.")}
					</div>
				%endif 
				<ol>
				%for (variant, poll) in selection.variant_polls:
					<%
					text = selection.page.variant_head(variant)
					%>
						<li>
							<a href="${h.entity_url(poll, member='vote')}?position=1&${h.url_token()}&_method=POST"><img src="/img/arrows/aup_a.png" /></a> 
							
							%if variant == c.model.Text.HEAD:
								${_("status quo")}
							%else:
								<b><a href="${h.entity_url(text)}">${variant}</a></b>
							%endif
							// score: <b>${poll.tally.score}</b> <a href="${h.entity_url(poll, member='vote')}?position=-1&${h.url_token()}&_method=POST"><img src="/img/arrows/adown_a.png" /></a>
							%if variant == selection.selected and variant != c.model.Text.HEAD:
								<br/><br/>
								${text.render()|n}
							%endif
						</li>
				%endfor
						<a href="#">${_("more variants")}</a> 
						%if can.norm.edit(selection.page, 'any'): 
							&middot; <a href="${h.entity_url(selection.page, member='edit')}?new_variant=${c.lib.text.title2alias(c.proposal.title)}&proposal=${c.proposal.id}">${_("propose a new variant...")}</a> 
						%endif
				</ol>
			</div>
		%endfor
	</div>
</div>