<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Implementation: %s") % c.proposal.label}</%def>

<%def name="breadcrumbs()">
	${h.breadcrumbs(c.proposal)|n} &raquo; ${_("New change request")}
</%def>

${tiles.proposal.header(c.proposal, active='implementation')}

<h2>I want to modify, extend or abolish an existing position or norm.</h2>
<form name="create_selection" class="inplace" method="POST" 
      action="${h.entity_url(c.proposal, member='implementation')}">

	<div class="sidebar">
		<div class="infobox">
			${_("Include an existing norm.")}
		</div>
	</div>
	<div class="mainbar">
		${tiles.page.select_page(functions=[c.model.Page.NORM], exclude=[s.page for s in c.proposal.selections if not s.is_deleted()])}
		<br/><br/>
		<input type="submit" value="${_("Include")}" />
	</div>
	
	
</form>

<br/><br/><br/>

<h2>I want to propose the creation of a new position or norm.</h2>

<form name="create_page" class="inplace" method="POST" action="/page">
	${h.field_token()|n}
	<input type="hidden" value="${c.model.Page.NORM}" name="function" />
	<input type="hidden" value="${c.proposal.id}" name="proposal" />
	<div class="page_title">
		<label for="title" class="armhint">${_("New norm")}</label>
		<input tabindex="1" class="title armlabel" name="title" value=""/>
	</div>

	<div class="sidebar">
		<div class="infobox">
			${_("Propose a first revision of the page text.")}
		</div>
	</div>
	<div class="mainbar">
		<textarea tabindex="2" class="description armlabel" name="text"></textarea>
		
		<label for="parent">${_("Parent page:")}</label>
		${tiles.page.select_page(field_name="parent", functions=c.model.Page.FUNCTIONS)}
	</div>
	
	<div style="clear:both;"></div>
	<div class="sidebar">
		<div class="infobox">
			<a target="_new" href="/static/page_faq.html">${_("More help...")}</a>
		</div>
	</div>
	<div class="mainbar">
		${components.savebox("/")}
		${components.form_watch(None)}
	</div>
</form>
