  <footer>
    <div id="footer">
      <div class="page_margins">
        <div class="page_wrapper">
          <div id="footer_line">
            <div id="second_footer_line" class="subcolumns" role="complementary">
              <div class="c33l footer_content">
                  <ul>
                      <li><a class="staticlink_about" 
                             href="/static/about.html">
                          Wie funktioniert Adhocracy?
                      </a></li>
                      <li><a class="staticlink_codex" 
                             href="/static/codex.html">
                          ${_("code of conduct")}
                      </a></li>
                      <li><a class="staticlink_terms" 
                             href="/static/terms.html">
                          ${_("terms and conditions")}
                      </a></li>
                  </ul>
              </div>

              <div class="c33l footer_content">
                  <ul>
                      <li><a class="staticlink_privacy" 
                             href="/static/privacy.html">
                          ${_("privacy")}
                      </a></li>
                      <li><a class="staticlink_imprint" 
                             href="/static/imprint.html">
                          ${_("imprint")}
                      </a></li>
                  </ul>
              </div>

              <div class="c33r footer_content">
                <div class="subcr">
                  <div class="footer_box">
                    <div class="subcolumns">
                      <h3>Diese Plattform wird betrieben mit</h3>
                      <p><a href="https://github.com/liqd/adhocracy/" title="AdhocracyCode" id="link_footer_logo"><img src="/images/logo_adhocracy_code_footer.png" alt="AdhocracyCode" /></a></p>
                      <p>
                        <a href="http://creativecommons.org/licenses/by/3.0/de/" rel="license"><img src="/images/80x15.png" alt="Creative Commons License" /></a>
                        <a href="http://www.opendefinition.org/" rel="license"><img src="/images/oc_80x15_blue.png" alt="Open Definition" /></a>
                        v${h.version.get_version()}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
