<%namespace name="model" module="adhocracy.model"
/><%namespace name="components" file="/components.html"
/><!DOCTYPE html>
<html>
<head>
    ${components.head(self.title)}
    <link  rel="stylesheet" type="text/css"
        href="${h.base_url('/style/plain.css', None)}" />
</head>
<body lang="${c.locale.language}">
<div id="frame">
    <div id="page">
        <div class="content">
            ${self.body()}
            <div style="clear: both;"></div>
        </div>
    </div>
</div>

<%include file="piwik.html"/>

</body>
</html>
