<%namespace name="model" module="adhocracy.model"
/><%namespace name="components" file="/components.html"
/><%namespace name="navigation" file="/navigation.html"
/><%namespace name="debug" file="/debug/tiles.html"
/><%def name="breadcrumbs()">&nbsp;</%def><?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html>
<html class="no-js">
  <head>
      <%block name="head">
      ${components.head()}
      </%block>

      %if h.config.get('adhocracy.debug.sql'):
      ${debug.styles()}
      %endif
  </head>


<body lang="${c.locale.language}" class="${'logged_in' if c.user else ''}"
    %if c.monitor_page_time_interval:
    data-stats-baseurl="${c.monitor_page_time_url}"
    data-stats-interval="${c.monitor_page_time_interval}"
    %endif
    %if c.monitor_external_links_url:
    data-stats-monitor_external_links_url="${c.monitor_external_links_url}"
    %endif
    >
    <div class="overlay" id="overlay-default">
      <a class="close"></a>
      <!-- the external content is loaded inside this tag -->
      <div class="contentWrap"></div>
    </div>    
    <div class="overlay" id="overlay-big">
      <a class="close"></a>
      <!-- the external content is loaded inside this tag -->
      <div class="contentWrap"></div>
    </div>
    %if c.user and c.user.welcome_code and not c.user.password:
      <form id="user_welcome" action="${h.entity_url(c.user, member='set_password')}" method="post" data-success-message="${_('Password has been set. Have fun!')}">
      ${h.field_token()|n}
      <label><span>${_('Welcome to %s!') % h.site.name()} ${_('Please choose a password:')}</span>
      <input type="password" name="password" autofocus="autofocus" required="required" pattern=".{6,}" title="${('Please pick a secure password')}" x-moz-errormessage="${('Please pick a secure password')}"/>
      <input type="submit" value="${_('Set Password')}" />
      </label>
      </form>
    %endif
    %if c.user is None:
    <div class="overlay" id="overlay-login">
      <a class="close"></a>
      <div class="contentWrap">
         <div class="register">
             <p class="patch_description">
                 ${_('Get an account to participate in the discussion.')}
             </p>
             <a href="${h.base_url('/register')}" 
                class="button patch_camefrom">${_('Register')}</a> 
             ${_("or")} 
             <a href="${h.base_url('/login')}" 
                class="icon_link more_uppercase patch_camefrom">${_('Log in')}</a>
         </div>
      </div>
    </div>    
    %elif c.instance and can.instance.join(c.instance):
    <div class="overlay" id="overlay-join">
      <a class="close"></a>
      <div class="contentWrap">
         <div class="register">
             <p class="patch_description">
                 ${_('Join this instance to start contributing.')}
             </p>
             <a class="button patch_camefrom" href="${h.entity_url(c.instance, member='join')}?${h.url_token()}">${_("join")}</a> 
         </div>
      </div>
    </div>
    %elif c.instance and c.instance.require_valid_email and c.user and not c.user.is_email_activated():
    <div class="overlay" id="overlay-validate">
      <a class="close"></a>
      <div class="contentWrap">
         <div class="register">
             <p class="patch_description">
                 ${_('Validate email to start contributing.')}
             </p>
             <a class="button large patch_camefrom" href="${h.base_url('/user/%s/resend?%s' % (c.user.user_name, h.url_token()))}" title="${_('Resend validation email to %s')%c.user.email}">${_('Send activation link')}</a> 
             ${_("or")} 
             <a class="icon_link more_uppercase" href="${h.entity_url(c.user, instance=c.instance, member='edit')}">${_("Edit profile")}</a> 
         </div>
      </div>
    </div>
    %endif
    %if c.instance and c.instance.frozen:
    <div class="overlay">
      <a class="close"></a>
      <div class="contentWrap">
      ${_('This instance has been frozen - you can not edit or post anything.')}
      </div>
    </div>
    %endif
  <!-- begin: header -->
  <header>
    <div id="header">
      <div class="page_margins">
        <div class="page_wrapper">
          <!-- begin: top navi -->
          <div id="topnav">
            <!-- start: skip link navigation -->
            <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
            <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
            <!-- end: skip link navigation -->
            %if h.config.get('adhocracy.twitter.profile_url'):
            <a href="${h.config.get('adhocracy.twitter.profile_url')}" class="icon_link follow">Follow us!</a>
            %endif
          </div>

          <%include file="logo.html" />
          ${navigation.global_nav(c.active_global_nav)}
        </div>
      </div>
    </div>
  </header>

  <%block name="attention_getter">
  %if not c.suppress_attention_getter and c.instance is not None and (c.user is None or can.instance.join(c.instance) or (c.instance.require_valid_email and c.user and not c.user.is_email_activated())):
  <%doc>add an attention getter on instances</%doc>
    <div id="flash_message">
      <div class="page_margins">
          <div class="page_wrapper">
              <div class="message">
                  %if c.user is None:
                  <div class="register">
                      <a href="${h.register_redirect_url()}" 
                         ## rel="#overlay-ajax" FIXME: reactivate when ready.
                         class="button">${_('Register')}</a> 
                      ${_("or")} 
                      <a href="${h.login_redirect_url()}" 
                         ## rel="#overlay-ajax" FIXME: reactivate.
                         class="icon_link more_uppercase">${_('Login')}</a>
                  </div>
                  <p class="register_msg">
                      ${_('Get an account to participate in the discussion.')}
                  </p>
                  %elif can.instance.join(c.instance):
                  <div class="register">
                      <a class="button" href="${h.entity_url(c.instance, member='join')}?${h.url_token()}">${_("join")}</a> 
                  </div>
                  <p>
                      ${_('Join this instance to start contributing.')}
                  </p>
                  %else:
                  %if c.user.email is None:
                  <div class="register">
                      <a class="button" href="${h.entity_url(c.user, instance=c.instance, member='edit')}">${_("Edit profile")}</a> 
                  </div>
                  <p>
                      ${_('You need to set an email in your profile in order to contribute to this instance.')}
                  </p>
                  %else:
                  <div class="register">
                      <a class="button large" href="${h.base_url('/user/%s/resend?%s' % (c.user.user_name, h.url_token()))}" title="${_('Resend validation email to %s')%c.user.email}">${_('Send activation link')}</a> 
                      ${_("or")} 
                      <a class="icon_link more_uppercase" href="${h.entity_url(c.user, instance=c.instance, member='edit')}">${_("Edit profile")}</a> 
                  </div>
                  <p>
                  ${_('Please validate your email address in order to contribute to this instance.')}<br />
                  ${_('Your registered email address is:')} <em>${c.user.email}</em>
                  </p>
                  %endif
                  %endif
              </div>
          </div>
      </div>
  </div>
  %endif
  </%block>

  %if c.instance:
  ${navigation.subheader_instance_navigation(c.active_subheader_nav)}
  %endif

  <%block name="welcome">
  <div id="welcome_message">
    <div class="page_margins">
      <div class="page_wrapper">
          <%block name="flashmessages"></%block>
          <%block name="infoboxes"></%block>

          %if c.tutorial and h.tutorial.show(c.tutorial):
          <div class="only-js" id="tutorial-banner">
              <%components:build_infobox>
              <div id="tutorial-intro">
                  ${c.tutorial_intro|n}
              </div>
              %if not c.tutorial_hide_start_button:
              <a id="start-tutorial-button" 
                 href="#"
                 class="button"
                 data-next="${_('Next')}"
                 data-previous="${_('Previous')}">
                  ${_('start_this_tutorial')}
              </a>
              %endif
              <a href="#" id="disable-this-tutorial"
                 class="disable-link">
                  ${_('disable_this_tutorial')}
              </a>
              <a href="#" id="disable-all-tutorials"
                 class="disable-link">
                  ${_('disable_all_tutorials')}
              </a>
              </%components:build_infobox>
          </div>
          %endif
      </div>
    </div>
  </div>

  </%block>
  <div id="main" class="default_content">
  <%block name="main">
  </%block>
  </div>
      
  <!-- Fixme: Here to render error pages -->
  ${self.body()}

  <%include file="piwik.html"/>
  <%include file="footer.html"/>

    <!-- Dummy tag to merge in wordpress scripts -->
    <div id="external_scripts"></div>
    
    %if h.config.get('adhocracy.debug.sql'):
    ${debug.queries()}
    %endif

    %if h.feedback.is_configured():
      ${components.feedback()}
    %endif

  </body>
</html>
