<%def name="votes(poll)">
<%
tally = poll.tally
num_votes = len(tally)
url = h.entity_url(poll, member='votes')
para = _('A total of <a href="%(url)s">%(votes)s Votes</a>, thereof %(for)s ayes and %(against)s nays') % {'url': url, 'for': tally.num_for, 'against': tally.num_against, 'votes': num_votes}
%>

<h6>${_('Votes')}</h6>
<p>
    ${para|n}
</p>

</%def>

<%def name="votedetail(vd)">
%if vd:
<h6>${_('Votes by User Group')}</h6>
<dl class="votedetail">
%for b, tally in vd:
	<dt>${b.title}</dt>
	<dd><span class="num_for">${tally.num_for}</span> : <span class="num_against">${tally.num_against}</span></dd>
%endfor
</dl>
%endif
</%def>

<%def name="shortlink(delegateable)">
<%
shortlink = h.site.shortlink_url(delegateable)
%>

<h6>${_('Shortlink')}</h6>
<p><a href="${shortlink}">${shortlink}</a></p>

</%def>
